/* CSS Document */
@font-face {
    font-family: 'Conv_JennaSue';
    src: url('assets/fonts/JennaSue.eot');
    src: local('☺'), url('assets/fonts/JennaSue.woff') format('woff'), url('assets/fonts/JennaSue.ttf') format('truetype'), url('assets/fonts/JennaSue.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
section>.inner>h1, section>.inner>header>h1 { text-align: center;}

footer.more { text-align: center; margin-top: -50px; margin-bottom: -20px;}
footer.more>a { display: inline-block; width: 152px; margin: 50px 0; font-size: 12px; line-height: 46px; color: #fff; text-decoration: none; border: 1px solid #27c2ad; border-radius: 5px; background: #27c2ad; text-align: center; font-family: 'Raleway', 'Conv_Raleway 900', Arial, sans-serif; font-weight: 900 ;}
footer.more>a:hover { color: #fff; background: #008c99;  border: 1px solid #008c99; }


#front_slider article header .slider_icon {display: -webkit-inline-box; font: 40px/40px 'Conv_JennaSue', Georgia, Times, serif;}
#front_slider article header .slider_icon img{vertical-align: middle; }
#front_slider article header .slider_left_icon img{width: 150px; height: 150px; margin-top: 25px; opacity: 0.4;  filter: alpha(opacity=40); /* For IE8 and earlier */}
#front_slider article header .slider_mid_icon img{width: 200px; height: 200px;}
#front_slider article header .slider_right_icon img{width: 150px; height: 150px; margin-top: 25px; opacity: 0.4;  filter: alpha(opacity=40); /* For IE8 and earlier */}

#front_slider article header .slider_right_arrow img{width: 100px !important; height: 100px !important; margin-top: 60px;}

#front_slider { position: relative; padding: 13.57% 50%; border-bottom: 1px solid #e0e0e0; color: #fff; font-size: 18px; line-height: 32px; overflow: hidden;}
#front_slider h1 { color: #fff;}
#front_slider article { display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; padding: 0;}
#front_slider article.current { display: block;}
#front_slider article img { display: block; width: 100%; height: auto;/*height: auto;*/}
#front_slider article header { position: absolute; left: 0; top: 20px; width: 100%; text-align: center;}
#front_slider article header h1 { font-size: 70px; line-height: 96px; margin: 0 0 -40px 0;}
#front_slider article header a { color: #fff;}
#front_slider article header a:hover { color: #27c2ad; text-decoration: underline;}
#front_slider article button { position: absolute; left: 50%; top: 40%; display: block; width: 80px; height: 20%; max-height: 80px; min-height: 36px; margin: -40px; border: none; outline: none; background: url(../../images/btn_play.png) no-repeat center center; cursor: pointer; background-size: contain;}
#front_slider .dots { position: absolute; left: 0;/* bottom: 10%;*/ bottom: 5%; width: 100%; height: 8px; margin: -8px 0; text-align: center; line-height: 8px;}
#front_slider .dots span { display: inline-block; height: 8px; width: 8px; margin: 0 5px; border-radius: 50%; background: #939794; transition: background ease .3s;}
#front_slider .dots span.current { background: #27c2ad;}
#front_slider .arrow { position: absolute; top: 40%; display: block; width: 40px; height: 40px; /*margin: -20px 0;*/ opacity: .7; background: url(../../images/slider_arrows.png) no-repeat 0 0; cursor: pointer; transition: all ease .3s;}
#front_slider .arrow:hover { opacity: 1;}
#front_slider .arrow.left { left: 30px;}
#front_slider .arrow.right { right: 30px; background-position: 0 -40px;}

#front_slider article .sliderBtn a {
    border: 1px solid #fff;
    font-family: 'Raleway', 'Conv_Raleway 900', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 230px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
#front_slider article .sliderBtn > a:hover {background: #27c2ad; text-decoration: none; color: #fff;}

@media screen and (max-width: 768px) 
{
	#front_slider {padding: 33.57% 50% !important;}
	#front_slider article img {display: block;width: 100%;height: 520px !important;	}
	#front_slider article header .slider_left_icon img,
	#front_slider article header .slider_right_icon img {display: none;}
	#front_slider article header .slider_right_arrow img {display: none;}
	#front_slider article header .slide_icon_title{display: none;}
	#front_slider article header .slider_mid_icon img {width: 250px !important; height: 250px !important;}
}
@media screen and (max-width: 678px) 
{
	#front_slider {padding: 40.57% 50% !important;}
	#front_slider article img {display: block;width: 100%; height: 540px !important;}
	#front_slider article header .slider_mid_icon img {width: 200px !important; height: 200px !important;}
}
@media screen and (max-width: 530px) 
{
	#front_slider header p a{font-size: 15px !important;}
	#front_slider {padding: 45.57% 50% !important;}
	#front_slider article img {display: block;width: 100%; height: 540px !important;}
	#front_slider article header .slider_mid_icon img {width: 170px !important; height: 170px !important;}
}
@media screen and (max-width: 450px) 
{
	#front_slider header p a{font-size: 15px !important;}
	#front_slider {padding: 48.57% 50% !important;}
	#front_slider article img {display: block;width: 100%; height: 540px !important;}
	#front_slider article header .slider_mid_icon img {width: 170px !important; height: 170px !important;}
}
@media screen and (max-width: 430px) 
{
	#front_slider header p a{font-size: 15px !important;}
	#front_slider {padding: 50.57% 50% !important;}
	#front_slider article img {display: block;width: 100%; height: 540px !important;}
	#front_slider article header .slider_mid_icon img {width: 140px !important; height: 140px !important;}
}
@media screen and (max-width: 370px) 
{
	#front_slider header p a{font-size: 15px !important;}
	#front_slider {padding: 63.57% 50% !important;}
	#front_slider article img {display: block;width: 100%; height: 540px !important;}
	#front_slider article header .slider_mid_icon img {width: 140px !important; height: 140px !important;}
}

@media screen and (max-width: 1720px) 
{
	/*#front_slider article header { font-size: 14px; line-height: 15px;}
	#front_slider article header h1 { font-size: 56px; line-height: 60px; margin: -24px 0 -24px 0;}*/
	#front_slider {padding: 14.57% 50%;}
}
@media screen and (max-width: 1620px) 
{
	#front_slider {padding: 15.57% 50%;}
}
@media screen and (max-width: 1520px) 
{
	#front_slider {padding: 16.57% 50%;}
}
@media screen and (max-width: 1420px) 
{
	#front_slider {padding: 17.57% 50%;}
}
@media screen and (max-width: 1320px) 
{
	#front_slider {padding: 18.57% 50%;}
}
@media screen and (max-width: 1260px) 
{
	#front_slider article header {top: 0;}
	#front_slider article header .slider_right_arrow img {width: 70px !important; height: 70px !important; margin-top: 55px;}
	#front_slider article header h1 {font-size: 60px; line-height: 96px; margin: 0 0 -40px 0;}
	#front_slider article header .slider_icon {display: -webkit-inline-box;font: 30px/30px 'Conv_JennaSue', Georgia, Times, serif;}
	#front_slider article header .slider_left_icon img,
	#front_slider article header .slider_right_icon img {
		width: 100px;
		height: 100px;
		margin-top: 42px;
		opacity: 0.4;
		filter: alpha(opacity=40);
	}
	#front_slider article header .slider_mid_icon img {width: 170px; height: 170px;}
}
@media screen and (max-width: 1060px) 
{
	#front_slider article header h1 {font-size: 50px; line-height: 96px; margin: 0 0 -50px 0;}
	#front_slider {padding: 19.57% 50%;}
	#front_slider article img {
		display: block;
		width: 100%;
		height: 410px;
	}
}
@media screen and (max-width: 998px)
{
	#front_slider {padding: 20.57% 50%;}
}
@media screen and (max-width: 940px)
{
	#front_slider {padding: 21.57% 50%;}
}
@media screen and (max-width: 890px)
{
	#front_slider .dots { display: none;}
	#front_slider article .sliderBtn a {font-size: 14px; height: 40px; width: 182px; line-height: 40px;}
	#front_slider article header .slider_left_icon img, #front_slider article header .slider_right_icon img {
		width: 100px;
		height: 100px;
		margin-top: 15px;
		opacity: 0.4;
		filter: alpha(opacity=40);
	}
	#front_slider article header .slider_right_arrow img {width: 70px !important; height: 50px !important; margin-top: 40px;}
	#front_slider article header .slider_mid_icon img {width: 130px; height: 130px;}
}

@media screen and (max-width: 830px)
{

	#front_slider article header .slider_mid_icon img {width: 130px; height: 130px;}
	#front_slider article .sliderBtn a {font-size: 14px; height: 40px; width: 182px; line-height: 40px;}
}


/*@media screen and (max-width: 767px) and (orientation: portrait)
{
	#front_slider .dots { display: none;}
}
*/
#front_training {}
#front_training .inner { max-width: 1170px; padding: 15px 0;}/*padding: 50px 0;*/
#front_training .inner:after { content: ' '; display: block; clear: both;}
#front_training .inner article { float: left; width: 30.77%; margin: 0 1.28%; text-align: center;}
#front_training .inner article img { display: block; width: 300px; max-width: 100%; height: auto; margin: 10px auto;}
#front_training .inner article h1 { margin: 14px 0 -24px 0;}
#front_training .inner article h1 a:hover{
	color: #27c2ad;
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

@media screen and (max-width: 991px) 
{
#front_training .inner article { float: none; width: auto;}
#front_training .inner article + article {  margin-top: 30px;}
}


#front_about { text-align: center; font-size: 18px; line-height: 32px; font-weight: 300; color: #fff; background: url(../../images/front/bg_about.jpg) no-repeat center top; background-size: cover;}
#front_about h1 { padding-top: 78px; color: #fff; background: url(../../images/front/ico_about.png) no-repeat center 10px;}
#front_about footer { margin-top: -24px;}
/*#front_about>.inner>footer>a { background: none; border-color: #fff;}*/
@media screen and (max-width: 767px) and (orientation: portrait)
{
	#front_about { font: inherit;}
}

#front_events { position: relative; background: url(../../images/front/bg_classes03.jpg) no-repeat left top; background-size: cover;}
#front_events:before { position: absolute; content: ' '; display: block; width: 50%; height: 100%; right: 0; top: 0; background: #f7f7f7 url(../../images/w70.png) repeat 0 0;}
#front_events .inner { position: relative; z-index: 2; /*padding-bottom: 60px;*/}
#front_events .inner:after { content: ' '; display: block; clear: both;}
#front_events .inner .col { float: left; width: 49.59%; margin: -30px -3.72%}/* width: 43.59%; margin: 0 1.28%*/
#front_events .inner .col[id="front_events_about"] li { text-align: left; margin-bottom: 15px;}
#front_events .inner .col + .col { margin-left: 11.90%;}/*8.97%*/
/*#front_events .inner h1{font-weight: bold;}*/
#front_events .inner article h1 a:hover{
	color: #27c2ad;
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#front_events_about .wrapper{margin-bottom: 30px;}
#front_events_about .frontHeaderContainer{display: inline-block;}
#front_events_about .frontEventDate{display: inline-block; float: left; font-size: 14px; font-family: Georgia, Times, serif;}
#front_events_about .frontEventTitle{display: inline-block; float: left; font-size: 14px !important; font-family: Georgia, Times, serif; font-weight: bold;}
#front_events_about .frontEventContent{display: block; vertical-align: top; text-align: justify;}
#front_events_about .frontEventContent img{vertical-align: middle; padding: 5px 15px 5px 5px;}
#front_events_about .frontEventContent .alignleft{float: left;}
#front_events_about .frontEventContent .alignright {float: right;}
#front_events_about .frontEventContent .aligncenter {clear: both; display: block; margin-left: auto; margin-right: auto;}
#front_events_about h1{font-size: 48px; text-align: left; font-family: 'Conv_JennaSue', Georgia, Times, serif; }
#front_events_about footer.more { text-align: left; margin-top: -24px;}
#front_events_about footer.more>a { width: auto; padding: 0 30px;}



/*#front_seeus .wrapper{margin-bottom: 40px;}
#front_seeus h1{font-size: 48px; text-align: left; font-family: 'Conv_JennaSue', Georgia, Times, serif; margin-top: 35px;}
.front_seeus_list{
	font-family: 'Raleway', 'Conv_Raleway regular', Arial, sans-serif;
	font-weight: 400;
    margin-bottom: 40px;
    min-height: 150px;
    width: 100%;
    padding: 0;
}
.front_seeus_list .image{
	float: left;		
	padding-right: 5px;
}
.front_seeus_list img{
	display: inline-block;
}
.front_seeus_list .image img{
    border: 7px solid #fff;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	width: 198px;
	height: 138px;
}

.front_seeus_list .info{
	margin-left: 230px;
}

.front_seeus_list .info > .title{
	font-family: 'Libre Baskerville', 'Conv_Libre Baskerville 700', Georgia, serif;
	font-weight: 700;
    font-size: 16px;
}

.front_seeus_list .info > .place {
    color: #8c8c8c;
    font-size: 12px;
}
.front_seeus_list .info > .place span {
    color: #27c2ad;
}

.front_seeus_list .info > .description {
    color: #555;
    font-size: 14px;
    margin-top: 14px;
}
.front_seeus_list .info a {
    color: #27c2ad;
    display: inline-block;
    font-size: 14px;
}
.front_seeus_list .info .link {
	margin-top: 0;
}
.front_seeus_list .info a:hover {
    text-decoration: underline !important;
}

#front_seeus a{
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}


#front_seeus .info .title a{color: #000;}
#front_seeus .info .title a:hover{
    color: #27c2ad;
    text-decoration: underline;
}
#front_seeus footer.more>a {
    border: 0px solid #fff;
	font-family: 'Raleway', 'Conv_Raleway 900', Arial, sans-serif;
	font-weight: 900;
	font-size: 12px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	padding-right: 10px;
	padding-left: 10px;
}
#front_seeus footer.more>a:hover {
    color: #fff; background: #008c99;
}
*/



#front_events_classes h1{font-size: 48px; text-align: left; font-family: 'Conv_JennaSue', Georgia, Times, serif; }
#front_events_classes article { padding: 18px 0 15px 150px; margin: 4px 0; background: #fff;}
#front_events_classes article:after { content: ' '; display: block; clear: both;}
#front_events_classes article img { float: left; display: block; width: 100px; height: 100px; margin: 0 30px 0 -130px;}
#front_events_classes article h1 { margin: 0; font: 14px/24px 'Raleway', sans-serif; display: inline-block;}
#front_events_classes article.csm h1 { color: #f79727;}
#front_events_classes article.cspo h1 { color: #e05b1d;}
#front_events_classes article.gold h1 { color: #dcc378;}
#front_events_classes article .front_div_viewbtn{display:block;}
#front_events_classes article .front_viewallBtn{float: right; display: inline-block; padding: 0 15px 0 15px; margin: 3px 30px 0 0; border-radius: 3px; font-size: 10px; line-height: 15px; color: #fff; text-decoration: none; background: #008c99; transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s;}
#front_events_classes article .front_viewallBtn:hover { color: #fff !important; background: #27c2ad; text-decoration: none;}
#front_events_classes article ul { list-style: none; padding: 0; margin: 4px 0; text-indent: 0; line-height: 22px;}
#front_events_classes article ul li span { display: inline-block; width: 115px;}
#front_events_classes article ul li a { float: right; display: inline-block; padding: 0 20px 0 10px; margin: 3px 30px 0 0; border-radius: 3px; font-size: 10px; line-height: 15px; color: #fff; text-decoration: none; background: #27c2ad url(../../images/link_arrow.png) no-repeat right center; transition: all 0.2s; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s;}
#front_events_classes article ul li a:hover { color: #fff; background: #008c99 url(../../images/link_arrow.png) no-repeat 96% center;}
#front_events_classes article ul li .nobglink { color: #000; background: none; float: none; display: inline-block; padding: 0; margin:0; border-radius: 0; font-size: 12px; line-height: 0;}
#front_events_classes article ul li .nobglink:hover { color: #27c2ad;}

footer.moreUpcomingClass { text-align: center; }
footer.moreUpcomingClass>a {text-align: center; float: none;margin: 50px 0;	text-transform: uppercase;}
#front_events_classes .moreUpcomingClass>a {
   	border: 1px solid #27c2ad; 
	border-radius: 5px; 
   	background: #27c2ad;
	font-family: 'Raleway', 'Conv_Raleway 900', Arial, sans-serif;
	font-weight: 900;
	font-size: 12px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    width: 250px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;	
	padding-right: 10px;
	padding-left: 10px;
	text-align: center;
	
}
#front_events_classes .moreUpcomingClass>a:hover {
    color: #fff; background: #008c99;
}


/*Front Our Approach*/
/*#front_ourapproach .container {background: #f7f7f7; position: absolute; width: 50%; height: 100%; left: 0; top: 0;}*/
#front_ourapproach .wrapper{margin-bottom: 40px;}
#front_ourapproach h1{font-size: 48px; text-align: left; font-family: 'Conv_JennaSue', Georgia, Times, serif; margin-top: 40px;}
#front_ourapproach .front_ourapproach_content{
	font-family: 'Raleway', 'Conv_Raleway regular', Arial, sans-serif;
	font-weight: 400;
    margin-bottom: 40px;
    min-height: 150px;
    width: 100%;
    padding: 0;
}

#front_ourapproach .front_ourapproach_content iframe {width: 450px; height: 240px;}

#front_ourapproach .front_ourapproach_content .ourapproach_content ol{line-height: none; font-family: 'Raleway', 'Conv_Raleway regular', Arial, sans-serif;}
#front_ourapproach .front_ourapproach_content .ourapproach_content ol li{list-style-type: decimal;}
#front_ourapproach .front_ourapproach_content .ourapproach_content ul{line-height: 15px; margin-left: 30px;}
#front_ourapproach .front_ourapproach_content .ourapproach_content ul li{list-style-type: disc; list-style-position: outside; padding: 5px;}
#front_ourapproach .front_ourapproach_content .ourapproach_content ul li ul li{list-style-type: square; list-style-position: outside; padding: 5px;}

#front_ourapproach .front_ourapproach_content .ourapproach_product{display: inline-block; float: left; padding: 0 0 0 210px; position: relative;}
#front_ourapproach .front_ourapproach_content .ourapproach_product img {left: 0; position: absolute; top: 0;}
#front_ourapproach .front_ourapproach_content .ourapproach_product_desc{display: inline-block;}


#front_ourapproach .front_ourapproach_content a{
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	color: #27c2ad;
	font-weight: 600;
}
#front_ourapproach .front_ourapproach_content a:hover{
    color: #008c99;
    text-decoration: underline;
}



/*TOP RIGHT SEARCH*/
#containerSearchForm{ width: auto; text-align: center; position: absolute; z-index: 9999; top: 0; right: 50px;}
#formContainer {
	display: block;
	position: relative;
	width: 400px;
	height: 50px;
	cursor: default;
	float: right;
}
#search-form {
	display: none;
	position: relative;
	width: 400px;
	height: 100px;
	cursor: default;
	background: #333333;
	border-bottom-left-radius: 10px;
}
#searchform {padding-top: 30px;}

.dropSearchBtn{
	position: relative; 
	background: #333333;
	width: 130px;
	height: 40px;
	float: right;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	cursor: pointer;
	color: #fff;
	text-align: left;
	padding: 10px;
	font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 300', Arial, sans-serif;
	font-size: 20px;
}
.searchDown{display: inline-block; float:right;}
.searchUp{display: none; float:right;}

#s {
  width: 340px;
  padding: 8px 11px;
  border: 1px solid #656565;
  color: #979797;
  font-size: 18px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #585858 url(../../images/search.png) right no-repeat;
  font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 300', Arial, sans-serif; 
}

#search-menu{float:right; position:relative;}

@media screen and (max-width: 1199px)
{ 
	#front_events_classes h1{font-size: 48px; text-align: center; font-family: 'Conv_JennaSue', Georgia, Times, serif; }
	#front_events .inner { padding: 0; margin: 0;}
	#front_events .inner .col { float: none;  width: auto; padding: 30px 15px 30px; margin: 0px auto!important; text-align: center;}
	#front_events .inner .col footer.more { text-align: center;}
	#front_events:before { position: absolute; content: ' '; display: block; width: 100%; height: 50%; right: 0; top: 50% !important; background: #f7f7f7 url(../../images/w70.png) repeat 0 0;}
	/*#front_events:before { display: none;}*/
	#front_events_about { background: url(../../images/w70.png) repeat 0 0;}
	#front_events_classes { padding-bottom: 70px!important;}
	#front_events_classes article { text-align: left; max-width: 75%; margin: 4px auto;}
	#front_events_classes article h1{text-align: left; font-size: 14px; font-family: 'Raleway', Georgia, Times, serif; }
	

	/*Front See Us*/
	/*.front_seeus_list .image{float: none; padding-right: 0;	text-align: center;}
	.front_seeus_list .info{margin-left: 0;	float: none;text-align: center;}
	#front_seeus h1{font-size: 48px; text-align: center; font-family: 'Conv_JennaSue', Georgia, Times, serif; margin-top: 35px;}
	.front_seeus_list .info > .title{margin-top: 10px;}
	#front_seeus footer.more>a {float: none;padding-right: 10px;padding-left: 10px; margin-bottom: 30px;}*/
	
	/*Front Our Approach*/
	#front_sections {
		color: #fff;
		text-align: center;
		background: #27c2ad;
		position: relative;
	}
	.front_ourapproach_content .image{float: none; padding-right: 0;	text-align: center;}
	.front_ourapproach_content {margin-left: 0;	float: none;text-align: center;}
	#front_ourapproach h1{font-size: 48px; text-align: center; font-family: 'Conv_JennaSue', Georgia, Times, serif; margin-top: 80px;}
	.front_seeus_list .info > .title{margin-top: 10px;}
	
	#front_ourapproach .front_ourapproach_content .ourapproach_product img {left: 0; position: relative; top: 0;}
	#front_ourapproach .front_ourapproach_content .ourapproach_content ul {
		line-height: 15px;
		margin-left: 0;
		display: inline-block;
		text-align: left;
		padding: 20px;
	}
	
	#front_ourapproach .front_ourapproach_content .ourapproach_product {
		display: inline-block;
		float: none;
		padding: 0 0 0 0;
		position: relative;
	}

}

@media screen and (max-width: 767px)
{
	#front_events_classes { padding-bottom: 20px!important;}
	#front_events_classes article ul li span { width: 90px;}
	#front_events_classes article ul li a { margin-right: 15px;}
	
	#front_events_classes article .front_div_viewbtn { display: block; text-align: center;}
	#front_events_classes article .front_viewallBtn { float: none; display: inline-block;  padding: 0 15px 0 15px; margin: 0; line-height: 22px; margin-bottom: 20px;}
	
	/*Front Our Approach*/
	#front_events:before {
		position: absolute;
		content: ' ';
		display: block;
		width: 100%;
		height: 50%;
		right: 0;
		top: 66% !important;
		background: #f7f7f7 url(../../images/w70.png) repeat 0 0;
	}
	#front_events .inner .col {
		float: none;
		width: auto;
		/*padding: 30px 15px 0;*/
		margin: 0px auto!important;
		text-align: center;
	}
}
/* and (orientation: portrait)*/
@media screen and (max-width: 767px)
{
	#front_events_classes article { padding: 15px 20px;}
	#front_events_classes article img { float: none; margin: 10px auto;}
	#front_events_classes article h1 { text-align: center; margin: 20px 0; width: 100%;}
	#front_events_classes article ul { font-size: 12px;}
	#front_events_classes article ul li span { width: 80px;}
	#front_events_classes article ul li a { margin-right: 0;}
} 
@media screen and (max-width: 480px)
{
	#front_events_classes article {
		text-align: left;
		max-width: 100%;
		margin: 4px auto;
	}
	
	/*Our Approach*/
	#front_ourapproach .front_ourapproach_content iframe {
		width: 285px;
		height: 240px;
	}
	
	
}

#front_sections { color: #fff; text-align: center; background: #27c2ad;}
#front_sections h1 { color: #fff; font-size: 48px; text-align: center; font-family: 'Conv_JennaSue', Georgia, Times, serif; }
#front_sections article { float: left;/* width: 47.44%;*/ margin: 0 1.28%; padding: 30px 0 14px 110px; /*text-align: left;*/ box-sizing: border-box;}
#front_sections article.clear { clear: both;}
#front_sections article:after { content: ' '; display: block; clear: both;}
#front_sections article .img { float: left; width: 89px; height: 88px; padding: 17px;/* margin: 0 30px 0 -130px;*/  border: 3px solid #fff; border-radius: 50%; background: #008c99; position: relative;}
#front_sections article .img:before { content: ' '; position: absolute; top: 4px; left: 4px; display: block; width: 75px; height: 74px; border: 2px solid #fff; border-radius: 50%;}
#front_sections article .img img { display: block; width: 49px; height: 48px;}
#front_sections article h1 { font: 16px 'Libre Baskerville', serif; font-weight: normal; text-align: center; margin: 35px 0 0 -100px; width: 240px;/*margin: 0 0 -18px 0;*/  }
#front_sections article h1 a{ color: #fff; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
#front_sections article h1 a:hover {text-decoration: underline;}
#front_sections footer.more { clear: both;}
/* #front_sections footer.more>a { background: none; margin-top: 16px; border-color: #fff;} */
#front_sections article .img.imgleft { float: right; margin: 0 1px 0 30px;}
#front_sections article .txtleft { text-align: right;}
#front_sections article .img.imgright { float: left; margin: 0 0 0 -116px;}
#front_sections article .txtright { text-align: left;}
#front_sections article .img:hover {background: #54d1cd;}
#front_sections footer.more>a {
    border: 1px solid #fff;
	font-family: 'Raleway', 'Conv_Raleway 900', Arial, sans-serif;
	font-weight: 900;
	font-size: 12px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 230px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
#front_sections footer.more>a:hover {
    background: #ffffff;
    color: #27c2ad;
}

@media screen and (max-width: 767px){
	#front_sections article { /*width: 35% !important;*/ padding: 55px 0 0 50px;}
	
}
@media screen and (max-width: 996px) 
{
	#front_sections article {width: 20%; text-align: center; padding: 30px 0 14px 80px;}
	#front_sections article .img.imgleft { float: none; margin: auto}
	#front_sections article .txtleft { text-align: center;}
	#front_sections article .img.imgright { float: none; margin:auto;}
	#front_sections article .txtright { text-align: center;}
	#front_sections article h1 {width: 130px; margin: 35px 0 0 -40px; font: 15px 'Libre Baskerville', serif;}
	#front_sections footer.more>a {margin-top: 87px;}
}

@media screen and (max-width: 768px){
	#front_sections article {
		float: left;
		margin: 0 1.28%;
		padding: 30px 0 14px 68px !important;
		box-sizing: border-box;
	}
	
}
/*@media screen and (max-width: 480px) and (orientation: landscape){
	#front_sections article {
		float: none;
		margin: 0;
		box-sizing: border-box;
		display: -webkit-box;
	}	
}
*/
@media screen and (max-width: 640px){
	#front_sections article { width: 35% !important; padding: 65px 0 0 120px !important;}
}
@media screen and (max-width: 597px){
	#front_sections article {float: left; margin: 0; padding: 30px 0 50px 110px; box-sizing: border-box; display: block;}
	#front_sections article h1 {
		width: 215px;
		margin: 35px 0 0 -75px;
		font: 14px 'Libre Baskerville', serif;
	}
}
@media screen and (max-width: 480px){
	#front_sections article {float: none;/* margin-top: 50px;*/ padding: 37px 25px !important;  box-sizing: border-box; display: -webkit-inline-box;}
	#front_sections article h1 {
		width: 120px;
		margin: 35px 0 0 -34px;
		font: 14px 'Libre Baskerville', serif;
	}
}

@media screen and (max-width: 320px){
	#front_sections article {
		float: none !important;
		margin-top: 50px;
		padding-top: 9px !important;
		padding-left: 96px !important;
		box-sizing: border-box;
		display: -webkit-box;
	}	
	#front_sections article h1 {
		width: 240px;
		margin: 35px 0 0 -90px;
		font: 14px 'Libre Baskerville', serif;
	}
	
}

#front_team { text-align: center;}
#front_team .inner .carousel { width: 90%; margin: 34px auto; font-size: 0px; white-space: nowrap; overflow: hidden; position: relative;}
#front_team .inner .carousel article { display: inline-block; width: 33.33%; font-size: 14px; line-height: 16px; white-space: normal; text-align: center;}
#front_team .inner .carousel article img { display: block; width: 62.85%; margin: 0px auto; border-radius: 50%;}
#front_team .inner .carousel article h1 { margin: 16px 0 0 0;  color: #27c2ad;}
#front_team .inner .carousel article small { font-size: 12px; line-height: 16px;}
#front_team .inner .carousel .arrow { position: absolute; top: 50%; display: block; width: 23px; height: 40px; margin: -56px 0 0 0; background: url(../../images/carousel_arrows.png) no-repeat 0 0; opacity: .7; cursor: pointer; transition: opacity ease .3s;}
#front_team .inner .carousel .arrow:hover { opacity: 1;}
#front_team .inner .carousel .arrow.left { left: 0;}
#front_team .inner .carousel .arrow.right { right: 0; background-position: 0 -40px;}
#front_team .inner footer.more>a { margin: 0 0 30px 0;}
@media screen and (max-width: 767px)
{
	#front_team .inner .carousel { white-space: normal;}
	#front_team .inner .carousel .arrow { display: none;}
	#front_team .inner .carousel article { width: 50%; margin-top: 30px;}
	#front_team .inner .carousel article:first-child { margin-left: 0!important;}
}

@media screen and (max-width: 767px) and (orientation: portrait)
{
	#front_team .inner .carousel article { display: block; width: auto;}
}


#front_clients .inner { border-top: 1px solid #ccc;}
#front_clients .inner h1 { margin: 22px 0 22px 0; font: 14px/24px 'Raleway', sans-serif; font-weight: bold; text-transform: uppercase; letter-spacing: 2.5px;}
#front_clients .inner div { width: 80%; text-align: center; margin: 0px auto 30px auto;}
#front_clients .inner div span { position: relative; display: inline-block; width: 130px; margin: 0 15px; line-height: 90px; text-align: center; cursor: pointer;}
#front_clients .inner div span img { position: absolute; z-index: 2; opacity: 0; display: block; width: 100%; height: auto; vertical-align: middle; transition: opacity ease .3s;}
#front_clients .inner div span img + img { position: relative; opacity: 1;}
#front_clients .inner div span:hover img { opacity: 1;}
#front_clients .inner div span:hover img + img { opacity: 0;}
@media screen and (max-width: 767px) 
{
	#front_clients .inner div span { width: 100px; margin: 0 5px;}
	
	/*TOP RIGHT SEARCH*/
	#containerSearchForm{ width: 100%; right: 0;}
	#formContainer {width: 100%; float: none;}
	#search-form {display: none;width: 100%;border-bottom-left-radius: 0; padding-left: 20px; padding-right: 20px;}
	.dropSearchBtn{float: none;}
	#s { width: 100%;}
	#search-menu{float: right; right: 20px;}
}


#front_blog { background: #f7f7f7;}
#front_blog .inner {}
#front_blog .inner article { float: left; width: 50%; margin: 10px 0 30px 0; padding: 0 0 0 250px; box-sizing: border-box;}
#front_blog .inner article.clear { clear: both;}
#front_blog .inner article a { color: #27c2ad; text-decoration: none;}
#front_blog .inner article .img { float: left; display: block; width: 198px; height: 138px; margin: 0 24px 0 -234px; border: 6px solid #fff; box-shadow: 0px 2px 4px rgba(0,0,0, .12);}
#front_blog .inner article .img img { display: block; width: 198px; height: 138px;}
#front_blog .inner article header { font-size: 12px; line-height: 20px;}
#front_blog .inner article header h1 { font: 16px/24px 'Libre Baskerville', serif; font-weight: bold; margin: 0;}
#front_blog .inner article header a:hover { text-decoration: underline;}
#front_blog .inner article p { margin: 10px 0 0 0;}
#front_blog .inner>footer a { margin-top: 30px;}
@media screen and (max-width: 991px) 
{
	#front_blog .inner article { float: none; width: auto;}
}
@media screen and (max-width: 767px) and (orientation: portrait)
{
	#front_blog .inner article { padding: 0;}
	#front_blog .inner article .img { float: none; width: auto; height: auto; margin: 10px 0;}
	#front_blog .inner article .img img { width: 100%; height: auto;}
}




#front_careers { text-align: center; color: #fff; background: url(../../images/front/bg_careers.jpg) no-repeat center top; background-size: cover;}
#front_careers h1 { color: #fff;}
#front_careers footer.more>a { background: none; border-color: #fff;}












/*Front See Us in Action*/
.section.front_seeus a{transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;}
.section.front_seeus .info .title a{color: #000;}
.section.front_seeus a:hover { color: #27c2ad; text-decoration: underline;}
.section.front_seeus {background:#f7f7f7; color:#333333; padding-top: 65px;}
.section.front_seeus .container > .title {font-size: 48px; text-align: center; font-family: 'Conv_JennaSue', Georgia, Times, serif;}
.section.front_seeus .container > .subtitle {font-family: 'Raleway', 'Conv_Raleway regular', Arial, sans-serif;	font-weight: 400; text-align: center; margin-top: 18px;}
.section.front_seeus .container > .in_action_list {margin-top: 45px;}
.section.front_seeus .in_action_list .item {float: left; font-family: 'Raleway', 'Conv_Raleway regular', Arial, sans-serif; font-weight: 400; margin-bottom: 40px; min-height: 151px; width: 100%; padding: 0;}
.section.front_seeus .in_action_list .item > .image {padding: 0px; width: 100%; text-align: center;}
.section.front_seeus .in_action_list .item a {color: #27c2ad; display: inline-block; font-size: 14px; margin-top: 5px;}
.section.front_seeus .in_action_list .item a:hover {text-decoration: underline !important;}
.section.front_seeus .in_action_list .item > .image img {border: none; height: 100%; border: 7px solid #fff; -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12); -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12); width: 198px;	height: 138px;}
.section.front_seeus .in_action_list .item .info > .title {font-family: 'Libre Baskerville', 'Conv_Libre Baskerville 700', Georgia, serif; font-weight: 700; font-size: 16px; margin-top: 10px;}
.section.front_seeus .in_action_list .item .info {text-align: center; width: 100%; padding: 0 50px;}
.section.front_seeus .in_action_list .item .info > .place {color: #8c8c8c; font-size: 12px;}
.section.front_seeus .in_action_list .item .info > .place span {color: #27c2ad;}
.section.front_seeus .in_action_list .item .info > .description {color: #555; font-size: 15px; margin-top: 16px;}

footer.seeusmoreBtn { text-align: center;}
footer.seeusmoreBtn>a { display: inline-block; width: 230px; margin: 50px 0; font-size: 12px; line-height: 46px; color: #fff; text-decoration: none; border: 1px solid #27c2ad; border-radius: 5px; background: #27c2ad; text-align: center; font-family: 'Raleway', 'Conv_Raleway 900', Arial, sans-serif; font-weight: 900 ;}
footer.seeusmoreBtn>a:hover { color: #fff !important; background: #008c99;  border: 1px solid #008c99; text-decoration: none !important;}

@media screen and (min-width: 768px) {
    .section.front_seeus .in_action_list .item .info > .title {margin-top: 2px;}
    .section.front_seeus .in_action_list .item {position: relative;}
    .section.front_seeus .in_action_list .item .info {text-align: left; padding-left: 233px;}
    .section.front_seeus .in_action_list .item > .image {position: absolute; left: 0px; width: 213px;}
    .section.front_seeus .in_action_list .item > .image img {float: left;}
    .section.front_seeus .in_action_list .item {margin-left: 10px; width: 100%;}
}


@media screen and (min-width: 992px) {
    .section.front_seeus .container > .in_action_list {margin-left: -46px;}
    .section.front_seeus .container > .in_action_list {margin-left: -10px;}
    .section.front_seeus .in_action_list .item {margin-left: 10px; width: 460px;}
}

@media screen and (min-width: 1200px) {
    .section.front_seeus .container > .in_action_list {margin-left: -45px;}
    .section.front_seeus .in_action_list .item {margin-left: 45px; width: 540px;}
}





/*Front Page Subscribe Section*/

/*#front_keep_up { color: #fff; background: #27c2ad;}

#front_subcribe .inner:after { content: ' '; display: block; clear: both;}
#front_subcribe .inner .col { float: left; width: 50%;}
#front_subcribe .inner header h1 { color: #fff; text-align: left; margin: 17px 0 2px 0;}
#front_subcribe .inner header big { letter-spacing: 3px; font-size: 16px;}
#front_subcribe .inner header p { margin: 0 0 34px 0;}
#front_subcribe .inner form { display: block; padding: 53px 0; text-align: center;}
#front_subcribe .inner form input { width: 63%; margin: 0; padding: 11px 19px; font: inherit; color: #333; border: 1px solid #ebebeb; border-radius: 5px; background: #fff; outline: none;}
#front_subcribe .inner form input.error { border-color: #f00;}
#front_subcribe .inner form button { position: relative; top: -1px; width: 23%; height: 48px; padding: 12px 0; margin: 0; color: #fff; border: none; border-radius: 5px; background:#333; font: inherit; font-size: 12px; font-weight: 800; font-size: 12px; cursor: pointer; outline: none;}
#front_subcribe .inner form button:disabled { background: #9A9A9A;}
@media screen and (max-width: 991px) 
{
	#front_subcribe .inner header { text-align: center;}
	#front_subcribe .inner header h1 { text-align: center; margin: 42px 0 24px 0;}
	#front_subcribe .inner .col { width: 100%;}
	#front_subcribe .inner form input { max-width: 350px;}
	#front_subcribe .inner form button { max-width: 130px;}
}
@media screen and (max-width: 767px) and (orientation: portrait)
{
	#front_subcribe .inner form input { width: 140px;}
	#front_subcribe .inner form button { width: 90px;}
}*/

.section.front_subcribe .form .button:hover {
    background: #fff;
    color: #27c2ad;
    text-decoration: none;
}
.section.front_subcribe {
    min-height:215px;
    background:#009994;
    color:#fff;
    text-align:center;
    padding-bottom:50px;
}
.section.front_subcribe .text {
    padding: 0px;
}
.section.front_subcribe .form {
    margin-top: 30px;
    padding-left: 0px;
    padding-right: 0px;
}
.section.front_subcribe .text .title {
    font-family: "Conv_JennaSue";
    font-size: 48px;
    line-height: 48px;
    margin-top: 49px;
}
.section.front_subcribe .text .subtitle {
	font-family: 'Raleway', 'Conv_Raleway regular', Arial, sans-serif;
	font-weight: 400;
    font-size: 16px;
    letter-spacing: 3px;
    margin-top: 5px;
    text-transform: uppercase;
}
.section.front_subcribe .text .desc {
    font-size: 14px;
    margin-top: 4px;
}
.section.front_subcribe .form {
    float: right;
}

.section.front_subcribe .form input {
    float: left;
    height: 50px;
    background: #FFF;
    border: none;
    color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0 20px;
    margin-bottom: 10px;
    width: 100%;
}
.section.front_subcribe .form .button {
	font-family: 'Raleway', 'Conv_Raleway 800', Arial, sans-serif;
	font-weight: 800;
    font-size: 12px;
    color: #FFF;
    line-height: 50px; 
	text-align: center;
    width: 130px;
    height: 50px;
    background: #333333;
    display: inline-block;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
@media screen and (min-width: 768px) {
	.section.front_subcribe {
        text-align: left;
        padding-bottom: 50px;
    }
	.section.front_subcribe .form {
        margin-top: 49px;
    }
	.section.front_subcribe .form{
        padding-left: 25px;
    }
	.section.front_subcribe .form .button{
        width: 100%;
        float: left;
    }
}
@media screen and (min-width: 992px) {
	.section.front_subcribe .form {
        margin-top: 82px;
    }
	.section.front_subcribe .form .button{
        width: 23%;
        margin-left: 1%;
    }
	.section.front_subcribe .form input{
        width: 75%;
    }
}