/* CSS Document */
html {}
body { margin: 0; font: 14px/24px 'Raleway', 'Conv_Raleway regular', Arial, sans-serif; font-weight: 400; color: #555;}
header, section, footer, aside, nav, main, article, figure { display: block;}
h1 { font: 64px/72px 'Conv_JennaSue', Georgia, Times, serif; color: #333;}
section h1 { font-size: 48px; line-height: 54px; margin: 42px 0 24px 0;}
section article h1 { font-size: 38px; line-height: 42px;}
p { margin: 24px 0px;}
.inner { width: 100%; max-width: 1140px; padding: 30px 15px; margin: 0 auto;}
@media screen and (max-width: 1199px) { .inner { width: auto;}}


body { padding-top: 10px;}
body>header { height: 120px; background: #fff; border-bottom: 1px solid #e0e0e0; position: fixed; left: 0; right: 0; top: 0; z-index: 10;}
body>header .inner { padding: 30px 15px 0px 15px; position: relative;}
body>header .inner .logo { position: absolute; top: 12px; left: 50%; display: block; width: 170px; height: 97px; margin: 0 0 0 -85px;}
body>header .inner .logo img { display: block; width: 170px; height: 97px;}
body>header nav { padding: 15px 0 15px 0;  font: 22px/0px 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 300', Arial, sans-serif; font-weight: 300; }
body>header nav:after { content: ' '; display: block; clear: both;}
body>header nav .col { float: left; width: 38.6%; text-align: justify;}
body>header nav .col + .col { margin-left: 22.8%;}
body>header nav .col:after { content: ' '; display: inline-block; width: 100%;}
body>header nav a { display: inline-block; padding: 5px 5px 15px 5px; line-height: 32px; color: #555; text-decoration: none;}
body>header nav a:hover { text-decoration: underline;}
body>header button { display: none;}
@media screen and (max-width: 1199px) 
{
	body>header nav .col { width: 42%;}
	body>header nav .col + .col { margin-left: 16%;}
	body>header .inner .logo { top: 32px; left: 50%; width: 114px; height: 65px; margin: 0 0 0 -57px;}
	body>header .inner .logo img { display: block; width: 114px; height: 65px;}
	body>header nav { font-size: 20px;}
}
@media screen and (max-width: 991px) 
{
	body>header .inner .logo { top: 42px; left: 50%; width: 84px; height: 49px; margin: 0 0 0 -42px;}
	body>header .inner .logo img { width: 84px; height: 49px;}

	body>header nav { font-size: 18px;}

}
@media screen and (max-width: 767px) 
{
	body { padding-top: 1px;}
	body>header { height: 69px;}
	body>header .inner:after { content: ' '; display: block; clear: both; }
	body>header .inner .logo { position: absolute; top: 12px; left: 15px; width: 85px; height: 49px; margin: 0;}
	body>header .inner .logo img { width: 85px; height: 49px;}
	body>header button { float: right; display: block; width: 40px; height: 40px; margin: -15px 0 0 0;  border: 1px solid #27c2ad; border-radius: 3px; background: url(../images/nav.png) no-repeat center center; outline: none;}
	body>header nav { position: absolute; display: none; top: 69px; left: 0; right: 0; border-top: 2px solid #27c2ad; padding: 0;}
	body>header nav .col { display: block; margin: 0!important; padding: 0; float: none; width: auto;}
	body>header nav .col a { display: block; background: #fff; padding: 5px 15px 10px 15px; margin: 0; border-bottom: 2px solid #27c2ad;}
	body>header nav .col:after { display: none;}
}
@media screen and (min-width: 768px) 
{
	body>header nav  { overflow: visible!important; display: block!important;}
}

body>footer { padding: 45px 10px 45px 10px; color: #fff; background: #333;}
body>footer .inner:after { content: ' '; display: block; clear: both;}
body>footer a { color: #fff; text-decoration: none;}
body>footer a:hover { text-decoration: underline;}
body>footer a[href^=mailto] { color: #27c2ad;}
body>footer .row { text-align: justify; font-size: 0;}
body>footer .row:after { content: ' '; display: inline-block; height: 0; width: 100%;}
body>footer .row .col { display: inline-block; vertical-align: top; text-align: left; font-size: 14px; line-height: 23px;}
body>footer .row .col small { font: 12px 'Libre Baskerville', 'Conv_Libre Baskerville regular', Georgia, serif; font-weight: 400; color: #737373; display: inline-block; margin: 6px 0 6px 0;}
body>footer .row .col>a, body>footer .row .col>div>a { display: inline-block; margin: 5px 0 0 0;}
body>footer .row .col>p { margin: 6px 0 9px 0;}
body>footer .row .col>p b { font-size: 20px; font-weight: 500; white-space: nowrap;}
body>footer .row .col.logo { width: 250px; height: 120px; margin: 5px 15px 0 -15px; background: url(../images/logo_footer.png) no-repeat center center;}
body>footer hr { border: none; border-top: 1px solid #737373; margin: 20px 0 25px 0;}
body>footer .social + small { font-size: 13px; line-height: 32px; color: #737373; display: inline-block;}
body>footer .social { float: right; background: url(../images/social_icons_hover.png) no-repeat -1000px -1000px;}
body>footer .social a { display: inline-block; width: 32px; height: 32px; margin: 0 12px; text-decoration: none; background: url(../images/social_icons.png) no-repeat 0 0; transition: background ease .3s;}
body>footer .social a:hover { background-image: url(../images/social_icons_hover.png);}
body>footer .social a.fb {}
body>footer .social a.tw { background-position: -32px 0;}
body>footer .social a.in { background-position: -64px 0;}

@media screen and (max-width: 991px) 
{
	body>footer .row .col.logo { display: block; width: auto; margin: -15px 0 45px 0;}
}
@media screen and (max-width: 767px)
{
	body>footer .row .col.contacts { width: 100%; margin: 30px 0 0 0;} 
	body>footer .row .col.contacts br { display: none;}
}
@media screen and (max-width: 767px) and (orientation: portrait)
{
	body>footer .row .col { width: 100%; margin: 0!important;  background: url(../images/dd_arrow.png) no-repeat -1000px -1000px;}
	body>footer .row .col small { font-size: 14px; display: inline-block; padding: 1px 18px 1px 0; background: url(../images/dd_arrow_start.png) no-repeat right center;}
	body>footer .row .col small.opened { background: url(../images/dd_arrow.png) no-repeat right center;}
	body>footer .row .col div { display: none;}
	body>footer .social { float: none; margin: 15px 0 45px 0; text-align: center;}
	body>footer .social + small { display: block; text-align: center;}
	body>footer .row .col.contacts small { background: none;}
	body>footer .row .col.logo { background-size: 125px 60px; margin: -50px 0 0 0!important;}
}

@media screen and (min-width: 768px)
{
	body>footer .row .col div { display: block!important; overflow: visible!important;}
}

.bg_gray { background: #e8e8e8 url(../images/bg_gray.png) repeat center top;}



