ul.um_innerList {
	margin:-10px 0 0;
	padding:0;
	width: 43%;
	
	-webkit-column-count: 3;
	-moz-column-count: 3;
	-ms-column-count: 3;
	-o-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	-ms-column-gap: 30px;
	-o-column-gap: 30px;
	column-gap: 30px;
	columns: 3;
}

ul.um_innerList li {
	display: inline-block;
	width: 100%;
	border-bottom: solid 1px #e4e4e4;
	padding: 10px 0;
	
	-webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
}

.um_outterList i.fa { margin-right:5px; }

.um_dates { display:inline-block; }
.um_price { width: 10%; margin-right: 0 !important; float:right; }

.bookingInformation .um_outterList > li {
	border-bottom: solid 2px #e1e1e1;
	padding: 30px;
	background: #fff;
	margin: 0;
	position:relative;
}
.bookingInformation .um_outterList > li > .roomImage {
	position: relative;
	width: 12%;
	height: auto;
}

.bookingInformation .um_outterList > li > .roomImage > b {
	position: absolute;
	background: #e2b55d;
	padding: 5px;
	color:#fff;
}

.bookingInformation .um_outterList > li > .roomImage img {
	width:100%;
	height:auto;
}

body .um_room_title {
	position: absolute;
	bottom: 4px;
	color: #fff;
	padding: 15px;
	margin: 0 !important;
	left: 0;
	right: 0;
	
	-webkit-box-shadow: inset 0px -45px 26px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px -45px 26px -8px rgba(0,0,0,0.75);
	box-shadow: inset 0px -45px 26px -8px rgba(0,0,0,0.75);
}

.bookingInformation .um_outterList > li > * {
	display:inline-block;
	vertical-align:top;
	margin-right:1%;
}

.adminExtraMessage,
.adminExtraMessage +  .um_innerList { width:15%; }
.adminExtraMessage +  .um_innerList, 
.um_innerList + .um_innerList  { 
	-webkit-column-count: 1;
	-moz-column-count: 1;
	-ms-column-count: 1;
	-o-column-count: 1;
	column-count: 1;
	-webkit-column-gap: 0px;
	-moz-column-gap: 0px;
	-ms-column-gap: 0px;
	-o-column-gap: 0px;
	column-gap: 0px;
	columns: 1;
}

.bookingInformation .um_outterList > li form {
	position:absolute;
	bottom:0;
	right:0;
	background: #e4e4e4;
	width: 100px;
	text-align: center;
	padding: 10px 0;
	margin-right:0 !important;
}
.bookingInformation .um_outterList > li form a {
	color:#656565; 
	text-transform:uppercase; 
	font-size:13px; 
	text-decoration:none;
	padding:10px 26px; 
}
.bookingInformation .um_outterList > li form:hover {
	background:#ddd;
}
.bookingInformation b {
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
}

.um_price .thePrice {
	font-size:28px;
	color:#e2b55d;
	margin: 0;
}
.bookingInformation { color:#656565; }
.bookingInformation p { margin: 0 0 5px; }

.bookingInformation a {
	color:#4b97cc;
}
