.singleComments .comment-reply-title {
	padding:0 15px;
}

.singleComments .commentBody {
	border:solid 1px rgba(0,0,0,0.1);
}

.commentBody ul {
    list-style: none;
    padding:0;
}

.commentBody ul li {
    padding:30px 0;
}
.commentBody .comment  {
    padding-bottom:0px;
}

 .commentBody ul.children {
    padding:0;
    margin-top: 30px;
    position: relative;
}

.commentBody ul.children > li {
    padding-left:80px;
}

.commentBody li.comment {
    border-top:1px solid rgba(0,0,0,0.1);
}

.commentBody li.comment:first-child {
    border-top:0;
}

.commentBody li img {
    float:left;
    margin-right:30px;
    border-radius:50%;
    margin-bottom:10px;
    width:80px;
    height:80px;
}

.commentBody li .commentText .comment_name {
    text-transform: uppercase;
    margin-right:25px;
    color:#fff;
    font-weight:bold;
}

.commentBody li .commentText .comment_name a {
    color:#fff;
}

.commentBody li .commentTime {
    font-size:12px;
    margin-right:25px;
    color:#7d7d7d;
}

.commentBody li .comment-reply-link,
.commentBody li .edit-link a {
	border:solid 1px #e4e4e4;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 15px;
	font-weight: bold;
}

.commentBody li .comment-reply-link:hover,
.commentBody li .edit-link a:hover {
    background:rgba(0,0,0,0.1);
}

.commentBody li .edit-link {
	margin-left:5px; 
}

.children li.comment:first-child::before {
    content: "00";
    font-size: 45px;
    color: transparent;
    border-left: solid 1px rgba(0,0,0,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.1);
    position: absolute;
    left: 70px;
    top: 0;
	height: 70px;
}

div.comment {
	position: relative;
	z-index: 1;
}

li.comment {
	position: relative;
}

.commentButtons {
	position: absolute;
	top: 6px;
	right: -2px;
}

#commentform .resetWrapper .btn,
#commentform > .form-submit #submit {
	margin:0;
}

#commentform > .resetWrapper,
#commentform > .form-submit {
	display: inline-block;
	width:49%;
	padding-left:15px;
	padding-right: 5px
}

.commentText {
	margin: 0px 30px 40px 30px;
}

.comment-respond .logged-in-as { margin:0 15px; }

.comment-respond .logged-in-as a { color:#fff; }