b, strong, .title,
div.products h3, 
.woocommerce.widget .product_list_widget li a, 
.single-product.woocommerce .bssingleproduct .price, 
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta > strong, 
.woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta > strong, 
h1.product_title.entry-title, 
.shopPage .comment-form #submit, 
.woocommerce table.shop_table th, 
.woocommerce-page table.shop_table th, 
.woocommerce .cart-collaterals .cart_totals .amount, 
.woocommerce-page .cart-collaterals .cart_totals .amount, 
.woocommerce h2 + .bacs_details + h2, 
.woocommerce table.shop_table.order_details + header h2, 
.woocommerce .addresses h3, 
.woocommerce.widget_shopping_cart .total .amount, 
.woocommerce.widget_shopping_cart .buttons a, 
.bgImg .woocommerce-breadcrumb,
.bgImg .woocommerce-breadcrumb a, 
.bgImg .woocommerce-result-count, 
.bgImg .woocommerce-ordering select  {
	font-family: 'ralewaybold';
}
@media (max-width: 991px) {
	.nav.navbar-nav > li { font-family: 'ralewaybold'; }
	.nav.navbar-nav .sub-menu li { font-family: 'ralewayregular'; }
}

.sliderContent {
	font-family: 'ralewaymedium';
}

.serviceSinglePage .theContent .title {
	font-family: 'ralewayregular';
}
