::selection {
	background: #e2b55d;
	color:#fff;
}

::-moz-selection {
	background: #e2b55d;
	color:#fff;
}

html, body { height:100% !important; }
body { line-height:1.8em; font-size:13px;  color:#656565; border-color:rgba(0,0,0,0.1); background:#f1f1f1; font-family: 'ralewayregular'; }
img { max-width:100%; height:auto; }
.hasOverlay .mainBrandOverlay { opacity: 0; top: 0; left:0; }
.fullSlider > .royalSlider {
    width:100%;
    height:100%;
}
.absoluteFill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

input, select { padding:0 15px; }

.btn, input[type=submit], button {
	text-transform: uppercase;
	border-radius:0;
	background:transparent;
}

input[type=checkbox] { height: auto; vertical-align: sub; }
input[type=number] { padding-right:0 !important; }
input[type=radio], input[type=checkbox] { width:auto !important; height: auto !important; }
.btn-default {
    background:transparent; 
	border:solid 2px #fff;
    color:#fff;
}

.btn-brand {
    background:#e2b55d; 
	border:none;
    color:#fff;
}

.btn > i {
	margin-right: 10px;
}

.btn:hover, .btn:focus { text-decoration: none; }

.hasMiddle, .hasMiddleFirst { height:100%; }
.hasMiddleFirst { height:1px; }

b, strong, .title 	{ font-weight:bold; }
.title a:hover 		{ text-decoration:none; }
.titleUp 			{ text-transform: uppercase; }
.hasDec 			{ position:relative; padding:30px; margin-bottom:30px; }
.titleLS 			{ letter-spacing:2px; }


input, select, textarea, button a.btn, 
.bookingForm .bootstrap-select { height:50px; background:#ececec; border:none; border-radius:0; font-weight:bold; }

input:hover, select:hover, textarea:hover, .bootstrap-select:hover,  
input:focus, select:focus, textarea:focus, .bootstrap-select:focus,  
input:active, select:active, textarea:active, .bootstrap-select:active {
	border:0;
	outline:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}

button.selectpicker:focus {
	outline: none !important;
}


.btn-group.open .dropdown-toggle, 
.btn-group .dropdown-toggle:active {
	-webkit-box-shadow: none;
	box-shadow: none;
}

textarea { max-width:100%; }

.imgFullAuto { width:100%; height: auto; }
.mainBgColor { background:#fff; }
.mainColor { color:#fff; }
.brandColor, .brandColor:hover { color:#e2b55d; }
.brandBgColor { background: #e2b55d; }
.um_helper { display: table; height: 100%; width:100%; }
.um_middle { display: table-cell; vertical-align: middle; }
.hasOverlay { position: relative; }
.mainBrandOverlay {
	background: rgba(226, 181, 93, 0.85);
	position: absolute;
	width:100%; 
	height: 100%;
}

.verticalTop li { vertical-align:top; }

.um_ratio { padding-bottom: 100%; }

.um_transition, 
a, 
.um_transition h5, 
.mainBrandOverlay, 
.title, 
.blogItem,
.blogItem .itemContainer, 
.roomsBox img, 
.rsArrow .rsArrowIcn, 
.owl-buttons > div, .owl-buttons i.fa, 
.loadMoreContainer button, 
.services .servicePostWrapper, 
.productOverlay, 
div.products .product h3, 
.btn, 
.singleComments p.form-submit #submit, 
.woocommerce #submit, 
.woocommerce .button, 
.woocommerce button {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
