/* rewrite bootstrap rules */

@media (min-width: 992px) {
    .navbar {
        border-radius: 0;
    }
    .navbar-header,
    .navbar-nav,
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li {
        display: inline-block;
    }
    ul.navbar-nav {
        line-height: 80px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>li.active>a:hover {
        background-color: transparent;
    }
    .navbar-nav>li>a {
        line-height: 70px;
    }
}
.navbar {
    margin-bottom: 0px;
    border: 0;
    background: transparent;
}
.navbar-toggle {
    border: 0;
    float: none;
    margin: 30px 0;
    color: #fff;
}
.navbar-toggle i {
    margin-left: 5px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: transparent;
    border: 0;
    color: #fff;
}
@media (max-width: 991px) {
    .navbar-toggle {
        display: inline-block;
    }
	
	.navbar-default .navbar-collapse {
		background:rgba(255, 255, 255, 0.9);
		position: absolute;
		left: 0;
		width: 100%;
	}
	.sub-menu {
		visibility: visible !important;
		opacity: 1 !important;
		position:static !important;
		background: transparent !important;
		border-top:0 !important;
		padding:0 !important;
	}
	.sub-menu li {
		width:auto !important;
		text-align:center !important;
		border:0 !important;
	}
	.navbar-nav {
		margin: 0;
		padding: 60px 0;
	}
	.pageHeaderContainer .um_flex,
	.navbar { position:static; }
	.nav.navbar-nav > li { font-weight:bold; }
	.nav.navbar-nav .sub-menu li { font-weight:normal; }
	.nav.navbar-nav li a { border-top:solid 1px transparent; border-bottom:solid 1px transparent; }
	.nav.navbar-nav li a:hover { border-color:#e2b55d; }
}

@media (max-width:992px){
	
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #000;
    text-decoration: none;
}
a:focus {
    outline: none;
}
/* rewrite bootstrap rules END */

header#siteHeader,
footer#siteFooter {
    z-index: 3;
    position: relative;
}
.homePage .fullSlider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
/*rewrite royalSlider rules*/

.um_cusotmArrows .rsArrowIcn,
.rsDefault .rsArrowIcn {
    width: 32px;
    height: 32px;
    top: 50%;
    left: 50%;
    margin-top: 59px;
    margin-left: -16px;
    position: absolute;
    cursor: pointer;
    border:solid 2px #fff;
    border-radius: 0px;
    color: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.um_cusotmArrows .rsArrowIcn:hover,
.rsDefault .rsArrowIcn:hover {
    background: #fff;
    color: #e2b55d;
}
.rsDefault.rsHor .rsArrow {
    font-family: 'FontAwesome';
}
.rsDefault.rsHor .rsArrowIcn {
    font-size: 2em;
}
.um_cusotmArrows .rsArrowRight { right: 80px; }
.rsDefault.rsHor .rsArrowRight { right: 60px; }
.um_cusotmArrows .rsArrowLeft { left: 80px; }
.rsDefault.rsHor .rsArrowLeft { left: 60px; }

.rsDefault.rsHor .rsArrowRight .rsArrowIcn:after {
    content: "\f105";
    padding: 2px 11px;
}
.rsDefault.rsHor .rsArrowLeft .rsArrowIcn:after {
    content: "\f104";
    padding: 2px 0px;
	margin-left: -3px;
}

.singleWideSlider .rsDefault.rsHor .rsArrowLeft .rsArrowIcn:after {
	padding: 2px 8px;
	margin-left: 0px;
}

.singleRoomContent .rsDefault.rsHor .rsArrowLeft .rsArrowIcn:after {
	padding: 0px 12px;
	margin-left: -3px;
}


.rsDefault.rsHor .rsArrowRight .rsArrowIcn:after,
.rsDefault.rsHor .rsArrowLeft .rsArrowIcn:after {
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/*rewrite royalSlider rules END*/

.pageHeader, section.logo, .pageHeader .socialLinks {
    height: 100px;
}

footer#siteFooter {
    line-height: 60px;
    height: 60px;
}
.preHeader {
    line-height: 50px;
    height: 50px;
}

@media (max-width:767px) {
	footer#siteFooter { padding:15px 0; line-height:30px; height:auto; text-align:center; }
	footer#siteFooter .text-right { text-align:center; }
	.preHeader { height:auto; line-height:40px; }
	.preHeader .preLeft, .preHeader .preRight { float:none; display:block; text-align:center; }
	span.cart_totl { top: -11px !important; }
	.um_cusotmArrows .rsArrowRight { right: 30px; }
	.um_cusotmArrows .rsArrowLeft { left: 30px; }
	.sliderContent { padding: 0 55px; }
	.hasWidgets .sliderContent, .hasRooms .sliderContent { top:190px !important; }
	.row.homeWidget_masonry.um_masonry { margin:0 30px; }
	.singleWideSlider .roomsWideSlider { margin-top:-250px !important; }
}

@media (max-width:480px) {
		.hasWidgets .sliderContent, .hasRooms .sliderContent { top:230px !important; }
}

footer#siteFooter { border-top: solid 1px rgba(0,0,0,0.1); clear: both; }

main {
    min-height: calc(100% - 211px);
    min-height: -webkit-calc(100% - 211px);
    min-height: -moz-calc(100% - 211px);
    min-height: -o-calc(100% - 211px);
    
    position: relative;
	z-index: 2;
}

.um_noFooter main {
    min-height: calc(100% - 151px);
    min-height: -webkit-calc(100% - 151px);
    min-height: -moz-calc(100% - 151px);
    min-height: -o-calc(100% - 151px);
}

main.hasWidgets, main.hasRooms {
    min-height: calc(100% - 511px);
    min-height: -webkit-calc(100% - 511px);
    min-height: -moz-calc(100% - 511px);
    min-height: -o-calc(100% - 511px);
}

@media (max-width:768px) {
	main {
	    min-height: calc(100% - 301px);
	    min-height: -webkit-calc(100% - 301px);
	    min-height: -moz-calc(100% - 301px);
	    min-height: -o-calc(100% - 301px);
	}
}

.homeBoxes, .headerContainer { position: relative; }
.roomsHomeSlider .theBox footer,
.roomsPage .theBox footer  {
    min-height: 95px;
	padding: 30px 30px 20px 30px;
	overflow: hidden;
}
.roomsPage .theBox footer .title, 
.homeBoxes .roomsHomeSlider .theBox footer .title {
    margin-top: 0;
}


.theBox.menuBox ul li { padding: 18px 35px; }
.theBox.servicesBox ul li { padding: 25.5px 35px; }

.theBox.menuBox ul li {
    border-top: solid 1px rgba(0,0,0,0.1);
}

.theBox.menuBox .menuDescription { margin-bottom:0px; } 

.roomsPage .roomsBox {
    margin-bottom: 30px;
}

.roomsPage:not(.bgImg) .roomsBox footer {
	border:solid 1px rgba(0,0,0,0.1);
	border-top:0;
}

h3.pageTitle, .singleRoomPage .bookingInfo {
    position: relative;
    z-index: 5;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.headerImg section.pageTitle { height:300px; margin-bottom:60px; }
.headerImg.defaultPage section.pageTitle, 
.headerImg.aboutUsPage section.pageTitle { margin-bottom:-30px; }
.bgImg section.pageTitle { height:135px; }
.serviceSinglePage.bgImg section.pageTitle { height:235px; } 
.boxIcons {	margin-top: 10px; }

.boxIcons a.iconHolder {
    padding: 8px 0;
	border: solid 1px rgba(0,0,0,0.1);
	display: inline-block;
	width: 40px;
}

.boxIcons a.iconHolder + a.iconHolder {
	border-left:0;
} 

.boxIcons a.iconHolder:hover {
	color:#e2b55d;
}

.shopSidebar .boxIcons a.iconHolder {
	padding: 5px 0;
	width: 35px;
}

.boxIcons .iconHolder + a.iconHolder { margin-left:-5px; }

.um_parallax {
    height: 450px;
    width: 100%;
    
    background-position: 50% 0;
    background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.bgImg .pageImage .fullBg {
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-size: cover;
    background-position: 50% 0;
    background-repeat:no-repeat;
	background-attachment: fixed;
}

.pageImage {
    position: absolute;
    width: 100% !important;
    margin 0;
    padding: 0;
    
    overflow: hidden;
    z-index:-1;
    top:-150px;
}

.contactPage .pageImage { top: -420px; }

.homeBoxes { margin-top:300px; }
.homeBoxes .theBox { margin-bottom:30px; }

.theBox.menuBox { margin-bottom:30px; }
.theBox.menuBox header { padding:1px; }
.theBox.menuBox:hover .menuPrice { background: #e2b55d; }
.theBox.menuBox:hover .menuPrice p { color:#fff; }

.menuBox ul { padding:30px; }
.menuPrice {
	background: #e4e4e4;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: -50px auto 20px;
	position: relative;
	border: solid 4px #fff;
}
.menuPrice p, 
.menuBox ul p { margin:0; line-height: 22px; }
.searchFilter { 
	min-height: 60px; 
	border:solid 1px rgba(0,0,0,0.1); 
	position: relative;
	z-index: 6; 
}

.headerImg .searchFilter { margin: -90px auto 40px; }
.bgImg .searchFilter { margin: 0px auto 30px; }

	
.menuPrice p + p { font-weight:bold; }

.searchFilter .bootstrap-select.btn-group { margin-bottom:0; height:59px; }
.searchFilter .btn-default { border:0; color:inherit !important; }
.searchFilter .btn { margin:0; height:55px; } 
input[type=submit], button { margin:0; height:40px; }
.select { 
	padding: 0;
	position: relative;
}

.searchFilter .selectWrapper { padding:0; }

.searchFilter .selectWrapper:not(:last-child) { border-right:solid 1px rgba(0,0,0,0.1); }
.searchFilter .select > i.fa {
	position: absolute;
	top: 22px;
	left: 25px;
}

@media (max-width:992px) {
	.searchFilter .selectWrapper:not(:last-child) { border-bottom:solid 1px #eee; }
}

.selectWrapper .bootstrap-select > .btn { padding-left: 60px; }

.dropdown-menu {
	margin: -1px 0 0;
	border-radius: 0;
	border: none;
	padding: 30px;
}

.bootstrap-select.btn-group .dropdown-menu li {
	border-bottom: solid 1px rgba(0,0,0,0.1);
}

.bootstrap-select.btn-group .dropdown-menu li:last-child {
	border-bottom: 0;
}

.bootstrap-select.btn-group .dropdown-menu li a {
	line-height:35px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a i.check-mark {
	margin-top: 12px;
	font-size: 10px;
}

.dropdown-menu>li>a:hover, 
.dropdown-menu>li>a:focus {
	background:transparent;
	color:#e2b55d;
}

img.logo { max-width:none; }

.logo a:hover { color: inherit; }

.socialLinks ul { margin:0; }
.socialLinks li a {
	border: solid 2px #e2b55d;
	border-radius: 50%;
	padding: 1.5px 0;
	width: 30px;
	display: block;
}

.socialLinks li a:hover {
	background:#e2b55d;
	color:#fff;
}

#siteFooter p { margin:0; }

.languageSwitcher li + li:before {
	content:'\b7\a0';
	margin:0 5px 0 -5px;
}


.btn-default:hover, .btn-default:focus, .btn-default:active, 
.btn-default.active, .open .dropdown-toggle.btn-default {
	color: inherit;
	background-color: inherit;
	border-color: inherit;
}

.sliderContent .brn,
.sliderContent button,
.sliderContent button.btn {
	text-transform:none;
}

.rsDefault .rsArrowDisabled .rsArrowIcn {
	opacity: 1;
	background:transparent !important;
	border:solid 2px #fff;
	color:#fff;
}

/* navigation menu */

.nav.navbar-nav li a { text-transform:uppercase; }
.nav.navbar-nav li a:hover { color:#e2b55d; }


/* navigation menu END */

/* the content */
.theContent { padding:30px; position:relative; margin-bottom:30px; overflow: hidden; }

/* theContent END */

.attrBox footer { height:60px; padding:25px 30px; }
.attrBox footer h5 { margin:0; font-size:13px; }
.attrBox footer h5 strong { float:right; }

.attrBox:hover footer { background:#e2b55d; }
.attrBox:hover footer h5 { color:#fff; }

.theBox.attrBox .boxContent { overflow:hidden; background:#e2b55d; }
.theBox.attrBox .boxContent > img {
	width:100%;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.theBox.attrBox:hover .boxContent > img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}



.menuItem ul li { vertical-align:middle; }

.menuContent .menuItem .menuImg { position:relative; }
.menuContent .menuItem .menuImg img,
.menuContent .menuItem .menuImg .icon { border-radius:50%; }
.menuContent .menuItem .menuImg .icon {
	position: absolute;
	width: 55px;
	height: 55px;
	top: 12px;
	left: 17px;
	padding: 14px 21px;
	color:#fff;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	
}
.menuContent .menuItem {
	border:solid 1px rgba(0,0,0,0.1);
	padding:25px;
	margin-top:-1px;
}

.menuContent .menuItem:first-child { margin-top:0; }

.menuContent .menuItem .title { font-weight:bold; }
.menuContent .menuItem .menuPriceInfo { float:right; margin-top: 14px; }
.menuContent .menuItem .menuDetails { margin:0 10px; }

.menuContent .menuItem:hover .menuImg .icon { 
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95; 
	
	-webkit-transform: translate3d(0,0,0) scale(1);
	-moz-transform: translate3d(0,0,0) scale(1);
	-o-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);	
}

.menuContent .menuItem a:hover { text-decoration:none; }

.menuContainer .orderByIsotope { margin-bottom:30px; }
.orderByIsotope li { margin:0 10px; }
.orderByIsotope li a:hover { color:#e2b55d; }


/*	nav menu  */

.sub-menu { 
	visibility:hidden; 
	opacity:0;
	top:80px;
	
	line-height:normal;
	position: absolute;
	list-style: none;
	padding: 15px;
	background: #e4e4e4;
	border-top:solid 3px #e2b55d;
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	
	z-index:-5;
}

.sub-menu li {
	width: 225px;
	text-align: left;
	border-bottom: solid 1px #d1d1d1;
}

.sub-menu li:last-child { border: none; }
.sub-menu a { padding:10px; display:block; } 
.navbar-nav li:hover > .sub-menu { visibility:visible; opacity:1; top:100px; }

/*	nav menu  END  */
.total, 
.formInput { position:relative; margin-bottom:20px; }
.formInput i.fa { position:absolute; top: 47px; left: 20px; z-index: 3;}
.formInput input,
.formInput textarea, 
.formInput .bookResult { width:100%; }
.formInput.termsWrapper i.fa { position:static; }
.formInput input { padding: 0 20px 0 50px; }

.formInput .btn-default {
	height:50px; 
	background:#ececec; 
	border:none; 
	border-radius:0; 
	font-weight:bold;
	color:inherit;
}

.formInput .dropdown-menu { padding:10px 0; }
.formInput .dropdown-menu li { margin-bottom:2px; }

.submitBtn { width:100%; height:50px; margin-top:20px; color:#fff; font-weight:bold; }

.total .bookTotal {
	padding: 12px 20px 12px 50px;
	margin-top: 20px;
	overflow: hidden;
}
.total .bookTotal label, 
.total .bookTotal .bookResult {
	display: inline-block;
	width:auto;
}
.total .bookTotal, .um_table tfoot .bookTotal { background:#cbcbcb; }
.total .bookTotal .bookResult {
	float: right;
}

.um_table tfoot .bookTotal td { border:0; height:72px; }

.formInput textarea { padding:12px 20px 12px 50px; }
.total i.fa { position:absolute; top:20px; left:20px; }

.bookResult .period:after { content:' / '; margin:0 5px; }

.contactInfo h5 { 
	border-bottom: solid 1px rgba(0,0,0,0.1);
	padding: 20px 0; 
}

.contactInfo i.fa { float:right; }
.contactForm textarea { height:200px; } 

.headerImg .contactFormWrapper { margin-top: 270px; }
.bgImg .contactFormWrapper { margin-top: 60px; }
#googleMap { width:100%; height:450px; }
#googleMap img, #um_widgetMap img { max-width:none; }
.blogItem { margin-bottom:30px;}

.blogPage .blogItem .itemContainer, 
.blog2Page .blogItem { border:solid 1px rgba(0,0,0,0.1); }

.blogPage .blogItem .itemContainer { border-top:0; }

.blogItem header { position:relative; }
.blogItem header i { color:#fff; }
.blogItem header .mainBrandOverlay { opacity:0; }
.blogItem:hover header .mainBrandOverlay { opacity:1; }

.blogPage .blogItem .itemContainer { padding:30px; }
.blog2Page .blogItem .itemContainer.col-md-6 { padding:20px 30px 20px 15px; }
.blog2Page .blogItem .itemContainer.col-md-12 { padding:20px 30px; }

@media (max-width:992px) {
	.blog2Page .blogItem .itemContainer { padding:30px 45px !important; }
}
.blogItem.row  header.col-md-6 { padding-left:0; }

.blogPage .blogItem:hover .itemContainer,
.blog2Page .blogItem:hover { border:solid 1px #e2b55d; }

.blogPage .blogItem:hover .itemContainer { border-top:0; }

.blogItem:hover .title { color:#e2b55d; }

.navbar-default .navbar-collapse { padding:0; } /* artmazi */

.innerContent.singleBlogContent {
	border:solid 1px rgba(0,0,0,0.1);
	padding:30px;
}

.singleBlogContent header img, 
.singleBlogContent header .um_audio, 
.singleBlogContent header .um_video,
.singleBlogContent header audio, 
.singleBlogContent header video,
.singleBlogContent header iframe { max-height:100%; width:100%; margin:0 auto; text-align:center; }

.singleBlogContent header > img + audio { margin:30px auto 0; }
/* artmazi or make them 100% */


.um_table { border:solid 1px rgba(0,0,0,0.1); width:100%; }

.um_table tr:nth-child(even) { background:#fff; }
.um_table tr:nth-child(odd) { background:#f4f4f4; }

.um_table th { padding:10px 20px; color:#fff; }
.um_table tr td { border:solid 1px #e4e4e4; width:50%; padding: 13px 20px; }
.um_table tr td + td { text-align:right; font-weight:bold; }



.tags {
	border-top: solid 1px rgba(0,0,0,0.1);
	border-bottom: solid 1px rgba(0,0,0,0.1);
	margin: 30px -30px 0;
	padding: 30px;
}

span.tagsTitle:after {
	content: "\f105";
	font-family: fontawesome;
	margin: 0 15px;
}

.tags > a {
	border: solid 1px rgba(0,0,0,0.1);
	padding: 7.5px;
	margin: 0 7.5px 7.5px;
	display: inline-block;
}

.tags > a:hover { background:#f4f4f4; }



.social {
	background: rgba(0,0,0,0.1);
	margin: 0 -30px 0 -30px;
	padding: 30px 30px 60px;
}

.social ul { margin:0; }
.social .tagsTitle { float:left; }
.social > ul > li { margin: 0 5px; }
.social > ul > li > a > i { margin-right:10px; }

.social #facebook i { color:#3b5997; }
.social #twitter i { color:#00acee; }
.social #google i { color:#d84635; }
.social #linkedin i { color:#017fb2; }
.social #stumble i { color:#ea4822; }
.social #pinit i { color:#c4302c; }
.social li:hover a {text-decoration:underline;}

section.singleComments {
	margin: -60px 0 60px;
	padding-top: 30px;
}

.bgImg section.singleComments {
	padding: 30px;
}

section.singleComments h3#reply-title {
	margin: 0 0 30px 0px;
	font-size: 14px;
	text-transform: uppercase;
}

.singleComments .inputFields input, 
.singleComments .inputFields textarea { 
	width:100%; 
	border:solid 1px rgba(0,0,0,0.1); 
	padding:10px 20px; 
	margin-bottom:30px;
	background:#fff;
}

.singleComments .inputFields textarea { height:200px;  }

.singleComments p.form-submit #submit {
	margin: -30px 15px 0;
	min-width: 150px;
	border: solid 2px rgba(0,0,0,0.1);
	background:transparet;
}

.singleComments p.form-submit #submit:hover {
	background:rgba(0,0,0,0.1);
	border:solid 2px transparent;
}

.rsDefault.roomsSlider { width:100%; margin-bottom:30px; }
.rsDefault.roomsSlider, 
.rsDefault.roomsSlider .rsOverflow, 
.rsDefault.roomsSlider .rsSlide, 
.rsDefault.roomsSlider .rsVideoFrameHolder, 
.rsDefault.roomsSlider .rsThumbs { background:#fff; }

.singleRoomContent {
	padding: 30px;
	margin-bottom: 30px;
}

.headerImg .singleRoomContent { margin-top: -60px; }

.rsDefault .rsThumb {
	width: 83px;
	height: 83px;
}

.rsDefault .rsThumb.rsNavSelected { background:#e2b55d; }

.bottomGutter { margin-bottom:30px; }

.roomsSlider .rsFullscreen img { max-width:none; }

.roomsWideSlider {
	width:100%;
	height:800px;
	margin-top: -150px;
	position:relative;
	z-index:1;
}

.singleWideSlider { position:relative; }
.singleWideSlider .bookingInfo {
	position: absolute;
	width:100%;
	bottom: 0px;
	z-index: 2;
}

.bookingInfoContent { padding: 10px 15px 10px 20px; }
.bookingInfoContent h5 { margin-bottom:0; }
.bookingInfoContent a {
	margin-top: 10px;
	padding-top: 8px;
}
.bookingInfoContent .um_book { width:160px; float:right; }
.singleWideRoomContent {
	margin: 30px auto 60px;
}

.billButtons { margin-top:30px; }
.billButtons button { margin-right:30px; }


.services .servicePostWrapper { position: relative; }

.services .servicePostWrapper { position: relative; margin-bottom:30px; overflow: hidden; }

.services .servicePostWrapper .servicePost {
	position: absolute;
	top: 15px;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	word-break: break-word;
}

.services .servicePostWrapper .servicePost i, 
.services .servicePostWrapper .servicePost img { font-size:8em; margin-bottom:10px; 

-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

@media (max-width:450px) {
	.services .col-md-3.col-sm-4.col-xs-6 { width:100%; }
}

.servicePostContent h4, .servicePostContent h6 {
	position: relative;
	z-index: 2;
}
.services .servicePostWrapper {
	border:solid 2px transparent;
}
.services .servicePostWrapper:hover {
	border:solid 2px #e2b55d;
}

.services .servicePostWrapper .servicePostContent h6 { font-size:13px; }
.services .servicePostWrapper .servicePostContent h4 { font-size:16px; }

.loadMoreContainer { margin:30px auto 60px; }
.loadMoreContainer button.btn:hover { opacity:0.2; }

.sliderItem .imgoverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.pagination {
	display:block;
	padding: 15px;
	border-radius: 0;
}

.isCentered { padding:0; }
.pagination .page-numbers { 
	display:inline-block;
	border:solid 1px rgba(0,0,0,0.1);
	padding:10px 18px;
}
.pagination .page-numbers.current { 
	border:solid 1px #e2b55d;
	color:#e2b55d;
}

.pagination .page-numbers.next { float:right; }

.um_lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9;
	background:rgba(0,0,0,0.7);
}

.um_lightbox .bookingContainer { margin-bottom:0px; }
#terms { height:0; overflow:hidden; }
.termsWrapper .terms-toggle { padding:10px; }



.bookingForm button.btn.dropdown-toggle.selectpicker { padding-left:50px; }

.formInput fieldset { background: #ececec; padding: 0 20px 0 50px;}
.formInput fieldset label { display:inline-block; line-height: 50px; margin:0 10px;}
.formInput fieldset label input { margin: 0px 5px; vertical-align: sub; }

.closeBtn, 
.closeLightbox {
	position: absolute;
	top: 0px;
	right: 0px;
	background: #fff;
	cursor:pointer;
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.triangle {
	position: absolute;
	background: #e2b55d;
	cursor: pointer;
	top: -36px;
	right: -36px;
	width: 70px;
	height: 70px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.triangle > i {
	position: absolute;
	top: 28px;
	left: 8px;
	color: #fff;
	font-size: 1.1em;
}

.triangle:hover > i { color:#fff; }

.bookingContainer .um_table { position:relative; z-index:2; }

.um_booking_lightbox .mCSB_scrollTools { position:fixed !important; }

.um_booking_lightbox .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #e2b55d !important;
	width:4px !important;
	border-radius:0px;
}

.formInput.error input, 
.formInput.error textarea, 
input.error, 
textarea.error { border: solid 1px #C93C3C; }
.formInput.termsWrapper.error label { color:#C93C3C; }


.singleRoomWidePage .rsVideoContainer { top: 135px; }


@media print {
	* { font-weight:normal !important; color:#000 !important; }
	footer, aside, .billButtons, .closeBtn, .loadMoreContainer, 
	section:not(.bookingContainer) { display:none; }
	.bookingContainer { width:670px !important; }
	.um_table tr td { padding:5px 20px !important; border:solid 1px #ddd !important; }
	.um_table { margin:0; float:left; }
	a[href]:after { content: none !important; }
	.printLogo { margin-left:30px; }
	
	
	
	@page {
		margin: 1.5cm 0.5cm 2cm;
		page-break-before: always;
	}
}


.um_cusotmArrows {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
}

.um_cusotmArrows .rsArrow {
	top: 50%;
	position: fixed;
	z-index:10;
}

.um_cusotmArrows i.fa {
	display: block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.um_cusotmArrows .rsArrow.rsArrowDisabled .rsArrowIcn {
	background: transparent !important;
	border: solid 2px #fff;
	color: #fff;
} 

.um_cusotmArrows .rsArrowRight i.fa { padding:0px 11px; }
.um_cusotmArrows .rsArrowLeft i.fa { padding:0px 8px; }

.homePage .rsDefault .rsArrow { display:none !important; }

@media screen {
	.um_lightbox .bookingScroll, 
	.um_lightbox .billScroll  { max-height:900px; }
	
	@media (max-width:1600px) {
		.um_lightbox .bookingScroll, 
		.um_lightbox .billScroll  { max-height:720px; }
	}
	@media (max-width:1366px) {
		.um_lightbox .bookingScroll, 
		.um_lightbox .billScroll  { max-height:600px; }
	}
	@media (max-width:992px) {
		.um_lightbox .bookingScroll, 
		.um_lightbox .billScroll  { max-height:500px; }
	}
	@media (max-width:768px) and (orientation: landscape) {
		.um_lightbox .bookingScroll, 
		.um_lightbox .billScroll  { max-height:300px; }
	}
}
.rsVideoContainer, .sliderContent { z-index:5; }

.rsPlayBtn.selfPlay + .sliderContent {
	margin-top: 150px;
}

.rsDefault video {
	width: 100%;
	height: 100%;
}

.sliderContent .btn:hover { text-shadow: none; }
.sliderContent p { font-size:2em; }

.rsPlayBtn.selfPlay {
	position:absolute;
	left:50%;
	
	top: calc(50% + 32px);
    top: -webkit-calc(50% + 32px);
    top: -moz-calc(50% + 32px);
    top: -o-calc(50% + 32px);
}

.hasWidgets .rsPlayBtn.selfPlay, 
.hasRooms .rsPlayBtn.selfPlay, 
.hasWidgets .rsDefault .rsBtnCenterer,
.hasRooms .rsDefault .rsBtnCenterer  {
	top:400px;
}

.rsDefault .rsCloseVideoBtn,
.rsPlayBtn.selfPlay.um_hidden { visibility:hidden; }

.noCover img.rsImg { opacity:0; }

.rsWithThumbs .sliderItem { height:100%; }
.rsWithThumbs.rsFullscreen .sliderItem { height:auto; }
.rsWithThumbs.rsFullscreen .rsVideoContainer { position:absolute; }

.homeBoxes .widget { background:#fff; padding:30px; margin-bottom: 30px; height:auto; overflow:hidden; }

.hasWidgets .sliderContent, 
.hasRooms .sliderContent {/*
	height: calc(50% - 100px) !important;
    height: -webkit-calc(50% - 100px) !important;
    height: -moz-calc(50% - 100px) !important;
    height: -o-calc(50% - 100px) !important;*/
}

.sidebar.sidebar_footer { position:relative; z-index:9; border-top: solid 1px rgba(0,0,0,0.1); padding: 60px 0 30px; }

.lightSliderContainer { margin-bottom:0; }
.lightSliderContainer .roomsWideSlider { max-height:607px; margin-top:0; }

.lightSliderContainer .roomsWideSlider .rsArrowLeft .rsArrowIcn:after { padding: 4px 9px; margin-left:0;}
.lightSliderContainer .roomsWideSlider .rsArrowLeft.rsArrowDisabled .rsArrowIcn:after { padding: 2px 6px; margin-left: 0px; }

.lightSliderContainer .roomsWideSlider.rsDefault .rsCloseVideoBtn { top:0; }

.roomsHomeSlider .owl-nav {
	width: 85px;
	margin: 0 auto;
	background: #fff;
	text-align: center;
	padding: 10px 0 5px;
}

.owl-prev, .owl-next {
	display: inline-block;
	width:20px;
	height:20px;
	border:solid 1px #e2b55d;
	margin: 5px;
	
	-webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}
.owl-prev i, 
.owl-next i {
	position:absolute;
	color:#e2b55d;
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    font-size:0.8em;
}
.owl-prev i { left: 26%; top: 22%; }
.owl-next i { left: 30%; top: 31%; }

.owl-prev:hover, .owl-next:hover {
	background: #e2b55d;
}

.owl-prev:hover i, .owl-next:hover i {
	color: #fff;
}

.widget .owl-controls {
	position: absolute;
	top: -48px;
	right: 25px;
}

.homeWidgets .widget { padding:0; border:0; }
.homeWidgets .widget h4, 
.widgetWideContainer {
	margin:0;
}
.homeWidgets .widget h4 { padding:35px; font-size:18px; letter-spacing:1px; } 

.homeWidgets .widget footer {
	margin: 0;
	padding: 25px 35px;
}

.homeWidgets .widget .owl-controls {
	top: -60px;
	right: 35px;
}

.homeWidgets .widget ul { margin-bottom:0; }
.homeWidgets .widget ul li:first-child address > div { border-top:0; }
.homeWidgets div#insta, .homeWidgets .roomsGallery { margin:0; }
.homeWidgets .widget .roomsGallery .roomItem, 
.homeWidgets .instagram-placeholder { padding:0; }

.homeWidgets .widget ul:not(.menu):not(.sub-menu):not(.um_contactWidget) li { padding: 25.7px 35px; }

.homeWidgets .widget select {
	margin: 35px;
	width: calc(100% - 70px);
    width: -webkit-calc(100% - 70px);
    width: -moz-calc(100% - 70px);
    width: -o-calc(100% - 70px);
}
.homeWidgets .widget .searchform, 
.homeWidgets .widget ul.menu, 
.homeWidgets .widget .textwidget, 
.homeWidgets .widget #calendar_wrap, 
.homeWidgets .widget .tagcloud, 
.homeWidgets .widget .widgetTweetWrapper { padding:35px; }

.homeWidgets .widget .textwidget select { margin:0; width:100%;}

.roomsHomeSlider .owl-controls .owl-prev, 
.roomsHomeSlider .owl-controls .owl-next {
	background:transparent;
	border:solid 1px rgba(0,0,0,0.2);
}
.roomsHomeSlider .owl-controls i.fa { color:rgba(0,0,0,0.2); }
.roomsHomeSlider .owl-controls .owl-buttons > div:hover i.fa { color:#e2b55d; }
.roomsHomeSlider .owl-controls .owl-buttons .owl-prev:hover,
.roomsHomeSlider .owl-controls .owl-buttons .owl-next:hover  { border:solid 1px #e2b55d; }



.roomsHomeSlider .boxIcons,
.roomsPage .boxIcons  { margin-top:0px; }

.theBox.attrBox { margin-bottom:30px; }
.singleBlogContent .itemContainer { margin-bottom: 30px; }

.homeWidgets { z-index:1; }

.bgImg .pagination {
	border-radius: 0px;
	background: #fff;
	padding: 15px;
}

.titleSpace { margin-bottom:35px; }
.serviceThumb { width:170px; height:170px; margin:0 auto; padding: 32px 0; border-radius: 50%; }
.serviceThumb i { font-size:8em; margin-left: 8px; }
.serviceThumb img { border-radius:50%; }
.serviceGallery img { margin-bottom:30px; }
.roomsBox footer .boxIcons { min-width:70px; }

.singleRoomPage section.pageTitle {
	height: 270px;
}

.preHeader .cart_content {
	width: 350px;
	position: absolute;
	right: -30px;
	top:80px;
	visibility:hidden;
	z-index:-1;
	opacity:0;
	text-align:left;
	color: #656565;
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.preHeader .cartBtn {
	cursor:pointer;
	float:right;
}

.preHeader .verticalTop li:hover .cart_content {
	visibility:visible;
	z-index:99;
	top:50px;
	opacity:1;
}

span.cart_totlWrapper {
	width: 20px;
	height: 20px;
	background: #e2b55d;
	border-radius: 50%;
	margin-left: 5px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	position: relative;
}

span.cart_totl {
	position: relative;
	top: -16px;
}

.preLeft { float:left; }
.preRight { float:right; }
.preLeft .verticalTop > li:not(:last-child):after
.preRight .verticalTop > li:not(:last-child):after  { 
	content: '\b7\a0';
	margin-left: 15px; 
}


.preRight .verticalTop li > i, 
.preLeft .verticalTop li > i { margin-right:7px; }

.cartBtn > p > i.fa { margin-right:7px; }

.preLeft ul, .preRight ul { display: inline-block; }
.preLeft ul + ul { margin-left:30px; }
.preRight ul + ul { margin-left:30px;  }

.preLeft li, .preRight li { position:relative; }


/* rewrite choosen rules */

.chosen-container-single .chosen-single div {
	top: 12px;
	right: 8px;
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-single { height: 50px; }

.chosen-container-single .chosen-single {
	padding: 10px 15px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 0;
	background: #ececec;
	box-shadow: none;
	color: #747474;
}

.chosen-container-active.chosen-with-drop .chosen-single {
	border:1px solid rgba(0,0,0,0.1);
	border-radius:0;
	background:#ececec;
	box-shadow:none;
}

.chosen-container-single .chosen-drop { border-radius:0; }
.chosen-container .chosen-drop { border: 1px solid rgba(0,0,0,0.1); box-shadow: none; }

.chosen-container-single .chosen-search input[type=text] { background: url(../images/chosen-sprite.png) no-repeat 100% -20px #fff; }

.defaultPage:not(.headerImg):not(.bgImg) section.pageTitle { height:135px; }
.roomIcons i.fa { font-size:14px; }

.roomsBox .um_left, 
.roomsBox .um_right {
	display:inline-block;
}
.roomsBox .um_right, 
.staffBox .um_right { float:right; }
.staffBox .um_left { float:left; }

.staffBox { margin-bottom:30px; border:solid 1px rgba(0,0,0,0.1); }
.staffBox footer { padding: 20px 30px; }

.staffDescription { clear:both; padding-top:25px; line-height: 2em; }

.staffLinks .boxIcons { margin-top:10px; }
.staffLinks .boxIcons a:hover { color:#e2b55d; }

.staffBox a:hover .title { color:#e2b55d; } 

.homeBoxes { z-index:1; }
.roomsHomeSlider .owl-item { padding:0 15px; }

.roomsHomeSlider .owl-buttons {
	text-align: center;
	background: #fff;
	width: 86px;
	padding: 9px 0 4px;
	margin:0 auto;
}

.roomTitle.um_left > h6 { margin-bottom: 0; }






.animated.um_in {
	-webkit-animation-name: um_in;
	-moz-animation-name: um_in;
	-o-animation-name: um_in;
	animation-name: um_in;
}

@-webkit-keyframes um_in {
	0% {
		opacity: 0;
		-webkit-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes um_in {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-moz-transform: scale(1);
	}

	
}

@-o-keyframes um_in {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		opacity: 1;
		-o-transform: scale(1);
	}


}

@keyframes um_in {
	0% {
		opacity: 0;
		transform: scale(.3);
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

}

.homeBoxes { /*float:left;  artmazi*/ width:100%; }

@media (max-width:1199px) and (min-width:992px) {
	.col-md-8 .blogItems .headerContainer { padding: 30px 0 30px 30px; }
	.col-md-8 .blogItems .mainBrandOverlay {
		width:auto;
		height:auto;
		top:30px;
		left:30px;
		right:0;
		bottom:30px;
	}
}

.bookingForm > .row > .col-md-4:last-child { float:right; }
.bookingForm label { font-size:11px; }


.bookingForm .formInput .btn-group.bootstrap-select { margin:0; }
.bookingForm .formInput .btn-group.bootstrap-select .filter-option {
	text-transform:none;
}

ul.sub-menu ul.sub-menu {
	top: -30px;
	left: calc(100% + 1px);
    left: -webkit-calc(100% + 1px);
    left: -moz-calc(100% + 1px);
    left: -o-calc(100% + 1px);
}

.navbar-nav li .sub-menu li:hover .sub-menu {
	top:-3px;
}

.rsDefault .rsPlayBtnIcon { border-radius:0; }

.bookingContainer .alert { z-index:1; margin:0; }

.roomsBox .boxContent { background:#e2b55d; }
.roomsBox:hover img { opacity:0.25; }
.roomsBox:hover .title { color:#e2b55d; }
.loadMoreContainer button:hover { background:#b1904e; }
.menuContent .menuItem:hover .menuDetails .title { color:#e2b55d; }

.bgImg .woocommerce-breadcrumb,
.bgImg .woocommerce-breadcrumb a, 
.bgImg .woocommerce-result-count, 
.bgImg .woocommerce-ordering select {
	color: #fff !important;
	font-size: 14px;
	text-transform: uppercase;
}

.bgImg .woocommerce-ordering option {
	color: #656565 !important;
	text-shadow: none;
}

.um_spinner > div {
  width: 10px;
  height: 10px;

  display: inline-block;
  -webkit-animation: bouncedelay 1s infinite ease-in-out;
  animation: bouncedelay 1s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.um_spinner .um_bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.um_spinner .um_bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}



@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.5) }
  40% { -webkit-transform: scale(0.8) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.loadMoreContainer span { font-size:12px; line-height:normal; }
.loadMoreContainer .um_spinner {
	position: relative;
	display: none;
}

.loadMoreContainer .isLoading span {
	display: none;
}
.loadMoreContainer .isLoading .um_spinner {
	display: block;
}

.loadMoreContainer button {
	min-width:100px;
}
/*
.hasWidgets .rsPlayBtn.selfPlay {
	top: calc(50% - 40px);
	top: -webkit-calc(50% - 40px);
	top: -moz-calc(50% - 40px);
	top: -o-calc(50% - 40px);
}

.hasWidgets .rsDefault .rsBtnCenterer {
	top: calc(50% - 220px);
	top: -webkit-calc(50% - 220px);
	top: -moz-calc(50% - 220px);
	top: -o-calc(50% - 220px);
}
*/
.rsVideoContainer + .sliderContent {
	height: calc(50% - 220px);
	height: -webkit-calc(50% - 220px);
	height: -moz-calc(50% - 220px);
	height: -o-calc(50% - 220px);
}

.rsPlayBtn { z-index:6; }

.socialLinks ul li { padding: 5px 0px 5px 5px; }


.um_error {
	border: solid 5px;
	display: inline-block;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	padding-top: 40px;
}

.um_error h3,
.um_error h1 { margin:0; }

.um_error h1 {
	font-size:65px;
	line-height:50px;
}

.fourOfour h1.title {
	font-size:48px;
	margin-top:55px;
}

.fourOfour p {
	font-size:24px;
	line-height: normal;
}

.fourOfour .btn { margin:45px auto; }

.headerImg .fourOfour { margin-top: -210px; }

.headerImg .um_error_contnet {
	margin-top: 100px;
	color: #e2b55d;
}

.fourOfour .btn.white {
	color: #e2b55d;
	border: solid 2px #e2b55d;
}

.fourOfour .btn.white:hover {
	color: #fff;
	background:#e2b55d;
}

a.btn.btn-default.titleUp.um_book:hover {
	color: #e2b55d;
	border: solid 2px #fff;
	background:#fff;
}

i.icon-tripadvisor {
	font-size: 1.2em;
	vertical-align: text-bottom;
}

.chosen-container-single .chosen-search input[type=text] {
	border:solid 1px rgba(0,0,0,0.1);
}

.dropdown-menu .divider {
	background:rgba(0,0,0,0.1);
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-top-secondary>#wp-admin-bar-search #adminbarsearch input.adminbar-input { background-color:transparent !important;}

.billButtons .btn.grey { border:solid 2px rgba(0,0,0,0.1); background:transparent; }
.billButtons .btn.grey:hover { border:solid 2px transparent; background:rgba(0,0,0,0.1); }


/* page loading animation */
.um_shadow { display:none; }
.um_shadow.active {
	display:block;
	background:rgba(21,21,21,0.9);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:9999;
}

.um_loading {
    border:3px solid #e2b55d;
    border-radius:30px;
    height:45px;
    left:50%;
    margin:-22.5px 0 0 -22.5px;
    opacity:0;
    position:absolute;
    top:50%;
    width:45px;
    
	-webkit-animation: pulsate 1s ease-out infinite;
	-moz-animation:    pulsate 1s ease-out infinite;
	-o-animation:      pulsate 1s ease-out infinite;
	animation:         pulsate 1s ease-out infinite;
}

@-webkit-keyframes pulsate {
	0% {
      -webkit-transform:scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity:1;
    }
    100% {
      -webkit-transform:scale(1.2);
      opacity:0;
    }
}

@-moz-keyframes pulsate {
	0% {
      -moz-transform:scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity:1;
    }
    100% {
      -moz-transform:scale(1.2);
      opacity:0;
    }
}
@-o-keyframes pulsate {
	0% {
      -o-transform:scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity:1;
    }
    100% {
      -o-transform:scale(1.2);
      opacity:0;
    }
}

@keyframes pulsate {
    0% {
      transform:scale(.1);
      opacity: 0.0;
    }
    50% {
      opacity:1;
    }
    100% {
      transform:scale(1.2);
      opacity:0;
    }
}
/* page loading animation END */

.preHeader.mainColor { color:#fff !important; }

.um_table tr:last-child td {
	border-bottom:0 !important;
}


.navbar-default .navbar-nav>li>a, 
.widget, .woocommerce .woocommerce-breadcrumb a, 
.woocommerce-page .woocommerce-breadcrumb a, 
.woocommerce-page div.product span.price ins, 
.chosen-container-single .chosen-single, 
.woocommerce #content input.button, 
.woocommerce #respond input#submit, 
.woocommerce a.button, .woocommerce button.button, 
.woocommerce input.button, .woocommerce-page #content input.button, 
.woocommerce-page #respond input#submit, .woocommerce-page a.button, 
.woocommerce-page button.button, .woocommerce-page input.button, 
div.products .product .button.product_type_simple.add_to_cart_button, 
.woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb, 
body .searchFilter .btn-default, 
.dropdown-menu>li>a, 
.woocommerce .woocommerce-error, 
.woocommerce .woocommerce-info, 
.woocommerce .woocommerce-message, 
.woocommerce-page .woocommerce-error, 
.woocommerce-page .woocommerce-info, 
.woocommerce-page .woocommerce-message, 
.widget input[type=submit], 
.btn.default:hover {
	color:inherit;
}














/*themecheck*/

.gallery-caption {}
.bypostauthor {}
.sticky { border:solid 1px; }
.alignnone { margin: 5px 20px 20px 0; }
.aligncenter, div.aligncenter { display: block; margin: 5px auto 5px auto; }
.alignright { float:right; margin: 5px 0 20px 20px; }
.alignleft { float: left; margin: 5px 20px 20px 0; }
.aligncenter { display: block; margin: 5px auto 5px auto; }
a img.alignright { float: right; margin: 5px 0 20px 20px; }
a img.alignnone { margin: 5px 20px 20px 0; }
a img.alignleft { float: left; margin: 5px 20px 20px 0; }
a img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { background: #fff; border: 1px solid #f0f0f0; max-width: 96%; padding: 5px 3px 10px; text-align: center; }
.wp-caption.alignnone { margin: 5px 20px 20px 0; }
.wp-caption.alignleft { margin: 5px 20px 20px 0; }
.wp-caption.alignright { margin: 5px 0 20px 20px; }
.wp-caption img { border: 0 none; height: auto; margin: 0; max-width: 98.5%; padding: 0; width: auto; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; margin: 0; padding: 0 4px 5px; } 
table { border-collapse: collapse; }
code, kbd, pre { border-radius:0; }

/*themecheck END*/


@media (min-width: 992px) {
	
	.um_flex {
		width: auto;
		min-width: 66.66666667%;
	}
	
	.pageHeaderContainer .um_flex-2, 
	.col-md-6.um_flex-6	{
		width:auto !important;
	}

	.pageHeaderContainer .um_flex-2 {
		max-width:16.66666667%;
	}
	
	.um_flex-6 {
		max-width:50%;
	}
	.um_flex_auto {
		width: auto;
		max-width: calc(100% - 30px);
	}
}

@media (min-width:993px) and (max-width:1200px) {
	.nav>li>a {
		position: relative;
		display: block;
		padding: 10px 5px;
	}
}


.nav.navbar-nav  ul.children {
padding-left: 0;
list-style: none;
}

.nav.navbar-nav > ul > li {
position: relative;
display: inline-block;
padding: 0 10px;
line-height:100px;
}

.nav.navbar-nav ul.children {
display: none;
position: absolute;
left: 0;
background: #fff;
width: auto;
text-align: left;
padding:15px;
}

.nav.navbar-nav ul.children ul.children {
top: 0;
left: 99%;
}

.nav.navbar-nav ul.children li{
line-height:30px;
padding:0 10px;
}


.nav.navbar-nav li:hover > ul.children {
display:block;
}



embed, iframe {
max-width: 100%;
}

@media (max-width: 1366px){
	.lightSliderContainer .roomsWideSlider {
		max-height: 450px;
		margin-top: 0;
	}
}

@media (max-width: 992px){
	.lightSliderContainer .roomsWideSlider {
		max-height: 400px;
		margin-top: 0;
	}
}

@media (max-width: 768px){
	.lightSliderContainer .roomsWideSlider {
		max-height: 350px;
		margin-top: 0;
	}
}

.fRight { float:right; }
.sliderContent h1 { font-size:40px; }
.sliderContent * { margin-top: 0; }

@media (max-width: 768px){
	.sliderContent h1 { font-size:30px; }
	.sliderContent h2 { font-size:26px; }
}



.contactPage label { font-weight:normal; text-transform:uppercase; }

.singleRoomPage .royalSlider:not(.rsFullscreen) .rsThumbsContainer {
	-ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}



.sliderContent.absoluteFill {
	height:auto;
	top:150px;
	bottom:60px;
}
.hasWidgets .sliderContent.absoluteFill, 
.hasRooms .sliderContent.absoluteFill {
	height:300px;
}

.woocommerce.widget_shopping_cart .buttons a:hover { border:0 !important; background:rgba(0,0,0,0.1) !important; }
.woocommerce.widget_shopping_cart .buttons a:first-child:hover {
	border-right: solid 2px #d0d0d0
}

.glyphicon { font-family: 'Glyphicons Halflings' !important; }


@media (max-width:480px) {
	.socialLinks ul li { padding: 0; }
	.um_noFooter main {
		min-height: calc(100% - 251px);
		min-height: -webkit-calc(100% - 251px);
		min-height: -moz-calc(100% - 251px);
		min-height: -o-calc(100% - 251px);
	}
	.hasWidgets .rsPlayBtn.selfPlay, .hasRooms .rsPlayBtn.selfPlay, .hasWidgets .rsDefault .rsBtnCenterer, .hasRooms .rsDefault .rsBtnCenterer {
		top: 450px;
	}
}

.um_noFooter .sliderContent.absoluteFill {
	bottom: 0px;	
}

@media (max-width:768px) {
	section.preHeader ul { margin-bottom: 0; }
	/*.hasWidgets .sliderContent, .hasRooms .sliderContent {
		height: calc(50% - 50px) !important;
		height: -webkit-calc(50% - 50px) !important;
		height: -moz-calc(50% - 50px) !important;
		height: -o-calc(50% - 50px) !important;
	}
	*/
}

@media (max-width:992px) {
	.homePage .container { max-width:550px; }
}

.dropdown-menu {
	-webkit-box-shadow: 0 0px 2px rgba(0,0,0,0.1);
	box-shadow: 0 0px 2px rgba(0,0,0,0.1);
}


.bootstrap-select.btn-group .btn .caret { margin-top:0; right: 20px; }



.navbar-collapse { max-height:none; }

.rsDefault .rsArrowIcn { background-image: none; }

.hasWidgets .rsVideoContainer + .sliderContent.absoluteFill, 
.hasRooms .rsVideoContainer + .sliderContent.absoluteFill  { height:220px; }


@media (max-width:768px) {
	.pageImage { top: -200px; }
	.headerImg section.pageTitle { height:250px; }
}


@media (max-width:480px) {
	.preLeft li, .preRight li {  }
	.preHeader .cart_content { right:0px; width:250px; }
	.pageImage { top: -230px; }
	.headerImg section.pageTitle { height:220px; }
}

.preHeader * { margin-bottom:0; }

.homePage .homeWidgets .widget[id^="um_service_widget"] li { padding: 25px 35px !important; }
.homePage .homeWidgets .widget[id^="um_location_widget"] footer { padding-bottom:20px !important; }

.singleRoomPage .singleRoomContent .roomsSlider.rsWithThumbs:not(.rsFullscreen) .rsArrow { height:70%; }

/* v1.0.1 updates */

/* contact form 7 */

.wpcf7 input, .wpcf7 textarea { width: 100%; max-width:100%; }

.wpcf7 input[type="submit"] {
	background: #e2b55d;
	color: #fff;
}

/* contact form 7 END */