#megaMenu ul.megaMenu > li.menu-item a span {
	line-height: 76px;
}

#megaMenu ul.sub-menu.sub-menu-1 {
	line-height: normal;
	padding: 15px;
	background: rgba(0,0,0,0.1);
	border-top: solid 3px #e2b55d !important;
}

#megaMenu ul.sub-menu li.menu-item { padding:10px 0; }
#megaMenu ul.sub-menu li.menu-item:not(:last-child) { border-bottom:solid 1px #d1d1d1; }
#megaMenu ul.sub-menu li.menu-item a span { line-height:normal; }
#megaMenu ul.sub-menu .menu-item-has-children > a > .wpmega-link-title { font-weight:bold; text-transform: uppercase; }
#megaMenu .menu-item-has-children { border: none !important; }

#megaMenu .sub-menu.sub-menu-2 { border-top:solid 1px #d1d1d1; }

#megaMenu .ss-nav-menu-mega ul.sub-menu.sub-menu-1 {
	width: calc(100% - 30px) !important;
    width: -webkit-calc(100% - 30px) !important;
    width: -moz-calc(100% - 30px) !important;
    width: -o-calc(100% - 30px) !important;
	left: 15px !important;
}

#megaMenu .ss-nav-menu-mega .sub-menu.sub-menu-1 > .menu-item {
	width: calc(25% - 54px) !important;
    width: -webkit-calc(25% - 54px) !important;
    width: -moz-calc(25% - 54px) !important;
    width: -o-calc(25% - 54px) !important;
}

#megaMenu ul.sub-menu li.menu-item a span { font-size: 13px; }

#megaMenu ul li.menu-item.ss-nav-menu-mega ul ul.sub-menu li.menu-item { width: 100%; }


.pageHeader .row { position:relative; }
.pageHeader > .container .row .col-md-8,
.pageHeader > .container .row nav.navbar, 
.pageHeader > .container .row .navbar-collapse, 
.pageHeader > .container .row #megaMenu,
.pageHeader > .container .row #megaUber { position:static; }


#megaUber > li > a { text-transform: uppercase; }