.alert { position:relative; }
.alert button { height: auto; margin: 0; }

ul.accordion,
ul.toggle {
    list-style: none;
    padding: 0;
    border-left: solid 1px rgba(0,0,0,0.1);
    border-right: solid 1px rgba(0,0,0,0.1);
    border-bottom: solid 1px rgba(0,0,0,0.1);
    margin-bottom:30px;
}

ul.accordion > li,
ul.toggle > li {
    position: relative;
}

ul.accordion li > a,
ul.toggle li > a {
    color: #fff;
	text-transform: uppercase;
	padding: 20px 30px;
	display: block;
	border-top: solid 1px rgba(0,0,0,0.1);
	border-bottom: solid 1px rgba(0,0,0,0.1);
	margin-bottom: -1px;
	background: #e2b55d;
}

.section_content { background: #fff; }

ul.accordion li a:hover,
ul.toggle li a:hover {
    text-decoration:none;
}

ul.accordion li a i,
ul.toggle li a i {
    position: absolute;
    right: 30px;
    top: 29px;
}

ul.accordion .section_content,
ul.toggle .section_content {
    padding: 30px;
    display:none;
}

div.tabs { margin-bottom:30px; }

.tabs ul {
    padding: 0;
	list-style: none;
	margin: 0 0 -2px;
}

@media (max-width: 449px) { 
	.tabs .tab_buttons li {
		width: 100%;
	}
	.tabs ul {
		margin:0;
	}
	
	.tabs .tab_buttons li a.active, 
	.tabs .tab_buttons li a {
		border-bottom: none;
		margin-bottom: 0px;
	}
}

.tabs .tab_buttons li {
    display: inline-block;
    margin: 0;
}

.tabs .tab_buttons li > a {
    padding:15px 30px;
    border: solid 1px rgba(0,0,0,0.1);
    margin-right: -1px;
    border-bottom: none;
	display: block;
}

.tabs .tab_buttons li a.active {
    border-top: solid #e2b55d;
	color: #e2b55d;
}
	.tabs .tab_buttons li a:hover { text-decoration:none; }

.tab_content { border: solid 1px rgba(0,0,0,0.1); }

.tab_content li {
    padding: 30px;
    display:none;
}

.tab_content li:first-child { display:block; }

.alert { border-radius: 0; padding-left: 50px; }
.alert strong { margin-right:30px; }
.alert-dismissable { padding-right:15px; }
.alert-dismissable .close { top:0; }
.alert .close { right:0; }
.alert .close:focus, 
.alert .close:active {
	border:0;
}

.btn.mainColor.brandBgColor:hover { color:#fff; }

.btn.white 			{ color:#ffffff; border:solid 2px #ffffff; text-shadow: 2px 2px 2px rgba(0,0,0,0.3); box-shadow: 0px 0px 2px rgba(0,0,0,0.3); }
.btn.grey 			{ color:#656565; border:solid 2px #e4e4e4; }
.btn.black 			{ color:#171717; border:solid 2px #171717; }
.btn.red 			{ color:#f72e2e; border:solid 2px #f72e2e; }
.btn.yellow 		{ color:#ffd200; border:solid 2px #ffd200; }
.btn.orange 		{ color:#f5740c; border:solid 2px #f5740c; }
.btn.light-blue 	{ color:#8dc4e7; border:solid 2px #8dc4e7; }
.btn.blue 			{ color:#116eaa; border:solid 2px #116eaa; }
.btn.dark-blue 		{ color:#0c354f; border:solid 2px #0c354f; }
.btn.purple 		{ color:#7d52a1; border:solid 2px #7d52a1; }
.btn.light-green 	{ color:#88c83d; border:solid 2px #88c83d; }
.btn.green 			{ color:#51b144; border:solid 2px #51b144; }
.btn.default 		{ color:#e2b55d; border:solid 2px #e2b55d; }

.btn.default:hover 	{ color:#ffffff !important; background:#e2b55d; }
.btn.white:hover 	{ color:#e2b55d; background:#ffffff; text-shadow:none; }
.btn:active, .btn.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.highlight {
	background: #fcf8e3;
	padding:3px;
	color:#000;
}

.alert::before {
	font-family: 'FontAwesome';
	font-size: 30px;
	position: absolute;
	left: 15px;
}

.alert-danger::before 	{ content: "\f06a"; }
.alert-info::before 	{ content: "\f05a"; }
.alert-warning::before 	{ content: "\f071"; }
.alert-success::before 	{ content: "\f058"; }






