@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?22p83v');
	src:url('fonts/icomoon.eot?#iefix22p83v') format('embedded-opentype'),
		url('fonts/icomoon.woff?22p83v') format('woff'),
		url('fonts/icomoon.ttf?22p83v') format('truetype'),
		url('fonts/icomoon.svg?22p83v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bookingcom:before {
	content: "\e600";
}
.icon-tripadvisor:before {
	content: "\e601";
}
.icon-expedia:before {
	content: "\e602";
}
