/******************************
	Global CSS
******************************/
.zindexTemp{z-index: 3;}
.showFeatureListing{display: block;}
.hideFeatureListing{display: none;}
.loadingShow{display: block; text-align:center; padding: 40px;}
.loadingHide{display: none;}
#loading-image {
  position: block;
  top: 100px;
  left: 240px;
  z-index: 100;
}

.roundBorder {
	font-size: 14px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
}
.roundBorderBlack {
	font-size: 14px;
    border: 1px solid #000;
    border-radius: 50%;
    color: #fff;
}
.sectionPaddingTopBottom{
	padding-top: 100px;
	padding-bottom: 100px;	
}
.sectionPaddingTopBottomResponsive{
	padding-top: 0px;
	padding-bottom: 100px;	
}
.colPaddingAll{
	padding-top: 20px;
	padding-bottom: 20px;	
	padding-right: 20px;
	padding-left: 20px;
}
.rowPaddingTopBottom{
	padding-top: 60px;
	padding-bottom: 20px;	
}

.paddingLeft{
	padding-left: 20px;
}
.paddingRight{
	padding-right: 20px;
}
p{
    margin-bottom: 1.7em;
}
.hideSimpleTopHeader{
	visibility: hidden;
	opacity: 0;
}
.showSimpleTopHeader{
	visibility: visible;
  	opacity: 1;
	min-height: 100px;
	transition: visibility 0s, opacity 0.5s linear;
    overflow: hidden;
	-moz-animation: simslide 1s ease 1.5s forwards;
   -webkit-animation: simslide 1s ease 1.5s forwards;
   -o-animation: simslide 1s ease 1.5s forwards;
   -ms-animation: simslide 1s ease 1.5s forwards;
    animation: simslide 1s ease 1.5s forwards;	

}

/*Social Icon Start*/
.soc {
    display: block;
    float: left;
    height: 50px;
    width: 50px;
    padding: 10px;
}
.soc:focus{
	box-shadow: 0 0 25px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);	
}
/*Social Icon End*/



/*Pagination Setting Start*/
#blogSearchContent .pagination,
#testimonialContainer .pagination {
	width: 100%;
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
#blogSearchContent .pagination .menuactive,
#testimonialContainer .pagination .menuactive{
	background-color: #FFF; color: #000;
}

#blogSearchContent .pagination .alignlefts,
#testimonialContainer .pagination .alignlefts{
    float: left;
    margin: 0 10px 10px 0
}
#blogSearchContent .pagination .alignrights,
#testimonialContainer .pagination .alignrights{
    float: right;
    margin: 0 0 10px 10px
}
/*End of Pagination Setting*/


#backTop{
    width:35px;
    height:35px;
    padding:10px;
    border-radius:4px;
    text-indent:-9999px;
    cursor:pointer;
    z-index:999999999;
	display:none;
	box-sizing:content-box;
	-webkit-box-sizing:content-box;
}
#backTop.white{
     background:url(../../images/uparr-48-b.png) no-repeat center center rgba(255,255,255,0.8);
    border:1px solid #ccc;
}
#backTop.black{
     background:url(../../images/uparr-48-w.png) no-repeat center center rgba(0,0,0,0.8); 
    border:1px solid #ccc;
}
#backTop.red{
     background:url(../../images/uparr-48-w.png) no-repeat center center rgba(217,97,81,0.9); 
    border:1px solid #fff;
}
#backTop.green{
     background:url(../../images/uparr-48-b.png) no-repeat center center rgba(81,217,187,0.9); 
    border:1px solid #fff;
}

/***********************
	Sliding
**********************/
#posts-carousel-wrap{ margin: 0 auto 20px auto }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -23px; outline: 0; width: 46px; height: 46px; text-indent: -9999px; z-index: 99; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; opacity: 0.7; }
.bx-wrapper .bx-controls-direction a:hover { opacity: 1 }
.bx-wrapper .bx-controls-direction a.disabled { display: none }
#posts-carousel-wrap .bx-wrapper .bx-prev { left: 315px; background: url("../../images/home-carousel-arrow-left.png") center center no-repeat; -webkit-transition: .2s ease-out; -moz-transition: .2s linear; transition: .2s linear; }
#posts-carousel-wrap .bx-wrapper .bx-next { right: 315px; background: url("../../images/home-carousel-arrow-right.png") center center no-repeat; -webkit-transition: .2s ease-out; -moz-transition: .2s linear; transition: .2s linear; }
#posts-carousel li { width: 300px; float: left; font-size: 13px; position: relative; overflow: hidden; background: #fff; border-bottom: 1px solid #d3d3d3; }
#posts-carousel li img { display: block; width: 100%; }
#posts-carousel .overlay-plus { display: block; width: 74px; height: 74px; background: url("../../images/carousel-overlay.png") 0 0 no-repeat; position: absolute; top: 0; right: 0; transition: background 0.3s ease; -webkit-transition: background 0.3s ease; -o-transition: background 0.3s ease; -moz-transition: background 0.3s ease; }
#posts-carousel-wrap .bx-wrapper li:hover .overlay-plus{ background: url("../../images/carousel-overlay-hover.png") 0 0 no-repeat; transition: background 0.3s ease; -webkit-transition: background 0.3s ease; -o-transition: background 0.3s ease; -moz-transition: background 0.3s ease; }
#posts-carousel-wrap.no-carousel ul{ margin-right: -20px }
#posts-carousel-wrap.no-carousel #posts-carousel li{ margin-right: 20px }
.posts-carousel-article h2 { font-size: 24px; margin: 0 0 0; color: #4f4f4f; font-weight: 400; }
.posts-carousel-article { padding: 30px; color: #646464; }
.posts-carousel-article p { margin: 0 }



@-moz-keyframes simslide{ /* Firefox */

from {height: 0;}
to {height: 100px;}
}

@-webkit-keyframes simslide{ /* Safari and Chrome */

from {height: 0;}
to {height: 100px;}
}

@-o-keyframes simslide{ /* Opera */

from {height: 0;}
to {height: 100px;}
}

@-ms-keyframes simslide{ /* IE10 */

from {height: 0;}
to {height: 100px;}
}

@keyframes simslide
{
from {height: 0;}
to {height: 100px;}
}

.hideTopHeader{
	min-height: 0px !important;
    overflow: hidden;
	-moz-animation: slide ease 1s forwards;
   -webkit-animation: slide ease 1s forwards;
   -o-animation: slide ease 1s forwards;
   -ms-animation: slide ease 1s forwards;
    animation: slide ease 1s forwards;	
}

@-moz-keyframes slide{ /* Firefox */

from {height: 240px;}
to {height: 0;}
}

@-webkit-keyframes slide{ /* Safari and Chrome */

from {height: 240px;}
to {height: 0;}
}

@-o-keyframes slide{ /* Opera */

from {height: 240px;}
to {height: 0;}
}

@-ms-keyframes slide{ /* IE10 */

from {height: 240px;}
to {height: 0;}
}

@keyframes slide
{
from {height: 240px;}
to {height: 0;}
}


/******************************
	Main Preloader Loader
******************************/
#intro-scroll{
	position: absolute;
    right: 50%;
    bottom: 140px;
    left: 50%;
    width: 5%;
    height: 5%;
    background-image: url("../../images/scrolldown.png");
    background-repeat: no-repeat;
    background-position: 0 center;
	display: inline-flex;
	z-index: inherit;
	background-size: 70px 35px;
	-webkit-transition: all 4.6s ease-in-out;
	-moz-transition: all 4.6s ease-in-out;
	-o-transition: all 4.6s ease-in-out;
	 -ms-transition: all 4.6s ease-in-out;
	 transition: all 4.6s ease-in-out;
	 opacity: 0;
}

#intro-scroll:hover{
	background-image: url("../../images/scrolldownHover.png");	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	 -ms-transition: all 0.3s ease-in-out;
	 transition: all 0.3s ease-in-out;
} 
.loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
	text-transform: uppercase;
}
.loader .logo {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: 'Futura W02', sans-serif;
    font-style: normal;
    font-size: 4rem;
   /* line-height: 4.5rem;*/
    text-transform: uppercase;
    margin: auto;
    width: auto;
    height: 80px;
    color: #1a1a18
}
.loader .logo .els {
    display: inline-block;
    opacity: 0;
    visibility: hidden;
	letter-spacing: 1px;
	font-weight: 600;
	
}
.loader .logo .els:first-child {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px)
}
.loader .logo .els:nth-child(2) {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px)
}
.loader .logo .els:nth-child(3) {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px)
}
.loader .logo .els:nth-child(4) {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px)
}
.loader .logo .els:nth-child(5) {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px)
}
.loader .logo .els:nth-child(6) {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px)
}
.loader .logo .els:nth-child(7) {
    -webkit-transform: translateX(-6px);
    -moz-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    -o-transform: translateX(-6px);
    transform: translateX(-6px)
}
.loader .logo .els:nth-child(8) {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
    transform: translateX(-5px)
}
.loader .logo .els:last-child {
    -webkit-transform: translateX(-2px);
    -moz-transform: translateX(-2px);
    -ms-transform: translateX(-2px);
    -o-transform: translateX(-2px);
    transform: translateX(-2px)
}
.intro {
    position: absolute;
    top: 0;
    left: -320px;
    right: -100px;
    bottom: -100px;
    width: 100vw;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: -webkit-transform 1s cubic-bezier(1, 0, 0, 1) 0.2s;
    -moz-transition: -moz-transform 1s cubic-bezier(1, 0, 0, 1) 0.2s;
    transition: transform 1s cubic-bezier(1, 0, 0, 1) 0.2s
}
.intro .intro-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0
}
.intro .intro-background:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.9), background 1s cubic-bezier(0.785, 0.135, 0.15, 0.9);
    -moz-transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.9), background 1s cubic-bezier(0.785, 0.135, 0.15, 0.9);
    transition: opacity 1s cubic-bezier(0.785, 0.135, 0.15, 0.9), background 1s cubic-bezier(0.785, 0.135, 0.15, 0.9);
    z-index: 2
}
.intro .intro-background .el {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;
    -webkit-transform: translate(0, 0) scale(0.9);
    -moz-transform: translate(0, 0) scale(0.9);
    -ms-transform: translate(0, 0) scale(0.9);
    -o-transform: translate(0, 0) scale(0.9);
    transform: translate(0, 0) scale(0.9);
    -webkit-transition: -webkit-transform 1.4s ease-in-out;
    -moz-transition: -moz-transform 1.4s ease-in-out;
    transition: transform 1.4s ease-in-out
}
.intro .intro-background .intro-border {
    position: absolute;
    background: #fff;
    z-index: 3;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: -moz-transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.15, 0.86)
}
.intro .intro-background .intro-border.horizontal {
    width: 100%;
    height: 200px;
}
.intro .intro-background .intro-border.vertical {
    height: 100%
}
.intro .intro-background .intro-border.top {
    top: -80px
}
.intro .intro-background .intro-border.right {
    right: -1px;
    width: 45%;
    -webkit-transition: -webkit-transform 0.83s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: -moz-transform 0.83s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.83s cubic-bezier(0.785, 0.135, 0.15, 0.86)
}
.intro .intro-background .intro-border.bottom {
    bottom: -1px;
	/*bottom: 50px;*/
}
.intro .intro-background .intro-border.left {
    left: -1px;
    width: 25%;
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    -moz-transition: -moz-transform 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: transform 0.9s cubic-bezier(0.785, 0.135, 0.15, 0.86)
}
.intro .intro-text {
    position: absolute;
    /*left: 90px;*/
    bottom: 130px;
    width: 100%;
    opacity: 0;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2
}
.intro .intro-text h2 {
    margin: 0;
    font-family: 'Futura W02', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 45px;
    line-height: 1em;
    color: #fff;
	margin-bottom: 150px;
    text-align: center;
	padding-left: 20px;
    padding-right: 20px;
}
.intro .intro-text h2 br {
    display: none
}
.intro-text-below {
    position: relative;
    z-index: 2
}
.intro-text-right {
    position: relative;
    z-index: 3;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    -moz-transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1) 0.9s;
    -webkit-transition-property: opacity, visibility;
    -moz-transition-property: opacity, visibility;
    transition-property: opacity, visibility;
	 /*margin-top: -8rem;*/
}
.intro-text-right::after {
    clear: both;
    content: "";
    display: table
}
.intro-text-right .intro-text-right-inner {
    width: 100%; /*eguyz 100%*/
    padding-left: 50%
}
#container.show-intro .intro .intro-background:before {
    opacity: .15
}
#container.show-intro .intro .intro-background .el {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0)
}
#container.show-intro .intro .intro-background .intro-border.top {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%)
}
#container.show-intro .intro .intro-background .intro-border.right {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0)
}
#container.show-intro .intro .intro-background .intro-border.bottom {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%)
}
#container.show-intro .intro .intro-background .intro-border.left {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0)
}
#container.show-intro .intro-text-right {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -moz-transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: opacity 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s
}
#container.show-intro header.header-top .site-logo {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px)
}




/******************************
	Front Top Header
******************************/
.topclientheader{min-height: 240px; top: -32px;}
.topclientheaderbg{position: absolute; top: 0; left: 0;  right: 0; min-height: 240px; display: block; background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;background-position: 50%; z-index: -1; -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px);}
.topHeaderContent{padding-top: 50px;}
.topHeaderContent .agentPic{width: 170px; height: 170px; border: 4px solid #fff;}
.topHeaderInfo{padding-left: 50px;}

.topHeaderInfo .topAgentName{font-family: 'Futura W02'; font-style: normal; font-weight: 200; font-size: 3em; color: #fff; padding-bottom: 20px;}
.topHeaderInfo .topAgentContact, .topHeaderInfo .topAgentEmail{font-family: 'Futura W02'; font-style: normal; font-weight: 200; font-size: 24px; color: #fff; padding-bottom: 10px;}
.topHeaderInfo .topAgentContact img, .topHeaderInfo .topAgentEmail img{width: 24px; vertical-align: text-bottom;}


/******************************
	Front Top Simple Header
******************************/
.topsimpleheader{min-height: 100px; top: 0; background-color: #1f2024; z-index: 10; position: fixed; width: 100%;}
.topsimpleagentname{padding: 10px; color: #fff; font-family: 'Futura W02'; font-style: normal; font-weight: 400; font-size: 3em;}
.topsimplerighticon{padding: 20px; text-align: right;}

/******************************
	Front Top Simple Header Home
******************************/
.topsimpleheader2{min-height: 100px; top: 0; background-color: #1f2024; z-index: 9; position: fixed; width: 100%;}
.topsimpleagentname2{padding: 10px; color: #fff; font-family: 'Futura W02'; font-style: normal; font-weight: 400; font-size: 3em;}
.topsimplerighticon2{padding: 20px; text-align: right;}

/******************************
	Front Intro Section
******************************/
.aboutSection{background-color: #fff;}
.aboutVerifyLogo img{width: 100px;}
.aboutTitle{font-family: 'Futura W02'; font-style: normal; font-weight: 600; font-size: 35px; color: #000;}
.aboutDesc{font-family: 'Futura W02'; font-style: normal; font-weight: 200; font-size: 20px; color: #000;}
.knowmoreDiv, .contactDiv{width: 27%; padding: 10px;}
.quickSection #ihf-main-container #ihf_select_property_type_chosen:odd{display: none}
.knowmoreDiv a{
    background-color: #000;
    font-family: 'Futura W02';
    font-weight: 200;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
}

.contactDiv a{
	background-color: #000;
    font-family: 'Futura W02';
    font-weight: 200;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
}
.knowmoreDiv a:hover, .contactDiv a:hover{
	text-decoration: none;	
	background-color: #d9d9d4;
	color: #000;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.quickSection{padding-top: 50px;}
.quickTitle{text-align: center; padding: 10px; font-size: 30px; font-family: 'Futura W02'; font-weight: 600;}
.quickBg{background-color: #d9dad4; -moz-border-radius: 5px; border-radius: 5px; min-height: 460px;}

/**********************************
	IDX Optima Express Custom CSS
**********************************/
.quickSection #ihf-main-container .field-label{text-transform: uppercase;font-family: 'Futura W02';}
.quickSection #ihf-main-container .ihf-widget .col-xs-12{text-align: center !important;}
.quickSection #ihf-main-container .field-label{float: left;}
.quickSection #ihf-main-container .btn-primary{
	border: 0;
	background-color: #000;
    font-family: 'Futura W02';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    padding-left: 75px;
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
    background: #000 url(../../images/findicon.png) no-repeat right center;
    background-position: 6%;
}
.quickSection #ihf-main-container .btn-primary:hover{
	text-decoration: none;	
	color: #000;
	border: 1px solid #000;
	background: #fff url(../../images/findiconblack.png) no-repeat right center;
    background-position: 6%;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/******************************
	Front Buy Sell Invest Section
******************************/
.buysellSection{min-height: 350px;}
.buySellContainer{padding-top: 80px; padding-bottom: 70px;}
.bsiBg{position: absolute; left: 0;  right: 0; min-height: 350px; height: 100%; display: block; background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;background-position: 50%; z-index: -1; -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px);}
.bsiDesc{font-family: 'Futura W02'; font-style: normal; font-weight: 200; font-size: 32px; color: #fff; padding-bottom: 20px; text-align: center;}
.buyBtnSection, .sellBtnSection, .investBtnSection{text-align: center; padding: 10px;}

.buyBtnSection a, .sellBtnSection a, .investBtnSection a{
	background: rgba(255, 255, 255, 0.3);
	border: 1px solid #fff;
    font-family: 'Futura W02';
    font-weight: 800;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
}
.buyBtnSection a:hover, .sellBtnSection a:hover, .investBtnSection a:hover{
	text-decoration: none;	
	background-color: #d9d9d4;
	color: #000;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/******************************
	Home Featured Section
******************************/
.featuredSection{min-height: 350px; background-color: #f5f5f3;}
.featuredContainer{padding-top: 80px; padding-bottom: 70px;}
.featuredContainer .featuredTitle{font-family: 'Futura W02'; font-weight: 800; font-size: 2em; text-transform: uppercase; text-align:center;}
.featuredContainer #ihf-main-container .title-bar-1{background-color: #1f2024; font-family: 'Futura W02'; font-weight: 800; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border: 1px solid #1f2024;}

.featuredSection #ihf-main-container  .col-xs-5, .featuredSection #ihf-main-container .hidden-xs, .featuredSection #ihf-main-container .col-xs-6 .pagination, .featuredSection  .ihf-powered-by{display: none !important;}
.featuredSection .ihf-grid-result-address, .featuredSection .ihf-grid-result-basic-info-container, .featuredSection .ihf-grid-result-photocount, .featuredSection .ihf-grid-result-mlsnum-proptype{color: #1f2024;}
.featuredFrame #ihf-main-container .btn-primary, .featuredFrame .carousel-control{display: none;}

.featuredSection .rowBtnMore{text-align: center;}
.featuredSection .btnMoreList a{
	background-color: #d9d9d4;
    font-family: 'Futura W02';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-transform: uppercase;
}
.featuredSection .btnMoreList a:hover{
	text-decoration: none;	
	background-color: #000;
	color: #fff;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/******************************
	Recent Blog Section
******************************/
.recentBlog{min-height: 350px; background-color: #fff; z-index: 9 !important;}
.recentBlogContainer{padding-top: 80px; padding-bottom: 70px;}
.recentBlogContainer .rowBTitle{padding-bottom: 20px;}
.recentBlogContainer .recentPostTitle{font-family: 'Futura W02'; text-transform: uppercase; text-align: center; font-weight: 800; font-size: 2em; padding-bottom: 20px;}
.recentBlogContainer .recentBlogDate{font-family: 'Futura W02'; font-size: 12px;}
.recetBlogContainer .blogWrapper{min-height: 200px;}
.recentBlogContainer .blogContent{border: 1px solid #ccc; font-family: 'Futura W02'; min-height: 500px;}
.recentBlogContainer .recentBlogImage{height: 200px; padding: 0;}
.recentBlogContainer .recentBlogImage img{height: 200px; width: 100%;}
.recentBlogContainer .recentBlogTitle h2{font-weight: 800; font-size: 18px; padding-bottom: 0;}
.recentBlogContainer .recentBlogDesc{font-weight: 400; font-size: 16px;}

.recentBlogContainer .rowBtnBlog{text-align: center;}
.recentBlogContainer .btnMoreBlog a{
	background-color: #d9d9d4;
    font-family: 'Futura W02';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-transform: uppercase;
}
.recentBlogContainer .btnMoreBlog a:hover{
	text-decoration: none;	
	background-color: #000;
	color: #fff;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}





/******************************
	Email Section
******************************/
.emailBottom{min-height: 350px; background-color: #1f2024;}
.emailBottomContainer{padding-top: 80px; padding-bottom: 70px;
	/*Testing*/
	/*position: fixed;
    bottom: 0;
    width: 100%;*/
}
.emailBottomContainer .rowMailContent{color: #fff;
	/*Testing*/
   /* width: 65%;
    margin-left: 340px;*/
}
.emailBottomDivider{padding-top: 264px; background: #1f2024; width: 100%; margin-left: 0px; display: none;}
.emailBottomContainer .rowemailTitle{padding-bottom: 40px;}

.emailBottomContainer .mailTitle{font-family: 'Futura W02'; font-weight: 400; font-size: 2em; color: #fff; text-align: center; text-transform: uppercase;}
.emailBottomContainer .emailCompName{font-family: 'Futura W02'; font-weight: 600; font-size: 1.5em; color: #fff; text-align: left; text-transform: capitalize; padding-bottom: 20px;}
.emailBottomContainer .compAdd, .emailBottomContainer .compContact, .emailBottomContainer .compeMail{font-family: 'Futura W02'; font-style: normal; font-weight: 200; font-size: 18px; padding-bottom: 10px;}
.emailBottomContainer .compAdd img, .emailBottomContainer .compContact img, .emailBottomContainer .compeMail img{width: 24px; vertical-align: text-bottom;}

.formMail form input {height: 42px; font: 14px/1.0 'Futura W02'; color: #FFFFFF; letter-spacing: 1px; margin-top: 20px; border: 0; border-bottom: 1px solid rgba(255, 255, 255, 0.5); outline: none;}
.formMail form input::-webkit-input-placeholder, .formMail form textarea::-webkit-input-placeholder{color: #fff; font-family: 'Futura W02';}
.formMail form input:-moz-placeholder, .formMail form textarea::-webkit-input-placeholder{ /* Firefox 18- */ color: #fff; font-family: 'Futura W02';}
.formMail form input::-moz-placeholder, .formMail form textarea::-webkit-input-placeholder{  /* Firefox 19+ */color: #fff; font-family: 'Futura W02';}
.formMail form input:-ms-input-placeholder, .formMail form textarea::-webkit-input-placeholder{color: #fff; font-family: 'Futura W02';}


.formMail form input.name{width: 100%;  background: transparent url('../../images/star_form.png') 99.04% center no-repeat; border-color: #fff; padding: 5px;}

.formMail form input.phone {width: 48%; float: left;  background: transparent url('../../images/star_form.png') 98% center no-repeat; border-color: #fff; padding: 5px;}
.formMail form input.email {width: 48%; float: right; background: transparent url('../../images/star_form.png') 98% center no-repeat; border-color: #fff; padding: 5px;}
.formMail form textarea.message{width: 100%;  background: transparent url('../../images/star_form.png') 99.04% center no-repeat; border-left: none; border-right: none; border-top: none; resize: none; height: 120px; border-color: #fff; color: #FFFFFF; padding-top: 20px;  padding: 5px;}
.formMail form input.send_message {
	background-color: #d9d9d4;
    font-family: 'Futura W02';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-transform: uppercase;
}
.formMail form input.send_message:hover {
	text-decoration: none;	
	background-color: #fff;
	color: #000;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.formMail form input.name:focus, .formMail form input.phone:focus, .formMail form input.email:focus, .formMail form textarea.message:focus, .formMail form .fCapcha:focus{
	box-shadow: 0 0 25px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);	
}

/*.formMail form .fCapcha{display: none;}*/
/*.formMail form .fCapcha {  background-color: #000; border: 1px solid green; padding: 15px;  border-radius: 5px; display: inline-block; position: relative;}*/
/*.formMail form .fCapcha + label:after {content: '\2714'; font-size: 20px; position: absolute; top: 1px; left: 7px; color: white;}*/
/*.formMail form .fCapcha + label:active {background-color: #62b362;}*/
.formMail form .chklabel{font-size: 16px; display: inline-block; color: #fff; font-family: 'Futura W02';}
.formMail form .fCapcha{width: 20px; height: 20px; display:inline-block; padding: 10px;}
	      
.bottommail{position: fixed; bottom: 0;}

/**********************************************
	FEATURED LISTING PAGE CSS
**********************************************/
.featuredListSection{min-height: 350px; background-color: #f5f5f3;}
.featuredListContainer{padding-top: 80px; padding-bottom: 70px;}
.featuredListContainer .featuredTitle{font-family: 'Futura W02'; font-weight: 800; font-size: 2em; text-transform: uppercase; text-align:center;}
.featuredListContainer #ihf-main-container .title-bar-1{background-color: #1f2024; font-family: 'Futura W02'; font-weight: 800; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border: 1px solid #1f2024;}

.featuredListSection #ihf-main-container  .col-xs-5, .featuredListSection #ihf-main-container .hidden-xs, .featuredListSection  .ihf-powered-by{display: none !important;}
.featuredListSection .ihf-grid-result-address, .featuredListSection .ihf-grid-result-basic-info-container, .featuredListSection .ihf-grid-result-photocount, .featuredListSection .ihf-grid-result-mlsnum-proptype{color: #1f2024;}

.featuredListSection .rowBtnMore{text-align: center;}
.featuredListSection .btnMoreList a{
	background-color: #d9d9d4;
    font-family: 'Futura W02';
    font-weight: 400;
    font-size: 18px;
    color: #000;
    display: inline-block;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 170px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-transform: uppercase;
}
.featuredListSection .btnMoreList a:hover{
	text-decoration: none;	
	background-color: #000;
	color: #fff;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/**********************************************
	PROPERTIES SEARCH PAGE CSS
**********************************************/
.prosearchSection{min-height: 650px; background-color: #f5f5f3; z-index: 9 !important;}
.prosearchContainer{padding-top: 80px; padding-bottom: 70px;}
.prosearchContainer .prosearchTitle{font-family: 'Futura W02'; font-weight: 800; font-size: 2em; text-transform: uppercase; text-align:center;}
.prosearchContainer .ihf-powered-by{display: none;}
.prosearchContainer #ihf-main-container .btn-primary{
	border: 0;
	background-color: #000;
    font-family: 'Futura W02';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    padding-left: 75px;
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
    background: #000 url(../../images/findicon.png) no-repeat right center;
    background-position: 6%;
}
.prosearchContainer #ihf-main-container .btn-primary:hover{
	text-decoration: none;	
	color: #000;
	border: 1px solid #000;
	background: #fff url(../../images/findiconblack.png) no-repeat right center;
    background-position: 6%;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.resultSearch{display: none;}
.normalProSearch #ihf-main-container .title-bar-1{background-color: #1f2024; font-family: 'Futura W02'; font-weight: 800; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border: 1px solid #1f2024;}
.normalProSearch .ihf-grid-result-address, .normalProSearch .ihf-grid-result-basic-info-container, .normalProSearch .ihf-grid-result-photocount, .normalProSearch .ihf-grid-result-mlsnum-proptype {
    color: #1f2024;
}
.normalProSearch .pull-right #saveSearchButton {
	border: 0;
    background-color: #000;
    font-family: 'Futura W02';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    padding-left: 75px;
    width: 20%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
    background: #000;
}
.normalProSearch #ihf-mini-search-submit .btn.btn-primary {
    border: 0;
    background-color: #000;
    font-family: 'Futura W02';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    padding-left: 75px;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
    background: #000 url(../../images/findicon.png) no-repeat right center;
    background-position: 6%;
}
.entry-single.featuredFrame #ihf-main-container .btn-primary{
	border: 0;
    background-color: #000;
    font-family: 'Futura W02';
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    line-height: 20px;
    text-align: center;
    width: 30%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    text-transform: uppercase;
    background: #000;
	
}
.entry-single.featuredFrame #ihf-main-container .title-bar-1{
	color: #ffffff;
    padding: 3px 8px;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    background-color: #000;
    border: 1px solid #000;
    border-radius: 3px;
}
.entry-single.noFeat #ihf-detail-navigation-top{display: none;}
.entry-single.noFeat #ihf-main-container .btn-primary{display: none;}

/**********************************************
	BUYING PAGE CSS
**********************************************/
.buyingPageSection{min-height: 650px; background-color: #f5f5f3; z-index: 9 !important;}
.buyingPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
.buyingPageContainer{padding-top: 80px; padding-bottom: 70px; font-family: 'Futura W02'; }
.buyingPageContainer .buyingTitle{font-weight: 800; font-size: 2em; text-transform: uppercase; text-align:center;}
.buyingPageContainer .buyingSubTitle, .buyingPageContainer .buyingRighDesc, .buyingPageContainer .buyingFullDesc{font-weight: 200; font-size: 18px; line-height: 2em;}
.buyingPageContainer .buyingCal .calculator{
	float: left;
	display: inline-block;
	width: 100%;
	padding: 10px;
	background-color: #CCC;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer{
	width: 100%;
	height: 350px;
	padding: 10px;
	font-family: "Futura W02";
	text-align: center;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .calTitle{
	width: 100%;
	display: inline-block;
	font-size: 2.0em;
	font-weight: 600;
	padding: 10px;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .sellPrice .pLabel{
	float: left;
	width: 100%;
    text-align: center;
	display: inline-block;
    font-size: 18px;
    font-weight: 600;
	padding: 10px;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .sellPrice{
	float: left;
	width: 50%;
    text-align: center;
	padding: 10px;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .sellPrice input{
	color:#3c3c3c;
	font-family: "Futura W02";
	height: 40px;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #fff;
	background-image: url('images/dollar.png');
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position-x: 5px;
    background-position-y: 10px;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .downPayment{
	float: left;
	width: 50%;
    text-align: center;
	padding: 10px;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .downPayment .downLabel{
	float: left;
	width: 100%;
    text-align: center;
	display: inline-block;
    font-size: 18px;
    font-weight: 600;
	padding: 10px;
}

.buyingPageContainer .buyingCal .calculator .mortgageContainer .downPayment input{
	color:#3c3c3c;
	font-family: "Futura W02";
	height: 40px;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #fff;
	background-image: url('images/dollar.png');
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position-x: 5px;
    background-position-y: 10px;
}

.buyingPageContainer .buyingCal .calculator .mortgageContainer .interestRate{
	float: left;
	width: 50%;
    text-align: center;
	padding: 10px;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .interestRate .interestLabel{
	float: left;
	width: 100%;
    text-align: center;
	display: inline-block;
    font-size: 18px;
    font-weight: 600;
	padding: 10px;
}

.buyingPageContainer .buyingCal .calculator .mortgageContainer .interestRate input{
	color:#3c3c3c;
	font-family: "Futura W02";
	height: 40px;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #fff;
	text-align: center;
}

.buyingPageContainer .buyingCal .calculator .mortgageContainer .year{
	float: left;
	width: 50%;
    text-align: center;
	padding: 10px;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .year .downLabel{
	float: left;
	width: 100%;
    text-align: center;
	display: inline-block;
    font-size: 18px;
    font-weight: 600;
	padding: 10px;
}

.buyingPageContainer .buyingCal .calculator .mortgageContainer .year input{
	color:#3c3c3c;
	font-family: "Futura W02";
	height: 40px;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #fff;
	text-align: center;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .monthPayment{
	float: left;
	width: 100%;
    text-align: center;
	padding: 10px;
}
.buyingPageContainer .buyingCal .calculator .mortgageContainer .monthPayment .monthLabel{
	float: left;
	width: 100%;
    text-align: center;
	display: inline-block;
    font-size: 18px;
    font-weight: 600;
	padding: 10px;
}

.buyingPageContainer .buyingCal .calculator .mortgageContainer .monthPayment input{
	color:#3c3c3c;
	font-family: "Futura W02";
	height: 40px;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	background-color: #fbfbfb;
	padding: 5px 5px 5px 5px;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 1px solid #fff;
	background-image: url('images/dollar.png');
	padding-left: 30px;
	background-repeat: no-repeat;
	background-position-x: 5px;
    background-position-y: 10px;
}



/**********************************************
	SELLING PAGE CSS
**********************************************/
.sellingPageSection{min-height: 650px; background-color: #f5f5f3; z-index: 9 !important;}
.sellingPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
.sellingPageContainer{padding-top: 80px; padding-bottom: 70px; font-family: 'Futura W02'; }
.sellingPageContainer .sellingTitle{font-weight: 800; font-size: 2em; text-transform: uppercase; text-align:center;}
.sellingPageContainer .sellingSubTitle, .sellingPageContainer .sellingRighDesc, .sellingPageContainer .sellingFullDesc{font-weight: 200; font-size: 18px; line-height: 2em;}


/**********************************************
	INVESTING PAGE CSS
**********************************************/
.investPageSection{min-height: 650px; background-color: #f5f5f3; z-index: 9 !important;}
.investPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
.investPageContainer{padding-top: 80px; padding-bottom: 70px; font-family: 'Futura W02'; }
.investPageContainer .investTitle{font-weight: 800; font-size: 2em; text-transform: uppercase; text-align:center;}
.investPageContainer .investSubTitle, .investPageContainer .investFullDesc{font-weight: 200; font-size: 18px; line-height: 2em;}


/**********************************************
	COMMUNITIES PAGE CSS
**********************************************/
.communityPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0;}
.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0;}


/**********************************************
	ABOUT ME PAGE CSS
**********************************************/
.aboutmePageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0;}
.aboutmePageContainer .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
.aboutmePageContainer{padding-top: 150px; padding-bottom: 70px; font-family: 'Futura W02'; }
.aboutmePageContainer .agentVideo{width: 100%;}
.aboutmePageContainer .agentImg img{width: 100%;}
.aboutmePageContainer .agentName{padding-bottom: 10px; font-size: 2.5em; font-weight: 400; color: #1f2024;}
.aboutmePageContainer .agentAdd{padding-bottom: 10px;  font-size: 18px; font-weight: 200; color: #1f2024;}
.aboutmePageContainer .agentContact, .aboutmePageContainer .agentEmail{padding-top: 5px; padding-bottom: 5px; font-size: 18px;}
.aboutmePageContainer .agentBadge {padding-top: 20px;}
.aboutmePageContainer .agentBadge img{width: 65px;}
.aboutmePageContainer .agentDesc{font-size: 20px; font-weight: 400; color: #1f2024;}

/******************************
	ABOUT ME PAGE TESTIMONIAL Section
******************************/
.testimonialSection{min-height: 450px;}
.testimonialContainer{padding-top: 80px; padding-bottom: 70px;}
.testimonialBg{position: absolute; left: 0;  right: 0; min-height: 450px; height: 100%; display: block; background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;background-position: 50%; z-index: -1; -webkit-filter: blur(1px); -moz-filter: blur(1px); -o-filter: blur(1px); -ms-filter: blur(1px); filter: blur(1px);}
.testimonialTitle{font-family: 'Futura W02'; font-style: normal; font-weight: 200; font-size: 2em; color: #fff; padding-bottom: 20px; text-align: center; text-transform: uppercase; letter-spacing: 6px;}
.testimonialSection .testCustName{font-family: 'Futura W02'; font-style: normal; font-weight: 200; font-size: 18px; color: #fff; text-align: center; font-style: italic;}

#posts-carousel-wrap2 { margin: 0 auto 20px auto }
#posts-carousel-wrap2 .bx-wrapper .bx-prev { left: 315px; background: url("../../images/home-carousel-arrow-left.png") center center no-repeat; -webkit-transition: .2s ease-out; -moz-transition: .2s linear; transition: .2s linear; }
#posts-carousel-wrap2 .bx-wrapper .bx-next { right: 315px; background: url("../../images/home-carousel-arrow-right.png") center center no-repeat; -webkit-transition: .2s ease-out; -moz-transition: .2s linear; transition: .2s linear; }
#posts-carousel-wrap2 .bx-wrapper li:hover .overlay-plus { background: url("../../images/carousel-overlay-hover.png") 0 0 no-repeat; transition: background 0.3s ease; -webkit-transition: background 0.3s ease; -o-transition: background 0.3s ease; -moz-transition: background 0.3s ease; }
#posts-carousel-wrap2.no-carousel ul { margin-right: -20px }
#posts-carousel-wrap2.no-carousel #posts-carousel li { margin-right: 20px }
.posts-carousel-article2 h2 { font-size: 24px; margin: 0 0 0; color: #fff; font-weight: 400; }
.posts-carousel-article2 { padding: 30px; color: #fff; }
.posts-carousel-article2 p { margin: 0 }
#posts-carousel2 li { width: 300px; float: left; font-size: 24px; font-family: 'Futura W02'; position: relative; overflow: hidden; border-bottom: 0px solid #d3d3d3; text-align: center;}
#posts-carousel2 li img { display: block; width: 100%; }
#posts-carousel2 .overlay-plus { display: block; width: 74px; height: 74px; background: url("../../images/carousel-overlay.png") 0 0 no-repeat; position: absolute; top: 0; right: 0; transition: background 0.3s ease; -webkit-transition: background 0.3s ease; -o-transition: background 0.3s ease; -moz-transition: background 0.3s ease; }


/**********************************************
	ABOUT ME SOLD PROPERTIES CSS
**********************************************/
.soldproPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0;}
.soldproPageContainer .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
.soldproPageContainer{padding-top: 80px; padding-bottom: 70px; font-family: 'Futura W02';}
.soldproPageContainer .soldtitle{font-family: 'Futura W02'; font-style: normal; font-weight: 600; font-size: 2em; color: #000; padding-bottom: 20px; text-align: center; text-transform: uppercase; letter-spacing: 6px;}
/*.soldproPageSection iframe{height: 650px;}*/
iframe.noScrolling{height: 520px; width: 100%; }

.soldproPageContainer .ihf-powered-by, .soldproPageContainer #ihf-main-container .pull-right{display: none;}
.soldproPageContainer #ihf-main-container .btn-primary{background-color: #1f2024; border: 1px solid #1f2024;}
.soldproPageContainer #ihf-main-container .title-bar-1{background-color: #1f2024; font-family: 'Futura W02'; font-weight: 800; font-size: 18px; padding-top: 10px; padding-bottom: 10px; border: 1px solid #1f2024;}
.soldproPageContainer .ihf-grid-result-address, .soldproPageContainer .ihf-grid-result-basic-info-container, .soldproPageContainer .ihf-grid-result-photocount, .soldproPageContainer .ihf-grid-result-mlsnum-proptype {color: #1f2024;}



/**********************************************
	ABOUT ME SKILL SET CSS
**********************************************/
.skillsetPageSection{min-height: 650px; background-color: #fff; padding-right: 0; z-index: 9 !important;}
.skillsetPageContainer .bottomPadding{padding-bottom: 20px;}
.skillsetPageContainer{padding-top: 80px; padding-bottom: 70px; font-family: 'Futura W02'; }
.skillsetPageContainer .skillsettitle{font-weight: 600; font-size: 2em; color: #000; padding-bottom: 20px; text-align: center; text-transform: uppercase; letter-spacing: 6px;}
.skillsetPageContainer .skillsetdesc{font-weight: 400; font-size: 20px; color: #000; padding-bottom: 20px; line-height: 1.5em;}
.skillsetPageContainer .skillsetlist{font-weight: 400; font-size: 20px; color: #000; line-height: 2em;}
.skillsetPageContainer .skillsetimg img{width: 564px; height: 342px;}



/**********************************************
	BLOG CSS
**********************************************/
#blogHeader{background-image: url('../../images/blogheader.jpg');}
#blogHeader {
    min-height: 450px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    text-align: center;
}
.blogPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0;}
.blogPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0; padding-left: 265px;}

#blogHeader .headerTitle {
    color: #fff;
    opacity: 1;
    padding-bottom: 0;
    font-weight: 900;
	font-family: 'Futura W02';
    font-size: 5em;
    text-transform: none;
    line-height: 450px;
	text-shadow: 0 4px 4px #000;
}
#searchBlog {
    float: left;
    width: 100%;
    min-height: 30px;
    background-color: #959595;
    padding: 15px 0px 15px 0px;
}
#searchBlog .searchContainer {
    width: 100%;
    display: table;
    text-align: center;
}
#searchBlog .searchContainer div {
    display: table-cell;
}
#searchBlog .searchContainer .search_blog_text {
    position: relative;
    float: left;
    left: 19%;
}
#searchBlog .searchBlogText{
	border: 1px solid #fff; 
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 20px;
    width: 650px;
    padding: 10px;
}
.center {
    margin: auto;
    width: 1200px;
}
#blogContentContainer{margin-top: 7%;  display:block;}
#blogContentContainer .fblog_list{padding-bottom: 90px;}
#blogContentContainer .fblog_list .title{font-size: 2em; font-family: "Futura W02"; font-weight: 900; letter-spacing: 0.2rem;}
#blogContentContainer .fblog_list .subtitle{font-size: 16px; font-family: "Futura W02";}
#blogContentContainer .fblog_list .description{padding-top: 20px; padding-bottom: 20px; font-size: 1.5em;}

#blogSearchContent{margin-top: 7%;  display:block;}
#blogSearchContent .fblog_list{padding-bottom: 90px; min-height: 680px;}
#blogSearchContent .fblog_list .title{font-size: 2em; font-family: "Futura W02"; font-weight: 900; letter-spacing: 0.2rem;}
#blogSearchContent .fblog_list .subtitle{font-size: 16px; font-family: "Futura W02";}
#blogSearchContent .fblog_list .description{padding-top: 20px; padding-bottom: 20px; font-size: 1.5em;}
#blogSearchContent .fblog_list .blogSearchDivider{margin-top: 60px;}
#blogSearchContent .button_wrapper{width:100%; text-align: right;}
#blogSearchContent .button {
    font-size: 12px;
    text-transform: uppercase;
    background: #01aaac;
    color: #fff;
    height: 150px;
    line-height: 36px;
    text-align: center;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    width: 151px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    border: none;
	padding: 10px;
}
#blogSearchContent .button a{width: 30%;}
#blogSearchContent .button:hover {background-color: #008c99; color: #fff;  text-decoration: none;}


#blog_comment_list_section{
    float: left;
    width: 100%;
    min-height: 80px;
	/*background-color: #fff;*/
}
#blog_comment_list_section .comment_list_container{
	margin: auto;
    width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
}
#blog_comment_list_section .comment_list_container h2{
	font-size: 18px;
	color: #000;
	text-transform: uppercase;
	font-family: "Futura W02";
	font-weight: 900;
	
}
#blog_comment_list_section .comment_title{
	float: left;
	padding-bottom: 20px;
	width: 100%;	
}
#blog_comment_list_section .commentBody ul{
	list-style-type: none;
}
#blog_comment_list_section .commentButtons{
	font-size: 14px;
	padding-bottom: 20px;
	
}
#blog_comment_list_section .commentButtons a{ display: inline-block; background: #01aaac; color: #fff !important; font-size: 12px; font-weight: bold; text-transform: uppercase; border: 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 5px 35px 0 20px; cursor: pointer; margin-top: 20px; text-decoration:none !important;  transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease;height: 25px; width: 60px;}
#blog_comment_list_section .commentButtons a:hover {background: #008c99;}
#blog_comment_list_section .comment img{
	padding: 5px;
	width: 100px;
	height: 100px;
}
#blog_comment_list_section .comment_name, #blog_comment_list_section .commentTime{
	font-size: 14px;
}
#blog_comment_list_section .commentContent{font-family: "Futura W02"; font-size: 18px; border: 1px solid #ccc; padding: 10px;  -webkit-border-radius: 3px; -moz-border-radius: 3px;     border-radius: 3px; transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; background-color: #fff;}

.avatarImg{
	float: left;
	padding-bottom: 20px;
	width: 100%;	
}
.commentauthor{
	float: left;
	padding-bottom: 10px;
	width: 100%;
	color: #01a6ac;
	font-size: 14px;
	text-transform: capitalize;
	display: inline-block;
}
.commentDate{
	float: left;
	padding-bottom: 20px;
	width: 100%;
	font-size: 14px;
	display: inline-block;
}
.commentBtns{
	float: left;
	padding-bottom: 10px;
	width: 100%;
	font-size: 14px;
	display: inline-block;
	border: none;
}
.comment-reply-link{
	border: 0px;	
}

/*Comment Form*/
#blog_comments_section{
    float: left;
    width: 100%;
    min-height: 100px;
	background-color: #fafafa;
}
#blog_comments_section .comment_center_container{
	text-align: center;
}

#respond{
	padding: 20px 10px 10px 10px;
	font-family: "Futura W02";	
}
#respond .comment-reply-title{
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px;
	font-family: "Futura W02";
	font-weight: 900;
}
#respond .comment_notes{
	font-size: 18px;
	padding-bottom: 15px;
}
#respond .inputFields{
	padding: 10px;
	float: none;
	width: inherit;	
}
#commentform #author, #commentform #email, #commentform #url{
	background: #FFF;
	color: #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    width: 50%;
	height: 35px;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #CCC;
}
#comment{
	background: #FFF;
	color: #000;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
	width: 50%;
	height: 170px;
	cursor: pointer;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #CCC;
	resize: none;
	
}
#respond .logged-in-as a{
	color: #01aaac;
}

#respond .submit{
	display: inline-block; background: #01aaac; color: #fff !important; font-size: 16px; font-weight: bold; text-transform: uppercase; border: 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; padding: 10px 40px; cursor: pointer; margin-top: 20px; text-decoration:none !important; 
}
#respond .submit:hover {background: #008c99;}


#blogfooter {
    background: #333;
    padding: 30px 0;
    text-align: center;
}
#blogfooter .wrapper {
    width: 1200px;
    margin: 0 auto;
}
#blogfooter .wrapper .footer p {
    color: #fff;
}
#blogfooter .wrapper .btn_back {
    display: inline-block;
    background: #01aaac;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none !important;
    margin-left: 20px;
}
#blogfooter .wrapper .btn_back:hover {background: #008c99;}

#searchRow .btn_back_bloghome {
    display: inline-block;
    background: #01aaac;
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px 40px;
    cursor: pointer;
	font-family: "Futura W02";
    text-decoration: none !important;
}
#searchRow .btn_back_bloghome:hover {background: #008c99;}

/*Blog Section End*/