/******************************
	Front Responsive CSS
******************************/
@media (max-width: 480px){
	.rowPaddingTopBottom{padding-top: 50px;	padding-bottom: 20px;}
	
	
	/*****************************
		Intro Page Preloader Loader
	*****************************/
	.loader .logo {font-size: 20px;}
	#intro-scroll{width: 50%; left: 40%; bottom: 100px;}
	.intro .intro-text h2 {font-size: 18px; margin-bottom: 50px;}
	.intro-holder{padding-bottom: 24px;}

	/******************************
		Left Menu
	******************************/
	header.header-top .site-logo{height: 90px;}
	.mobile-leftclose{height: 30px; position: absolute; left: 210px; top: -5px; color: #fff; padding: 5px;}
	.mobile-leftclose img{height: 24px; width: 24px;}
	
	/******************************
		Top Header
	******************************/
	#main-view{margin-top: -15px;}
	.topclientheaderbg{min-height: 190px;}
	.topclientheader{min-height: 190px;}
	.topHeaderContent{padding-top: 60px; padding-left: 50px;}
	.topHeaderContent .agentPic{width: 100px; height: 100px;}
	.topHeaderInfo .topAgentName{font-size: 20px;}
	.topHeaderInfo .topAgentContact, .topHeaderInfo .topAgentEmail{font-size: 14px;}
	.topsimplerighticon .roundBorder img {width: 22px; height: 30px; vertical-align: text-bottom;}
	.topsimpleagentname{padding-left: 65px; font-size: 2em;}
	
	/**************************
		Home - Main Section
	**************************/
	.aboutSection .aboutVerifyLogo{text-align: center; padding: 20px 0 20px 0;}
	.aboutSection .aboutTitle{font-size: 20px; padding-top: 20px;}
	.aboutSection .aboutDesc{font-size: 16px;}
	.aboutSection .knowmoreDiv, .contactDiv{width: 100%; text-align: center;}
	.aboutSection .quickTitle{font-size: 24px;}
	.aboutSection .quickSection #ihf-main-container .btn-primary{width: 100%; padding-left: 0px;}
	
	
	/********************************
		Home - Buy, Sell & Invest Section
	********************************/
	.buysellSection .bsiDesc{font-size: 20px;}
	
	
	/********************************
		Home - Recent Blog Section
	********************************/
	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-prev, .recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-next{display: none; }
	
	
	/********************************
		Bottom Email Section
	********************************/
	.emailBottomContainer .mailTitle{font-size: 24px;}
	.emailBottomContainer .formMail form input.send_message{width: 100%;}
	/*.emailBottomDivider{padding-top: 90%; background: #1f2024; width: 100%; margin-left: 0px;}
	.emailBottomContainer .rowMailContent {color: #fff; width: 100%; margin-left: -15px;}*/
	
	
	/****************************
		About Me - About Me Section
	****************************/
	.aboutmePageContainer .agentName{padding-top: 20px;}
	.aboutmePageContainer .agentBadge{text-align: center;}
	.aboutmePageContainer .agentDesc{font-size: 16px;}
	
	/****************************
		About Me - Testimonial Section
	****************************/
	.testimonialContainer #posts-carousel2 li{font-size: 18px;}
	.testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-next, .testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-prev{display: none;}
	
	/****************************
		About Me - Skillset Section
	****************************/
	.skillsetPageContainer .skillsetdesc, .skillsetPageContainer .skillsetlist{font-size: 16px;}
	.skillsetPageContainer .skillsetimg{padding-top: 20px;}
	.skillsetPageContainer .skillsetimg img{width: 100%; height: 100%;}
	
	
	/**********************************************
		COMMUNITIES PAGE CSS
	**********************************************/
	.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
	.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 110%; padding-right: 0px; margin-left: -28px}
	
	
	/****************************
		Blog Page
	****************************/
	#blogHeader{min-height: 180px; height: 190px;}
	#blogHeader .headerTitle{line-height: 180px; font-size: 3em;}
	#searchBlog{padding: 15px 20px 15px 20px;}
	
	#searchBlog .searchBlogText{width: 100%; padding-left: 5px; padding-right: 5px;}
	#blogSearchContent{padding: 30px; margin-top: 17%;}
	.blogPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0; padding-left: 0;}
	.blogPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0; padding-left: 0px;}
	#searchRow .btn_back_bloghome{width: 100%; text-align: center; font-size: 10px; padding-left: 5px;  padding-right: 5px;  padding-top: 15px;  padding-bottom: 15px;}
	#blogSearchContent .fblog_list{width: 100%;}
	#blogSearchContent .fblog_list .title{font-size: 22px;}
	#blogSearchContent .fblog_list .subtitle{font-size: 14px;}
	#blogSearchContent .fblog_list .description{font-size: 16px;}
	
	#blogContentContainer{margin-top: 26%;}
	#blogContentContainer .fblog_list{width: 100%; padding: 40px;}	
	#blogContentContainer .fblog_list .title{font-size: 20px;}
	#blogContentContainer .fblog_list .subtitle{font-size: 14px;}
	#blogContentContainer .fblog_list .description{font-size: 16px;}
	#commentform #author, #commentform #email, #commentform #url, #commentform #comment{width: 100%;}
	
	#blogfooter .wrapper{width: 100%;}
	
}

@media (max-width: 768px){
	/*****************************
		Intro Page Preloader Loader
	*****************************/
	.loader .logo {font-size: 20px;}
	#intro-scroll{width: 50%; left: 45%; bottom: 100px;}
	.intro .intro-text h2 {font-size: 22px; margin-bottom: 50px;}
	.intro-holder{padding-bottom: 24px;}
	
	
	/******************************
		Left Menu
	******************************/
	header.header-top .site-logo{height: 90px;}
	.mobile-leftclose{height: 30px; position: absolute; left: 210px; top: -5px; color: #fff; padding: 5px;}
	.mobile-leftclose img{height: 24px; width: 24px;}
	
	/******************************
		Top Header
	******************************/
	#main-view{margin-top: -15px;}
	.topclientheaderbg{min-height: 190px;}
	.topclientheader{min-height: 190px;}
	.topHeaderContent{padding-top: 60px; padding-left: 50px;}
	.topHeaderContent .agentPic{width: 100px; height: 100px;}
	.topHeaderInfo .topAgentName{font-size: 20px;}
	.topHeaderInfo .topAgentContact, .topHeaderInfo .topAgentEmail{font-size: 16px;}
	.topsimplerighticon .roundBorder img {width: 22px; vertical-align: text-bottom;}
	.topsimpleagentname{padding-left: 65px; font-size: 2em;}
	
	
	/**************************
		Home - Main Section
	**************************/
	.aboutSection .aboutVerifyLogo{text-align: center; padding: 20px 0 20px 0;}
	.aboutSection .aboutTitle{font-size: 28px; padding-top: 20px;}
	.aboutSection .aboutDesc{font-size: 18px;}
	
	/********************************
		Home - Buy, Sell & Invest Section
	********************************/
	.buysellSection .bsiDesc{font-size: 24px;}
	
	/********************************
		Home - Recent Blog Section
	********************************/
	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-prev{left: 0;}
	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-next{left: 90%;}
	
	/********************************
		Bottom Email Section
	********************************/
	/*.emailBottomContainer .mailTitle{font-size: 24px;}
	.emailBottomContainer .formMail form input.send_message{width: 100%;}
	.emailBottomDivider{padding-top: 90%; background: #1f2024; width: 100%; margin-left: 0px;}
	.emailBottomContainer .rowMailContent {color: #fff; width: 100%; margin-left: -15px;}*/
	
	/****************************
		About Me - About Me Section
	****************************/
	.aboutmePageContainer .agentName{padding-top: 20px;}
	.aboutmePageContainer .agentBadge{text-align: center;}
	.aboutmePageContainer .agentDesc{font-size: 16px;}
	
	/****************************
		About Me - Testimonial Section
	****************************/
	.testimonialContainer #posts-carousel2 li{font-size: 18px;}
	.testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-next, .testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-prev{display: none;}
	
	/****************************
		About Me - Skillset Section
	****************************/
	.skillsetPageContainer .skillsetdesc, .skillsetPageContainer .skillsetlist{font-size: 16px;}
	.skillsetPageContainer .skillsetimg{padding-top: 20px;}
	.skillsetPageContainer .skillsetimg img{width: 100%; height: 100%;}
	
	
	/**********************************************
		COMMUNITIES PAGE CSS
	**********************************************/
	.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
	.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 110%; padding-right: 0px; margin-left: -28px}
	
	/****************************
		Blog Page
	****************************/
	#blogHeader{min-height: 180px; height: 190px;}
	#blogHeader .headerTitle{line-height: 180px; font-size: 3em;}
	#searchBlog .searchBlogText{width: 100%; padding-left: 5px; padding-right: 5px;}
	.blogPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0; padding-left: 0;}
	.blogPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0; padding-left: 0px;}
	#searchRow .btn_back_bloghome{width: 100%; text-align: center; font-size: 12px; padding-left: 5px;  padding-right: 5px;  padding-top: 10px;  padding-bottom: 10px;}
	
	#blogSearchContent{padding: 30px;}
	#blogSearchContent .fblog_list{width: 100%;}
	#blogSearchContent .fblog_list .title{font-size: 22px;}
	#blogSearchContent .fblog_list .subtitle{font-size: 14px;}
	#blogSearchContent .fblog_list .description{font-size: 16px;}
	
	#blogContentContainer .fblog_list{width: 100%; padding: 40px;}	
	#blogContentContainer .fblog_list .title{font-size: 20px;}
	#blogContentContainer .fblog_list .subtitle{font-size: 14px;}
	#blogContentContainer .fblog_list .description{font-size: 16px;}
	/*#commentform #author, #commentform #email, #commentform #url, #commentform #comment{width: 50%;}*/
	
	#blogfooter .wrapper{width: 100%;}
}

@media (max-width: 1024px){
	.smallScreen{width: 100%; padding-left: 0px; padding-right: 0%; z-index:-1;}
	
	/*****************************
		Intro Page Preloader Loader
	*****************************/
	.loader .logo {font-size: 20px;}
	#intro-scroll{width: 50%; left: 45%; bottom: 100px;}
	.intro .intro-text h2 {font-size: 22px; margin-bottom: 50px;}
	.intro-holder{padding-bottom: 24px;}
	
	
	/******************************
		Top Header
	******************************/
	#main-view{margin-top: -15px;}
	.topclientheaderbg{min-height: 190px;}
	.topclientheader{min-height: 190px;}
	.topHeaderContent{padding-top: 60px; padding-left: 50px;}
	.topHeaderContent .agentPic{width: 100px; height: 100px;}
	.topHeaderInfo .topAgentName{font-size: 30px; padding-bottom: 0px;}
	.topHeaderInfo .topAgentContact, .topHeaderInfo .topAgentEmail{font-size: 16px;}
	.topsimplerighticon .roundBorder img {width: 22px; vertical-align: text-bottom;}
	.topsimpleagentname{padding-left: 65px; font-size: 2em;}
	
	/******************************
		Left Menu
	******************************/
	.mobile-leftclose{height: 30px; position: absolute; left: 210px; top: -5px; color: #fff; padding: 5px;}
	.mobile-leftclose img{height: 24px; width: 24px;}
	
	/**************************
		Home - Main Section
	**************************/
	.aboutSection .quickSection #ihf-main-container .btn-primary{width: 100%; padding-left: 0px;}

	
	/********************************
		Home - Recent Blog Section
	********************************/
	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-prev{left: 0;}
	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-next{left: 95%;}
	
	
	/********************************
		Bottom Email Section
	********************************/
	/*.emailBottomContainer .mailTitle{font-size: 24px;}
	.emailBottomContainer .formMail form input.send_message{width: 100%;}
	.emailBottomDivider{padding-top: 90%; background: #1f2024; width: 100%; margin-left: 0px;}
	.emailBottomContainer .rowMailContent {color: #fff; width: 100%; margin-left: -15px;}*/
	
	
	/****************************
		About Me - Testimonial Section
	****************************/
	.testimonialContainer #posts-carousel2 li{font-size: 18px;}
	.testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-next, .testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-prev{display: none;}
	
	/****************************
		About Me - Skillset Section
	****************************/
	.skillsetPageContainer .skillsetimg img{width: 100%; height: 100%;}
	
	
	
	/**********************************************
		COMMUNITIES PAGE CSS
	**********************************************/
	.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
	.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 110%; padding-right: 0px; margin-left: -28px}
	
	
	/****************************
		Blog Page
	****************************/
	#blogHeader{min-height: 180px; height: 190px;}
	#blogHeader .headerTitle{line-height: 180px; font-size: 3em;}
	#blogSearchContent{padding: 30px;}
	#searchBlog .searchBlogText{width: 100%; padding-left: 5px; padding-right: 5px;}
	.blogPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0; padding-left: 0;}
	.blogPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0; padding-left: 0px;}
	#searchRow .btn_back_bloghome{width: 100%; text-align: center; font-size: 12px; padding-left: 5px;  padding-right: 5px;  padding-top: 10px;  padding-bottom: 10px;}
	
	#blogSearchContent .fblog_list{width: 100%;}
	#blogSearchContent .fblog_list .title{font-size: 22px;}
	#blogSearchContent .fblog_list .subtitle{font-size: 14px;}
	#blogSearchContent .fblog_list .description{font-size: 16px;}
	
	#blogContentContainer .fblog_list{width: 100%; padding: 40px;}	
	#blogContentContainer .fblog_list .title{font-size: 20px;}
	#blogContentContainer .fblog_list .subtitle{font-size: 14px;}
	#blogContentContainer .fblog_list .description{font-size: 16px;}
	/*#commentform #author, #commentform #email, #commentform #url, #commentform #comment{width: 50%;}*/
	
	#blogfooter .wrapper{width: 100%;}
	
}

/*@media (min-width: 1025px) and (max-width: 1096px){*/
@media (min-width: 1025px) and (max-width: 1096px){
	.smallScreen{width: 1096px; padding-left: 30%; padding-right: 10%;}
	
	/*****************************
		Intro Page Preloader Loader
	*****************************/
	.loader .logo {font-size: 20px;}
	#intro-scroll{width: 50%; left: 45%; bottom: 150px;}
	.intro .intro-text h2 {font-size: 22px; margin-bottom:100px;}
	.intro-holder{padding-bottom: 24px;}
	.intro .intro-background .intro-border.bottom {height: 101%;}
	
	/******************************
		Top Header
	******************************/
	.topHeaderInfo {padding-left: 145px;}	
	.topsimplerighticon{padding: 16px;}
	/**************************
		Home - Main Section
	**************************/
	.aboutSection .colPaddingAll {padding-bottom: 10px; padding-right: 10px; padding-left: 10px;}
	.aboutSection .aboutVerifyLogo{text-align: center; padding: 20px;}
	.aboutSection .aboutTitle{font-size: 24px; padding-top: 20px; padding-left: 60px;}
	.aboutSection .aboutDesc{font-size: 16px;}
	.aboutSection .quickSection #ihf-main-container .btn-primary{width: 100%;}
	.aboutSection .quickTitle{font-size: 24px;}
	.aboutSection .knowmoreDiv a, .aboutSection .contactDiv a{font-size: 14px; width: 120px;}
	
	/********************************
		Home - Buy, Sell & Invest Section
	********************************/
	.buysellSection .bsiDesc{font-size: 24px;}
	
	
	/********************************
		Home - Recent Blog Section
	********************************/
	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-prev,	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-next{display: none;}
	.recentBlogContainer .posts-carousel-article{padding: 10px;}
	.recentBlogContainer .recentBlogDesc{font-size: 12px;}
	
	
	/********************************
		Bottom Email Section
	********************************/
	/*.emailBottomContainer .mailTitle{font-size: 24px;}
	.emailBottomContainer .formMail form input.send_message{width: 100%;}
	.emailBottomDivider{padding-top: 20%; background: #1f2024; width: 100%; margin-left: 0px;}
	.emailBottomContainer .rowMailContent {color: #fff; width: 100%; margin-left: -15px;}*/
	
	
	
	/****************************
		About Me - Testimonial Section
	****************************/
	.testimonialContainer #posts-carousel2 li{font-size: 18px;}
	.testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-next, .testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-prev{display: none;}
	
	/****************************
		About Me - Skillset Section
	****************************/
	.skillsetPageContainer .skillsetdesc, .skillsetPageContainer .skillsetlist{font-size: 18px;}
	.skillsetPageContainer .skillsetimg{padding-top: 20px;}
	.skillsetPageContainer .skillsetimg img{width: 100%; height: 100%;}
	
	
	
	/**********************************************
		COMMUNITIES PAGE CSS
	**********************************************/
	.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
	.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 80%; padding-right: 0px; margin-left: 250px}
	
	/****************************
		Blog Page
	****************************/
	#blogHeader{min-height: 180px; height: 190px;}
	#blogHeader .headerTitle{line-height: 180px; font-size: 3em;}
	#searchBlog{padding: 15px 20px 15px 0px;}
	#searchBlog .searchBlogText{width: 50%;}
	#blogSearchContent{padding: 30px;}
	#searchBlog .searchBlogText{width: 100%; padding-left: 5px; padding-right: 5px;}
	.blogPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0; padding-left: 0;}
	.blogPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0; padding-left: 265px;}
	#searchRow .btn_back_bloghome{width: 55%; text-align: center; font-size: 12px; padding-left: 5px;  padding-right: 5px;  padding-top: 10px;  padding-bottom: 10px;}
	
	#blogSearchContent .fblog_list{width: 100%;}
	#blogSearchContent .fblog_list .title{font-size: 22px;}
	#blogSearchContent .fblog_list .subtitle{font-size: 14px;}
	#blogSearchContent .fblog_list .description{font-size: 16px;}
	
	#blogContentContainer .fblog_list{width: 100%; padding: 40px;}	
	#blogContentContainer .fblog_list .title{font-size: 20px;}
	#blogContentContainer .fblog_list .subtitle{font-size: 14px;}
	#blogContentContainer .fblog_list .description{font-size: 16px;}
	/*#commentform #author, #commentform #email, #commentform #url, #commentform #comment{width: 50%;}*/
	
	#blogfooter .wrapper{width: 100%;}
	
}
@media (min-width: 1097px) and (max-width: 1280px){
	.smallScreen{width: 100%; padding-left: 27%; padding-right: 2%;}
	
	/*****************************
		Intro Page Preloader Loader
	*****************************/
	.loader .logo {font-size: 28px;}
	#intro-scroll{width: 50%; left: 45%; bottom: 150px;}
	.intro .intro-text h2 {font-size: 22px; margin-bottom:100px;}
	.intro-holder{padding-bottom: 24px;}
	.intro .intro-background .intro-border.bottom {height: 101%;}
	
	/******************************
		Top Header
	******************************/
	.topHeaderInfo {padding-left: 145px;}	
	.topsimplerighticon{padding: 16px;}
	/**************************
		Home - Main Section
	**************************/
	.aboutSection .colPaddingAll {padding-bottom: 10px; padding-right: 10px; padding-left: 10px;}
	.aboutSection .aboutVerifyLogo{text-align: center; padding: 20px;}
	.aboutSection .aboutTitle{font-size: 24px; padding-top: 20px; padding-left: 60px;}
	.aboutSection .aboutDesc{font-size: 16px;}
	.aboutSection .quickSection #ihf-main-container .btn-primary{width: 100%;}
	.aboutSection .quickTitle{font-size: 24px;}
	.aboutSection .knowmoreDiv a, .aboutSection .contactDiv a{font-size: 14px; width: 120px;}
	
	/********************************
		Home - Buy, Sell & Invest Section
	********************************/
	.buysellSection .bsiDesc{font-size: 24px;}
	
	
	/********************************
		Home - Recent Blog Section
	********************************/
	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-prev,	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-next{display: none;}
	.recentBlogContainer .posts-carousel-article{padding: 10px;}
	.recentBlogContainer .recentBlogDesc{font-size: 12px;}
	
	
	/********************************
		Bottom Email Section
	********************************/
	/*.emailBottomContainer .mailTitle{font-size: 24px;}
	.emailBottomContainer .formMail form input.send_message{width: 100%;}
	.emailBottomDivider{padding-top: 20%; background: #1f2024; width: 100%; margin-left: 0px;}
	.emailBottomContainer .rowMailContent {color: #fff; width: 100%; margin-left: -15px;}*/
	
	
	/****************************
		About Me - Testimonial Section
	****************************/
	.testimonialContainer #posts-carousel2 li{font-size: 18px;}
	.testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-next, .testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-prev{display: none;}
	
	/****************************
		About Me - Skillset Section
	****************************/
	.skillsetPageContainer .skillsetdesc, .skillsetPageContainer .skillsetlist{font-size: 18px;}
	.skillsetPageContainer .skillsetimg{padding-top: 20px;}
	.skillsetPageContainer .skillsetimg img{width: 100%; height: 100%;}
	
	
	/**********************************************
		COMMUNITIES PAGE CSS
	**********************************************/
	.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
	.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 82%; padding-right: 0px; margin-left: 250px}
	
	
	/****************************
		Blog Page
	****************************/
	#searchBlog{padding: 15px 20px 15px 0px;}
	#searchBlog .searchBlogText{width: 50%;}
	#blogSearchContent{padding: 30px;}
	#searchBlog .searchBlogText{width: 100%; padding-left: 5px; padding-right: 5px;}
	.blogPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0; padding-left: 0;}
	.blogPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0; padding-left: 265px;}
	#searchRow .btn_back_bloghome{width: 55%; text-align: center; font-size: 12px; padding-left: 5px;  padding-right: 5px;  padding-top: 10px;  padding-bottom: 10px;}
	
	#blogSearchContent .fblog_list{width: 100%;}
	#blogSearchContent .fblog_list .title{font-size: 22px;}
	#blogSearchContent .fblog_list .subtitle{font-size: 14px;}
	#blogSearchContent .fblog_list .description{font-size: 16px;}
	
	
	#blogContentContainer .fblog_list{width: 100%; padding: 40px;}	
	#blogContentContainer .fblog_list .title{font-size: 20px;}
	#blogContentContainer .fblog_list .subtitle{font-size: 14px;}
	#blogContentContainer .fblog_list .description{font-size: 16px;}
	/*#commentform #author, #commentform #email, #commentform #url, #commentform #comment{width: 50%;}*/
	
	#blogfooter .wrapper{width: 100%;}
	
}

@media (min-width: 1281px) and (max-width: 1400px){
	.smallScreen{width: 100%; padding-left: 27%; padding-right: 2%;}
	
	/******************************
		Left Menu
	******************************/
	:not(.tablet) .nav-sidebar nav, :not(.mobile) .nav-sidebar nav {height: calc(100vh - 150px);}
	
	/*****************************
		Intro Page Preloader Loader
	*****************************/
	.loader .logo {font-size: 28px;}
	#intro-scroll{width: 50%; left: 45%; bottom: 150px;}
	.intro .intro-text h2 {font-size: 22px; margin-bottom:100px;}
	.intro-holder{padding-bottom: 24px;}
	.intro .intro-background .intro-border.bottom {height: 101%;}
	
	/******************************
		Top Header
	******************************/
	.topHeaderInfo {padding-left: 145px;}	
	.topsimplerighticon{padding: 16px;}
	
	
	/**************************
		Home - Main Section
	**************************/
	.aboutSection .colPaddingAll {padding-bottom: 10px; padding-right: 10px; padding-left: 10px;}
	.aboutSection .aboutVerifyLogo{text-align: center; padding: 20px;}
	.aboutSection .aboutTitle{font-size: 24px; padding-top: 20px; padding-left: 60px;}
	.aboutSection .aboutDesc{font-size: 16px;}
	.aboutSection .quickSection #ihf-main-container .btn-primary{width: 100%;}
	.aboutSection .quickTitle{font-size: 24px;}
	.aboutSection .knowmoreDiv a, .aboutSection .contactDiv a{font-size: 14px; width: 120px;}
	
	/********************************
		Home - Buy, Sell & Invest Section
	********************************/
	.buysellSection .bsiDesc{font-size: 24px;}
	
	
	/********************************
		Home - Recent Blog Section
	********************************/
	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-prev,	.recentBlogContainer #posts-carousel-wrap .bx-wrapper .bx-next{display: none;}
	.recentBlogContainer .posts-carousel-article{padding: 10px;}
	.recentBlogContainer .recentBlogDesc{font-size: 12px;}
	
	
	/********************************
		Bottom Email Section
	********************************/
	/*.emailBottomContainer .mailTitle{font-size: 24px;}
	.emailBottomContainer .formMail form input.send_message{width: 100%;}
	.emailBottomDivider{padding-top: 20%; background: #1f2024; width: 100%; margin-left: 0px;}
	.emailBottomContainer .rowMailContent {color: #fff; width: 100%; margin-left: -15px;}*/
	
	
	
	/****************************
		About Me - Testimonial Section
	****************************/
	.testimonialContainer #posts-carousel2 li{font-size: 18px;}
	.testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-next, .testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-prev{display: none;}
	
	
	/****************************
		About Me - Skillset Section
	****************************/
	.skillsetPageContainer .skillsetdesc, .skillsetPageContainer .skillsetlist{font-size: 18px;}
	.skillsetPageContainer .skillsetimg{padding-top: 20px;}
	.skillsetPageContainer .skillsetimg img{width: 100%; height: 100%;}
	
	/**********************************************
		COMMUNITIES PAGE CSS
	**********************************************/
	.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
	.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 82%; padding-right: 0px; margin-left: 250px}
	
	
	/**********************************************
		BLOG PAGE CSS
	**********************************************/
	#searchBlog{padding: 15px 20px 15px 0px;}
	#searchBlog .searchBlogText{width: 50%;}
	#blogSearchContent{padding: 30px;}
	#searchBlog .searchBlogText{width: 100%; padding-left: 5px; padding-right: 5px;}
	.blogPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0; padding-left: 0;}
	.blogPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0; padding-left: 265px;}
	#searchRow .btn_back_bloghome{width: 55%; text-align: center; font-size: 12px; padding-left: 5px;  padding-right: 5px;  padding-top: 10px;  padding-bottom: 10px;}
	
	#blogSearchContent .fblog_list{width: 100%;}
	#blogSearchContent .fblog_list .title{font-size: 22px;}
	#blogSearchContent .fblog_list .subtitle{font-size: 14px;}
	#blogSearchContent .fblog_list .description{font-size: 16px;}
	
	
	#blogContentContainer .fblog_list{width: 100%; padding: 40px;}	
	#blogContentContainer .fblog_list .title{font-size: 20px;}
	#blogContentContainer .fblog_list .subtitle{font-size: 14px;}
	#blogContentContainer .fblog_list .description{font-size: 16px;}
	/*#commentform #author, #commentform #email, #commentform #url, #commentform #comment{width: 50%;}*/
	
	#blogfooter .wrapper{width: 100%;}
	
}
@media (min-width: 1401px) and (max-width: 1680px){
	.smallScreen{width: 100%; padding-left: 27%; padding-right: 2%;}
	
	.aboutSection .quickSection #ihf-main-container .btn-primary{width: 100%;}
	
	/*****************************
		Intro Page Preloader Loader
	*****************************/
	.loader .logo {font-size: 28px;}
	#intro-scroll{width: 50%; left: 45%; bottom: 150px;}
	.intro .intro-text h2 {font-size: 22px; margin-bottom:100px;}
	.intro-holder{padding-bottom: 24px;}
	.intro .intro-background .intro-border.bottom {height: 101%;}
	
	
	/********************************
		Bottom Email Section
	********************************/
	/*.emailBottomContainer .mailTitle{font-size: 24px;}
	.emailBottomContainer .formMail form input.send_message{width: 100%;}
	.emailBottomDivider{padding-top: 20%; background: #1f2024; width: 100%; margin-left: 0px;}
	.emailBottomContainer .rowMailContent {color: #fff; width: 100%; margin-left: -15px;}*/
	
	/****************************
		About Me - Testimonial Section
	****************************/
	.testimonialContainer #posts-carousel2 li{font-size: 22px;}
	.testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-next, .testimonialContainer #posts-carousel-wrap2 .bx-wrapper .bx-prev{display: none;}
	
	
	/****************************
		About Me - Skillset Section
	****************************/
	.skillsetPageContainer .skillsetdesc, .skillsetPageContainer .skillsetlist{font-size: 18px;}
	.skillsetPageContainer .skillsetimg{padding-top: 20px;}
	.skillsetPageContainer .skillsetimg img{width: 100%; height: 100%;}
	
	/**********************************************
		COMMUNITIES PAGE CSS
	**********************************************/
	.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
	.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 85%; padding-right: 0px; margin-left: 250px}
	
	
	/**********************************************
		BLOG PAGE CSS
	**********************************************/
	#searchBlog{padding: 15px 20px 15px 0px;}
	#searchBlog .searchBlogText{width: 50%;}
	#blogSearchContent{padding: 30px;}
	#searchBlog .searchBlogText{width: 100%; padding-left: 5px; padding-right: 5px;}
	.blogPageSection{min-height: 650px; background-color: #f5f5f3; padding-right: 0; padding-left: 0;}
	.blogPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 100%; padding-right: 0; padding-left: 265px;}
	#searchRow .btn_back_bloghome{width: 55%; text-align: center; font-size: 12px; padding-left: 5px;  padding-right: 5px;  padding-top: 10px;  padding-bottom: 10px;}
	
	#blogSearchContent .fblog_list{width: 100%;}
	#blogSearchContent .fblog_list .title{font-size: 22px;}
	#blogSearchContent .fblog_list .subtitle{font-size: 14px;}
	#blogSearchContent .fblog_list .description{font-size: 16px;}
	
	
	#blogContentContainer .fblog_list{width: 100%; padding: 40px;}	
	#blogContentContainer .fblog_list .title{font-size: 20px;}
	#blogContentContainer .fblog_list .subtitle{font-size: 14px;}
	#blogContentContainer .fblog_list .description{font-size: 16px;}
	/*#commentform #author, #commentform #email, #commentform #url, #commentform #comment{width: 50%;}*/
	
	#blogfooter .wrapper{width: 100%;}
	
}
@media (min-width: 1681px){
	
	/**********************************************
		COMMUNITIES PAGE CSS
	**********************************************/
	.communityPageSection .topbottomPadding{padding-top: 20px; padding-bottom: 20px;}
	.communityPageContainer{padding-top: 100px; font-family: 'Futura W02'; width: 85%; padding-right: 0px; margin-left: 250px}
	
	
}