label {font-family:Helvetica, Arial; font-size:12px;}
.mfs-container {position:relative; width:130px; color:#666666; font-family:Helvetica, Arial; font-size:12px;}
.mfs-container select {display:none;}
.mfs-options {position:absolute; width:100%; padding:0; margin:0; list-style-type:none; background:#ffffff; border:1px solid #cccccc; border-radius:5px; z-index:10;}
.mfs-options li a {display:block; padding:10px;; text-decoration:none; color:#666666;text-align:left;}
.mfs-optgroup-option {padding-left:10px;}
.mfs-options li.mfs-optgroup {padding:4px 5px; color:#999999;}
.mfs-options li.selected {background-color:#666666;}
.mfs-options li.selected a {color:#ffffff;}
.mfs-options li.active {background-color:#cccccc;}
a.mfs-selected-option {
	display:block;
	height:40px;
	line-height:40px;
	padding-left:10px;
	text-align:left;
    text-decoration:none;
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );

    border:1px solid #b4b4b4;
    border-radius:5px;
    color:#666666;
    white-space:nowrap;
    overflow:hidden;
}
a.mfs-selected-option span {
	height:100%;
	display:block;
	position:absolute;
	top:0; 
	right:0; 
	width:35px;
	padding:5px 0;
	border:1px solid #b4b4b4;;
	border-left:none;
	border-radius:5px;
	border-top-left-radius:0px; 
	border-bottom-left-radius:0px; 
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(232,232,232,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(232,232,232,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
}
a.mfs-selected-option span:after {display:inline-block; 
  display: inline-block;
  position: absolute;
  top: 17px;
  left: 0px;
  width: 0;
  height: 0;
  border-top: 5px solid #555555;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
 }

 
