nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/*#cssmenu ul ul li.parentMenu{
	border-bottom: 1px #27c2ad solid;
}*/
#cssmenu ul ul li.parentMenu a{
	background: #27c2ad;
	color: #fff !important;
	font-weight: 400;
}
#cssmenu ul ul li.parentMenu a:hover{
	background: #27c2ad;
	color: #27c2ad;	
}
/*#cssmenu ul ul li{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;	
  padding-bottom: 5px;
}*/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a{
  border: 0;
  list-style: none;
  line-height: 1;
  display: inline-block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#cssmenu #head-mobile {
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
 
}
#cssmenu .m_container{
	float: left;
	display: inline-block;
    width: 100%;
}
#cssmenu .m_container2{
	display: none;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0
}

#cssmenu #head-mobile {
  display: none
}

#cssmenu {
  /*font-family: sans-serif;
  background: #333*/
  	min-height: 100px;
	width: 100%;
	float: left;
	vertical-align: middle;	
	font-size: 20px;
	font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 200', Arial, sans-serif;
	font-weight: 400;
	text-decoration: none !important;
	margin-bottom: 15px;
}

#cssmenu #logo {
    height: 76px;
    width: 152px;
    display: block;
}
#cssmenu #logo .logo_container {
    position: absolute;
    left: 20px;
    top: 20px;
    height: 76px;
    display: block;
    right: 20px;
}

#cssmenu .sub-menu {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45);
    position: absolute;
    width: 240px;
    z-index: 1;
    border-bottom: 4px solid #27c2ad;
}
#cssmenu .left_menu>li>a,
#cssmenu .right_menu>li>a{
	color: #555555;
	padding: 0 18px;
    padding-top: 43px;
    padding-bottom: 35px;
    font-size: 22px;
	font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 300', Arial, sans-serif;
	font-weight: 300;
}
#cssmenu .left_menu {
    float: left;
    /*padding-right: 50px;*/
}
#cssmenu .right_menu {
	float: right;
    padding-left: 50px;
}
#cssmenu > ul > li {
  	float: left;
	
}
.section.header .hcontainer {
    padding: 0px;
}
.section.header .hcontainer{
    padding-right: 20px;
    padding-left: 20px;
}

#cssmenu > ul > li > a {
  /*padding: 17px;*/
  font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 200', Arial, sans-serif;
  font-weight: 200;
 /* letter-spacing: 1px;*/
  text-decoration: none;
  padding: 5px 5px 0px 0px;
  
}

#cssmenu > ul > li:hover > a,
#cssmenu ul li.active a {
  color: #000;
}

/*Top Main Menu*/
#cssmenu  .m_container > ul > li:hover,
#cssmenu  .m_container2 > ul > li:hover,
#cssmenu ul li.active:hover,
#cssmenu ul li.active,
#cssmenu ul li.has-sub.active:hover {
  background: #f5f5f5 !important;
  -webkit-transition: background .3s ease;
  -ms-transition: background .3s ease;
  transition: background .3s ease;
}

#cssmenu > ul > li.has-sub > a {
  padding-right: 30px
}

#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #e4f8f5;
  /*content: ''*/
}

#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #e4f8f5;
  /*content: '';*/
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}

#cssmenu ul ul li { /*Sub menu Backgroudn*/
  height: 0;
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  background: #f7fcfc;
  transition: all .25s ease;
}

#cssmenu ul ul li:hover {
	color: #000;
}

#cssmenu li:hover > ul { /*Sub menu position*/
  left: 0;
  display: block;
}

#cssmenu li:hover > ul > li {
  height: 40px
}

#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0
}

#cssmenu ul ul li a {
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 240px;
  font-size: 19px;
  text-decoration: none;
  color: #55555;
  font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 200', Arial, sans-serif;
  font-weight: 200;
}

#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0
}

/*Menu that no sub menu*/
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #27c2ad;
  background: #e4f8f5;
}

#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #e4f8f5;
  /*content: ''*/
}

#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #e4f8f5;
 /* content: '';*/
  -webkit-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease
}

#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0
}

#cssmenu ul ul li.has-sub:hover,
#cssmenu ul li.has-sub ul li.has-sub ul li:hover {
  background: #e4f8f5;
}

#cssmenu ul ul ul li.active a {
  border-left: 1px solid #333
}

#cssmenu > ul > li.has-sub > ul > li.active > a,
#cssmenu > ul ul > li.has-sub > ul > li.active> a {
  border-top: 1px solid #333
}

/*2nd Menu Template CSS*/
@media screen and (min-width: 1200px){
	.section.header .hcontainer { width: 1170px; margin-right: auto; margin-left: auto;}
}
@media screen and (max-width: 1200px){
	#cssmenu .m_container2 .sub-menu {-webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45); -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45); box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.45); position: absolute; width: 240px; z-index: 1; border-bottom: 4px solid #27c2ad; text-align: left;}
	#cssmenu .m_container2 .left_menu,
	#cssmenu .m_container2 .right_menu {float: none;}
	#cssmenu .m_container2 > ul > li {float: none;}
	#cssmenu .m_container2 > ul > li > a { font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 200', Arial, sans-serif; font-weight: 200; text-decoration: none; padding: 20px 20px 20px 20px;     font-size: 19px;  -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;}
	#cssmenu .m_container2 > ul > li {float: left; }
	#cssmenu .m_container2{float: left; margin-top: 120px; width: 100%; margin-bottom: -30px;}
	#cssmenu .m_container2{float: left; display: inline-block; width: 100%; text-align: center;}
	#cssmenu .m_container { display: none;};	
}

@media screen and (max-width: 968px){
	#cssmenu .m_container2 > ul > li > a { font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 200', Arial, sans-serif; font-weight: 200; text-decoration: none; padding: 20px 20px 20px 20px;     font-size: 18px;  -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;}	
}
/*End 2nd Menu Template*/

@media screen and (max-width: 768px){
	/*#cssmenu .m_container .left_menu,
	#cssmenu .m_container .right_menu {
		padding: 0px;
	}
	#cssmenu .m_container .left_menu a,
	#cssmenu .m_container .right_menu a{
		font-size: 18px;
	}
	
	#cssmenu .m_container .left_menu ul li ul{ 
	   display: block;
	   position:static;
	}
	#cssmenu .m_container .left_menu ul li:hover,
	#cssmenu .m_container .right_menu ul li:hover {
		position: relative;
		z-index: 599;
		cursor: default;
	}*/
}

@media screen and (min-width: 768px) and (max-width: 992px){
	#cssmenu {
		margin-bottom: 35px;
	}
	#cssmenu .m_container .left_menu a,
	#cssmenu .m_container .right_menu a{
		font-size: 18px;
	}
	#cssmenu .left_menu>li>a,
	#cssmenu .right_menu>li>a{
		padding-left: 10px;
		padding-right: 30px !important;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 20px;
	}
	#cssmenu .m_container .col-sm-5 {width: 51.666667% !important;}
	#cssmenu .m_container .col-sm-7 {width: 47.333333%  !important;}
	#cssmenu .col-md-5, .col-sm-5, .col-xs-12{padding-right: 0; padding-left: 0;}
	
	/*2nd Menu Template*/
	#cssmenu .m_container2 .left_menu a,
	#cssmenu .m_container2 .right_menu a{
		font-size: 18px;
	}
	
}

@media screen and (max-width: 1200px) {
	#cssmenu {
		margin-bottom: 35px;
	}
	#cssmenu .right_menu {
		float: right;
		padding-left: 0;
	}
	/*#cssmenu .m_container{
		float: left;
		margin-top: 120px;
		width: 100%;
		margin-bottom: -30px;
	}*/
	#cssmenu .left_menu>li>a,
	#cssmenu .right_menu>li>a{
		padding-left: 10px;
		padding-right: 60px;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 20px;
	}
	#cssmenu .m_container .col-sm-5 {width: 50.666667%;}
	#cssmenu .m_container .col-sm-7 {width: 47.333333%;}
	
	

}

/*Mobile*/
/*@media screen and (max-width:767px) { */
@media screen and (max-width:785px) {
  /*.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none
  }
  .logo2 {
    display: none
  }*/
	 #cssmenu .logo_container {
		/*position: initial !important;;*/ 
		left: 20px;
		top: 20px;
		height: 76px;
		display: block;
		right: 20px;
		margin-left: 0;
	 }
	#cssmenu .m_container {
		margin-top: 115px !important;
		width: 100%;
		z-index: 222 !important;
		margin-bottom: -40px;
		position: absolute;
		display: inline-block;
	}

	#cssmenu .m_container2 {
		display: none;
	}
	#cssmenu .m_container .col-sm-5 {
		width: 100% !important;
	}
	#cssmenu .m_container .col-sm-7 {
		 width: 100% !important; 
	}


  nav {
    width: 100%;
  }
  #cssmenu {
    width: 100%;	
  }
  
  #cssmenu .sub-menu {
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    position: relative; 
    width: 240px;
    z-index: 1;
    border-bottom: none; 
}
  #cssmenu ul {
    width: 100% !important;
	padding: 0;
	
    /*display: none*/
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #ebf0f0;
	background: #f7fcfc;
  }
  #cssmenu ul li:hover {
    background: #e4f8f5 !important;
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
	font-size: 33px !important;
  }
  #cssmenu ul li a{
    width: 100%;
    border-bottom: 0;
	font-size: 24px !important;
	text-decoration: none;
	color: #55555;
	font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 300', Arial, sans-serif;
	font-weight: 300;
  }
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
	font-size: 20px !important;
	text-decoration: none;
	color: #55555;
	font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 200', Arial, sans-serif;
	font-weight: 200;
  }
  #cssmenu ul ul ul li a {
    width: 100%;
    border-bottom: 0;
	font-size: 18px !important;
	text-decoration: none;
	color: #55555;
	font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 200', Arial, sans-serif;
	font-weight: 200;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px
  }
  #cssmenu ul ul li {
    background: #f7fcfc !important;
	
  }

  #cssmenu ul ul li:hover {
    background: #e4f8f5 !important;
	color: #27c2ad;
  }
  #cssmenu ul ul ul li a {
    padding-left: 50px
  }
  #cssmenu ul ul li a {
	
	font-family: 'Yanone Kaffeesatz', 'Conv_Yanone Kaffeesatz 300', Arial, sans-serif;
	font-weight: 300;
	color: #555555;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #27c2ad;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
	
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none
  }
/*  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700
  }*/
  .section.header .hcontainer {
		padding-right: 0;
		padding-left: 0;
	}
  #cssmenu .m_container {
		float: none;
		margin-top: 0; 
		width: 100%;
	}
  .mbutton {
    width: 50px;
    position: absolute;
    right: 0;
    top: -50px;
    cursor: pointer;
	background: transparent url("../../images/nav.png") no-repeat scroll center center;
    border: 1px solid #27c2ad;
    border-radius: 3px;
    height: 40px;
    padding: 0;
	margin-right: 20px;
  }
  .mbutton:after {
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    /*content: ''*/
  }
  .mbutton:before {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: absolute;
    top: 16px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #e4f8f5;
    /*content: ''*/
  }
  .mbutton.menu-opened:after {
    -webkit-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .mbutton.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
   /* border-left: 1px solid #444;*/
    height: 60px;
    width: 60px;
    cursor: pointer;
  }
  /*#cssmenu .submenu-button.submenu-opened {
    background: #e4f8f5;
  }*/
  #cssmenu ul ul .submenu-button {
    height: 44px;
    width: 44px
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 30px;
    right: 25px;
    width: 8px;
    height: 2px;
    display: block;
    background: #27c2ad;
    content: ''
  }
  #cssmenu ul ul .submenu-button:after {
    top: 22px;
    right: 16px
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #27c2ad;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 27px;
    right: 28px;
    display: block;
    width: 2px;
    height: 8px;
    background: #27c2ad;
    content: ''
  }
  #cssmenu ul ul .submenu-button:before {
    top: 19px;
    right: 19px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none
  }
  #cssmenu ul ul ul li.active a {
    border-left: none
  }
  #cssmenu > ul > li.has-sub > ul > li.active > a,
  #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none
  }
}