
/* Homepage Carousel
-------------------------------------------------------------- */
#posts-carousel-wrap { margin: 0 auto 20px auto }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -23px; outline: 0; width: 46px; height: 46px; text-indent: -9999px; z-index: 99; border-radius: 50px; -moz-border-radius: 50px; -webkit-border-radius: 50px; opacity: 0.7; }
.bx-wrapper .bx-controls-direction a:hover { opacity: 1 }
.bx-wrapper .bx-controls-direction a.disabled { display: none }
#posts-carousel-wrap .bx-wrapper .bx-prev { left: -60px; background: url("images/home-carousel-arrow-left.png") center center no-repeat; -webkit-transition: .2s ease-out; -moz-transition: .2s linear; transition: .2s linear; }
#posts-carousel-wrap .bx-wrapper .bx-next { right: -60px; background: url("images/home-carousel-arrow-right.png") center center no-repeat; -webkit-transition: .2s ease-out; -moz-transition: .2s linear; transition: .2s linear; }
#posts-carousel li { width: 300px; float: left; font-size: 13px; position: relative; overflow: hidden; background: #fff; border-bottom: 1px solid #d3d3d3; }
#posts-carousel li img { display: block; width: 100%; }
#posts-carousel .overlay-plus { display: block; width: 74px; height: 74px; background: url("images/carousel-overlay.png") 0 0 no-repeat; position: absolute; top: 0; right: 0; transition: background 0.2s ease; -webkit-transition: background 0.2s ease; -o-transition: background 0.2s ease; -moz-transition: background 0.2s ease; }
#posts-carousel-wrap .bx-wrapper li:hover .overlay-plus { background: url("images/carousel-overlay-hover.png") 0 0 no-repeat }
#posts-carousel-wrap.no-carousel ul { margin-right: -20px }
#posts-carousel-wrap.no-carousel #posts-carousel li { margin-right: 20px }
.posts-carousel-article h2 { font-size: 24px; margin: 0 0 20px; color: #4f4f4f; font-weight: 400; }
.posts-carousel-article { padding: 30px; color: #646464; }
.posts-carousel-article p { margin: 0 }
